<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Alo68! Alô lộc phát!</title>
    <base href="/">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/node_modules/toastr/build/toastr.min.css"/>
    <link rel="stylesheet" href="/static/node_modules/owl.carousel/dist/assets/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/app/styles/alodathang-bootstrap.css">
    <link rel="stylesheet" href="/static/app/styles/main.css">
    <link rel="stylesheet" href="/static/app/styles/main-style.css">
    <link rel="stylesheet" href="/static/app/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/static/node_modules/pure-css-loader/dist/css-loader.css">
</head>

<body ng-app="alodathangApp" ng-controller="MainCtrl">
<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
<section id="header" class="hidden-xs">
    <div class="container">
        <div class="col-md-2 col-xs-3 text-left">
            <p>Tỷ giá: <span ng-bind="rate"></span></p>
        </div>
        <div class="col-md-2 col-xs-3 text-left">
            <p>
              <a id="no-decoration" href="/them-san-pham/"><i class="fa fa-plus-circle fa-lg mg-right-10"></i>Thêm giỏ hàng bằng tay</a>
            </p>
        </div>
        <div class="col-md-6 col-xs-6">
            <ul class="pull-right nav navbar-nav navbar-right">
                <li>
                    <a data-step="3" data-intro="Quản lý đơn hàng" title="Đơn hàng"
                       href="/user/my-order" class="text-color-res noti-icon"><i
                            class="fa fa-book"></i> QL Đơn hàng
                    </a>
                </li>
                <li>
                    <a data-step="3" data-intro="Chỉ số shop của giỏ hàng" title="Giỏ hàng"
                       href="/cart" class="text-color-res noti-icon"><i
                            class="fa fa-shopping-cart"></i>
                        <sup class="total-noti count" ng-bind="cart_count"></sup>
                    </a>
                </li>
                <li><a ng-if="!globals" class="text-color-res" href="/login"><i
                        class="fa fa-sign-in fa-lg mg-right-10"></i><span>Đăng nhập</span></a></li>
                <li><a ng-if="!globals" class="text-color-res" href="/signup"><i
                        class="fa fa-user fa-lg mg-right-10"></i><span>Đăng ký</span></a></li>
                <li class="dropdown" ng-include="'/static/app/views/msgCenter.html'"></li>
                <li ng-if="globals">
                    <a href="" class="dropdown-toggle profile-dropdown" title="Tin nhắn" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>Xin chào <span ng-bind="globals.username"></span></span>
                        <span ng-if="globals.vip_status!=0">VIP <span ng-bind="globals.vip_status"></span></span>
                    </a>
                    <ul class="dropdown-menu menu-down menu-user">
                        <li>
                            <a href="/user/my-order" title="Quản lý đơn hàng">
                                <span class="icon"><i class="fa fa-list-alt"></i></span> Quản lý đơn hàng
                            </a>
                        </li>
                        <li>
                            <a href="/user/payment-history" title="Lịch sử GD">
                                <span class="icon"><i class="fa fa-clock-o"></i></span> Lịch sử giao dịch
                            </a>
                        </li>
                        <li>
                            <a href="/user/change-password" title="Đổi mật khẩu">
                                <span class="icon"><i class="fa fa-key"></i></span> Đổi mật khẩu
                            </a>
                        </li>
                        <li>
                            <a href="/user/user-profile/" title="Thông tin cá nhân">
                                <span class="icon"><i class="fa fa-user"></i></span> Thông tin cá nhân
                            </a>
                        </li>
                        <li>
                            <a href="/" ng-controller="AuthenticationCtrl" ng-click="logout()" title="Đăng xuất">
                                <span class="icon"><i class="fa fa-sign-out"></i></span> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-3 text-left">
        </div>
    </div>
</section>
<header id="menu" class="hidden-lg hidden-md hidden-sm">
    <div class="container">
        <div class="">
            <div class="col-md-12">
                <nav class="inner-menu" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="btn-bar"><i class="fa fa-bars"></i></span>
                        </button>

                        <a id="logo" href="/" title="">
                            <img class="logodesktop" src="/static/app/images/main-logo.png" alt="logo">
                        </a>
                        <ul class="notiicon-mobile">
                            <li class="dropdown" ng-include="'/static/app/views/msgCenter.html'"></li>
                            <div ng-show="globals" class="nav navbar-nav">
                                <a style="color:#ffffff" href="" class="dropdown-toggle profile-dropdown" title="User-profile" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i>
                                </a>
                                <ul class="dropdown-menu menu-down menu-user">
                                    <li>
                                        <a href="/user/my-order" title="Quản lý đơn hàng">
                                            <span class="icon"><i class="fa fa-list-alt"></i></span> Quản lý đơn hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/user/payment-history" title="Lịch sử GD">
                                            <span class="icon"><i class="fa fa-clock-o"></i></span> Lịch sử giao dịch
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/user/change-password" title="Đổi mật khẩu">
                                            <span class="icon"><i class="fa fa-key"></i></span> Đổi mật khẩu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/user/user-profile/" title="Thông tin cá nhân">
                                            <span class="icon"><i class="fa fa-user"></i></span> Thông tin cá nhân
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/" ng-controller="AuthenticationCtrl" ng-click="logout()" title="Đăng xuất">
                                            <span class="icon"><i class="fa fa-sign-out"></i></span> Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav nav-menu">
                            <li ng-class="{ 'active': checkActiveSubPage('/') }">
                                <a class="item-menu" href="/" title="Trang chủ">Trang chủ</a>
                            </li>

                            <li>
                                <a class="item-menu" href="/page/gioi-thieu/" title="Giới thiệu">Giới thiệu</a>
                            </li>
                            <li>
                                <a class="item-menu" href="/page/bao-gia/" title="Báo giá">Báo giá</a>

                            </li>
                            <li>
                                <a class="item-menu" href="/page/huong-dan" title="Hướng dẫn">Hướng dẫn</a>
                            </li>
                            <li>
                                <a class="item-menu" href="/page/tin-tic/" title="Tin tức">Tin tức</a>
                            </li>
                            <li>
                                <a class="item-menu" href="/page/lien-he/" title="Liên hệ">Liên hệ</a>
                            </li>
                            <li>
                                <a data-step="1" data-intro="Link cài đặt công cụ đặt hàng" class="extentsion"
                                   href="https://chrome.google.com/webstore/detail/alo68-addon/lfpkejldifbkjonlfefpkfjbjfaapbbo"
                                   target="_blank" title="Công cụ đặt hàng">
                                    <img src="/static/app/images/extension.png" alt="extentsion">
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Add your site or application content here -->
<header class="hidden-xs" id="menu">
    <div class="container">
        <div class="">
            <div class="col-md-12">
                <nav class="inner-menu" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="btn-bar"><i class="fa fa-bars"></i></span>
                        </button>
                        <a class="logo" href="/" title="">
                            <img class="logodesktop" src="/static/app/images/main-logo.png" alt="logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav nav-menu">
                            <li ng-class="{ 'active': checkActiveSubPage('/') }">
                                <a class="item-menu" href="/" title="Trang chủ">Trang chủ</a>
                            </li>

                            {% for category in categories %}
                            <li>
                                {% if category.templates.all|length > 1%}
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    {{ category.label }}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for template in category.templates.all %}
                                    <li>
                                        <a href="/page/{{ template.key }}" >{{ template.description }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <a class="item-menu" href="/page/{{ category.templates.first.key }}"
                                   title="{{ category.templates.first.key}}">{{ category.label }}</a>
                                {% endif %}
                            </li>
                            {% endfor %}

                            <li>
                                <a data-step="1" data-intro="Link cài đặt công cụ đặt hàng" class="extentsion"
                                   href="https://chrome.google.com/webstore/detail/alo68-addon/lfpkejldifbkjonlfefpkfjbjfaapbbo"
                                   target="_blank" title="Công cụ đặt hàng">
                                    <img src="/static/app/images/extension.png" alt="extentsion">
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /header --><!-- start notification -->
<div id="notification">
    <div class="body">
        <div ng-view="" autoscroll="true"></div>
    </div>
    <div class="order-meox footer">
        <!--footer-->
        <footer class="footer1">
            <div class="container">
                <div class="row">
                    <!-- widgets column left end -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->
                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->
                                <h1 class="title-widget text-gray">Hướng Dẫn</h1>
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>
                                        <a href="/page/huong-dan-mua-hang/">Hướng dẫn mua hàng</a>
                                    </li>
                                    <li><i class="fa fa-angle-double-right"></i>
                                        <a href="/page/phuong-thuc-thanh-toan/">Phương thức thanh toán</a>
                                    </li>
                                    <li><i class="fa fa-angle-double-right"></i>
                                        <a href="/page/cau-hoi-thuong-gap/">Câu hỏi thường gặp</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- widgets column left end -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->
                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->
                                <h1 class="title-widget text-gray">Chính sách</h1>
                                <ul>
                                    <li><i class="fa fa-angle-double-right"></i>
                                        <a href="/page/quy-dinh-mua-hang/">Chính sách mua hàng</a>
                                    </li>
                                    <li><i class="fa fa-angle-double-right"></i>
                                        <a href="/page/chinh-sach-kiem-hang">Chính sách kiểm hàng</a>
                                    </li>
                                    <li><i class="fa fa-angle-double-right"></i>
                                        <a href="/page/chinh-sach-doi-tra">Chính sách đổi trả</a>
                                    </li>
                                    <li><i class="fa fa-angle-double-right"></i>
                                        <a href="/page/chinh-sach-khieu-nai">Chính sách khiếu nại</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- widgets column left end -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <!-- widgets column center -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->
                            <li class="widget-container widget_recent_news">
                                <!-- widgets list -->
                                <h1 class="title-widget text-gray">Thanh toán</h1>
                                <div class="footerp">
                                    <div class="text-gray"><b>Vietcombank</b> Chi nhánh Thăng Long</div>
                                    <p class="text-gray">Lê Thị Mỹ Linh: 0491000047842</p>

                                    <div class="text-gray"><b>Techcombank</b> Chi nhánh Nhuệ Giang</div>
                                    <p class="text-gray">Lê Thị Mỹ Linh: 19020462233339</p>

                                    <div class="text-gray"><b>BIDV</b> Chi nhánh Tây Hà Nội</div>
                                    <p class="text-gray">Lê Thị Mỹ Linh: 26010000110700</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- widgets column left end -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <!-- widgets column center -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->
                            <li class="widget-container widget_recent_news">
                                <!-- widgets list -->
                                <h1 class="title-widget text-gray">Liên Hệ</h1>
                                <div class="footerp">
                                    <div class="text-gray"><b>Giải đáp thắc mắc</b></div>
                                    <div class="text-gray"><b>Bộ phận kế toán</b></div>
                                    <p class="text-gray"> 02422642666</p>
                                    <div class="text-gray"><b>Bộ phận kiểm hàng</b></div>
                                    <p class="text-gray"> 02422137555 </p>
                                    <div class="text-gray"><b>Bộ phận đặt hàng</b></div>
                                    <p class="text-gray">02422600088</p>
                                    <div class="text-gray"><b>Phản ánh chất lượng dịch vụ</b></div>
                                    <p class="text-gray"> 02422642666 </p>
                                    <p class="text-gray"> 02422600088 </p>
                                </div>
                                <div class="social-icons">
                                    <ul class="nomargin">
                                        <a href="https://www.facebook.com/Alo68.vn/"><i
                                                class="fa fa-facebook-square fa-3x social-fb social"></i></a>
                                        <a href="https://twitter.com/bootsnipp"><i
                                                class="fa fa-twitter-square fa-3x social-tw social"></i></a>
                                        <a href="https://plus.google.com/+Bootsnipp-page"><i
                                                class="fa fa-google-plus-square fa-3x social-gp social"></i></a>
                                        <a href="mailto:bootsnipp@gmail.com"><i
                                                class="fa fa-envelope-square fa-3x social-em social"></i></a>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--header-->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="copyright">
                        © 2016, alo68.vn
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        !function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                        (A[l].q = A[l].q || []).push(arguments)
                    }, A[l].l = +new Date, a = n.createElement(g),
                    r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-76265313-1');
        ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->

    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script src="/static/node_modules/angular/angular.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/static/node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="/static/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/static/node_modules/angular-route/angular-route.js"></script>
    <script src="/static/node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/node_modules/angular-touch/angular-touch.js"></script>
    <script src="/static/node_modules/toastr/toastr.js"></script>
    <script src="/static/node_modules/owl.carousel/dist/owl.carousel.js"></script>
    <script src="/static/node_modules/moment/moment.js"></script>
    <script src="/static/node_modules/moment/locale/vi.js"></script>
    <script src="/static/node_modules/angular-moment/angular-moment.js"></script>
    <script src="/static/node_modules/file-saver/FileSaver.min.js"></script>1
    <script src="/static/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="/static/node_modules/swangular/swangular.js"></script>
    <script src="/static/node_modules/angular-websocket/dist/angular-websocket.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/static/app/scripts/app.js"></script>
    <script src="/static/app/scripts/controllers/main.js"></script>
    <script src="/static/app/scripts/controllers/authentication.js"></script>
    <script src="/static/app/scripts/controllers/notification.js"></script>
    <script src="/static/app/scripts/controllers/user.js"></script>
    <script src="/static/app/scripts/controllers/product.js"></script>
    <script src="/static/app/scripts/controllers/shopping_site.js"></script>
    <script src="/static/app/scripts/controllers/search.js"></script>
    <script src="/static/app/scripts/controllers/cart.js"></script>
    <script src="/static/app/scripts/controllers/navbar.js"></script>
    <script src="/static/app/scripts/controllers/category.js"></script>
    <script src="/static/app/scripts/controllers/static.js"></script>
    <script src="/static/app/scripts/services/share_service.js"></script>
    <script src="/static/app/scripts/services/user_service.js"></script>
    <script src="/static/app/scripts/services/proxy_service.js"></script>
    <script src="/static/app/scripts/services/authentication_service.js"></script>
    <script src="/static/app/scripts/services/notification_service.js"></script>
    <script src="/static/app/scripts/services/cart_service.js"></script>
    <script src="/static/app/scripts/services/category_service.js"></script>
    <!-- endbuild -->

</div>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
    #cfacebook {
        position: fixed;
        bottom: 38px;
        right: 20px;
        z-index: 99;
        width: 260px;
        height: auto;
        box-shadow: 6px 6px 6px 10px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
    }

    #cfacebook .fchat {
        float: left;
        width: 100%;
        height: 270px;
        overflow: hidden;
        display: none;
        background-color: #fff;
    }

    #cfacebook .fchat .fb-page {
        margin-top: -5px;
        float: left;
    }

    #cfacebook a.chat_fb {
        float: left;
        padding: 0 25px;
        width: 260px;
        color: #fff;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        background-size: auto;
        background: #3a5795 repeat-x 0 0;
        border: 0;
        border-bottom: 1px solid #133783;
        z-index: 9999999;
        margin-right: 12px;
        font-size: 18px;
    }

    #cfacebook a.chat_fb:hover {
        color: yellow;
        text-decoration: none;
    }

    .fchat span {
        width: 260px !important;
    }
</style>
<script>
    jQuery(document).ready(function () {
        jQuery(".chat_fb").click(function () {
            jQuery('.fchat').toggle('slow');
        });
    });
</script>
<div id="cfacebook">
    <a href="javascript:" class="chat_fb" onClick="return;"><i class="fa fa-facebook-square"></i>Hỗ trợ trực tuyến</a>
    <div class="fchat">
        <div style="width:250px;" class="fb-page"
             data-href="https://www.facebook.com/Alo68.vn/"
             data-tabs="messages"
             data-width="260"
             data-height="280"
             data-small-header="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote></blockquote>
            </div>
        </div>
    </div>
</div>
</body>
</html>
