{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}

{% block extrajs %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
            <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                <span class="divider">&raquo;</span></li>

            <li class="active"><a href="{% url 'CustomAdmin:mongoEditSessionView' 'add' %}">Sesssion</a></li>

     </ul>
{% endblock %}

{% block field_sets %}
    <table>
    {{form.as_table}}
    </table>
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row clearfix">
  <button type="submit" class="btn btn-high btn-info" name="_save">{% trans 'Save' %}</button>
  <button type="submit" name="_continue" class=" btn btn-high">{% trans 'Save and continue editing' %}</button>
  <button type="submit" name="_saveasnew" class="btn">{% trans 'Save as new' %}</button>
  <button type="submit" name="_addanother" class="btn">{% trans 'Save and add another' %}</button>
  {% if has_delete_permission %}
        <button type="button" class="text-error deletelink" onclick="$('#confirm_delete').toggle()">{% trans "Delete" %}</button>
        <div class="alert alert-danger alert-dismissible fade in" role="alert" id="confirm_delete" hidden="true">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only"></span></button>
          <h4>Delete confirmation</h4>
          <p>Are you sure to delete this object?</p>
          <p>
            <a href="delete/" class="btn btn-danger">Delete</a>
          </p>
        </div>
        {% endif %}
</div>
{% endblock %}