{% extends "admin/base.html" %}
{% load admin_static %}
{% load suit_tags %}
{% load i18n %}
{% block extrastyle %}

{% endblock %}

{% block footer_links %}
    {% load i18n %}
    {% trans 'Change language' %}:
    <form action="{% url 'set_language' %}" method="post" style="display: inline;">
        <div style="display: inline;">
            {% csrf_token %}
            <select name="language" onchange="form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.name }})
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

{% endblock %}

{% block branding %}
    {{ 'ADMIN_NAME'|suit_conf }}
{% endblock %}

{% block footer_branding %}
    {{ 'ADMIN_NAME'|suit_conf }}
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
Copyright &copy; 2015 {{ request.get_host }}<br>Developed by <a href="mailto:hahungkk@gmail.com" target="_blank">Hung Ha</a>
{% endblock %}


{% block header_content %}
    {{ block.super }}
    <div class="header-content">
        <div class="header-column icon">
            <i class="icon-home"></i><br>
            <i class="halflings-icon globe"></i>
        </div>
        <div class="header-column">
            <a href="/" class="grey">{{ request.get_host }}</a><br>
            <span class="grey">{{ request.META.REMOTE_ADDR }}</span>
        </div>
    </div>
{% endblock %}
