<div class="navbar navbar-default" role="navigation" ng-controller="NavBarCtrl" id="main-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-bar">
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-href="/"><span class="glyphicon glyphicon-info-sign"></span> Hướng dẫn đặt hàng</a></li>
                <li><a ng-href="https://chrome.google.com/webstore/detail/alo68-addon/gcdbobgfigopkdlbekmfncgdfefjpiap" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Cài đặt add-on</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="globals" ng-cloak><a href="/login">Đăng nhập</a></li>
                <li ng-hide="globals" ng-cloak><a href="/signup">Đăng ký</a></li>
                <li class="dropdown" ng-show="globals" ng-cloak>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Xin chào <b class="text-highlighted"><span class="glyphicon glyphicon-user"></span> {{ globals.username }}</b> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/user-profile">Tài khoản</a></li>
                        <li><a href="/user/my-order">Đơn hàng</a></li>
                        <li><a ng-click="logout()" ng-controller="AuthenticationCtrl">Đăng xuất</a></li>
                    </ul>
                </li>
                <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Giỏ Hàng <span class="label label-warning">{{cart_count}}</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="order-meox container">

</div>
