<div id="page-profile" class="coverimage">
    <div class="coverborder"></div>
    <div class="container">
    </div>
</div>
<div id="main-content">
    <div class="container">
        <aside class="sidebar">
            <ul class="nav nav-tabs primary push-bottom">
                <li class="col-md-2 col-sm-4" ng-class="{active: page=='profile'}" role="presentation"><a
                        href="/user/user-profile"><span class="glyphicon glyphicon-user"></span><strong> Cá nhân</strong></a></li>
                <!--<li class="col-md-2 col-sm-4" ng-class="{active: page=='customer_profile'}"><a href="/user/customer-profile"><span-->
                <!--        class="glyphicon glyphicon-th-list"></span><strong> Đặt hàng</strong></a></li>                          -->
                <li class="col-md-2 col-sm-4" ng-class="{active: page=='my_order'}"><a href="/user/my-order"><span
                        class="glyphicon glyphicon-stats"></span><strong> Đơn hàng</strong></a></li>
                <li class="col-md-2 col-sm-4" ng-class="{active: page=='my_purchase'}"><a href="/user/payment-history"><span
                        class="glyphicon glyphicon-stats"></span><strong> Lịch sử GD</strong></a></li>
                <li class="col-md-2 col-sm-4" ng-class="{active: page=='change_password'}"><a href="/user/change-password"><span
                        class="glyphicon glyphicon-lock"></span><strong> Đổi mật khẩu</strong></a></li>
                <li class="col-md-2 col-sm-4" ng-class="{active: page=='change_email'}"><a href="/user/change-email"><span
                        class="glyphicon glyphicon-envelope"></span><strong> Đổi email</strong></a></li>
                <li class="col-md-2 col-sm-4" ng-class="{active: page=='notification_page'}"><a href="/user/notification"><span
                        class="glyphicon glyphicon-flash"></span><strong> Thông báo</strong></a></li>
                <!-- <li ng-class="{active: page=='my_wallet'}"><a href="/user/wallet-history"><span class="glyphicon glyphicon-credit-card"></span><strong> Ví điện tử</strong></a></li> -->
            </ul>
        </aside>
        <script type="text/javascript">

        </script>
    </div>
</div>
