<div class="order-meox container">
  <div class="row">
    <section>
      <div class="wizard">
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                            </span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a data-target="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-gift"></i>
                            </span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a data-target="#step3" data-toggle="tab" aria-controls="step2" role="tab" title="Step 3">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </span>
              </a>
            </li>
            <li role="presentation" class="enable">
              <a data-target="#complete" data-toggle="tab" aria-controls="complete" role="tab"
                 title="Complete">
                                <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">

          <div class="tab-pane active" role="tabpanel" id="step1">
            <div class="page-header">
              <h3>Bước 1
                <small>Thông tin giỏ hàng</small>
              </h3>
            </div>
            <hr>
            <h1 class="text-center" ng-hide="cartItems.length">
              <small>Giỏ hàng hiện đang rỗng</small>
            </h1>
            <div class="panel panel-info" ng-show="cartItems.length">
              <div class="panel-heading">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-6">
                      <h5><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng
                        ({{ cartItems.length }} sản phẩm)</h5>
                    </div>
                    <div class="col-xs-6 btn-group-sm">
                      <button type="button" class="btn btn-success btn-sm btn-block"
                              ng-click="updateCart(false)">
                        <span class="glyphicon glyphicon-refresh"></span> Cập nhật giỏ hàng
                      </button>
                      <button type="button" class="btn btn-sm btn-danger btn-block"
                              ng-click="removeAll()">
                        <span class="glyphicon glyphicon-remove"></span> Xóa tất cả sản phẩm
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <form role="form">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="cart-item-title">
                      <th>
                        <div class="checkbox checkbox-warning">
                          <input id="checkbox-all-{{ cartItem.id }}"
                                 ng-change="toggleChecked()"
                                 type="checkbox"
                                 ng-model="checkAll"/>
                          <label for="checkbox-all-{{ cartItem.id }}">
                            <strong>Chọn tất cả</strong>
                          </label>
                        </div>
                      </th>
                      <th><strong>Ảnh</strong></th>
                      <th><strong>Tên sản phẩm</strong></th>
                      <th><strong>Tùy chọn</strong></th>
                      <th><strong>Số lượng</strong></th>
                      <th><strong>Giá SP</strong></th>
                      <th><strong>Phí VCND</strong></th>
                      <th><strong>Phí DV</strong></th>
                      <th><strong>Giá tạm tính</strong></th>
                      <th><strong>Xóa</strong></th>
                      </thead>
                      <tr ng-repeat="cartItem in cartItems">
                        <td class="col-xs-1">
                          <div class="checkbox checkbox-primary">
                            <input type="checkbox" id="xcheckbox{{ cartItem.id }}"
                                   ng-model="cartItem.checked"/>
                            <label for="xcheckbox{{ cartItem.id }}">
                              <strong>Chọn</strong>
                            </label>
                          </div>
                        </td>
                        <td class="col-xs-1">
                          <img class="img-responsive img-rounded img-thumbnail odmx-image"
                               ng-src="{{ cartItem.image_url }}">
                        </td>
                        <td class="col-xs-3">
                          <h5 class="product-name">
                            <a href="{{ cartItem.detail_url }}" target="_blank">
                              <strong ng-if="cartItem.name.length != ''" ng-bind="cartItem.name"></strong>
                              <strong ng-if="cartItem.name == ''" ng-bind="cartItem.detail_url.split('?')[0]"></strong>
                            </a>
                          </h5>
                          <h4>
                            <a ng-click="expandNote()" class="note-toggle"
                               ng-class="{'text-red':cartItem.note}">
                              <span class="glyphicon glyphicon-pencil"></span>
                              {{ cartItem.note?"Sửa":"Thêm"}}
                              ghichú: {{ cartItem.note | truncate:100 }}
                            </a>
                          </h4>
                          <textarea style="display:none" cols="30" rows="3"
                                    placeholder="Ghi chú" ng-model="cartItem.note"
                                    class="form-control"></textarea>
                        </td>
                        <td>
                          <div class="checkbox checkbox-warning">
                            <input id="fcheckbox{{ cartItem.id }}" type="checkbox"
                                   ng-model="cartItem.fragile">
                            <label for="fcheckbox{{ cartItem.id }}">
                              Dễ vỡ
                            </label>
                          </div>
                          <div class="checkbox checkbox-success">
                            <input id="checkbox{{ cartItem.id }}" type="checkbox"
                                   ng-model="cartItem.insurance">
                            <label for="checkbox{{ cartItem.id }}">
                              Bảo hiểm (+5%)
                            </label>
                          </div>
                          <div class="checkbox checkbox-danger">
                            <input id="checkbox{{ cartItem.id }}-ht" type="checkbox"
                                   ng-model="cartItem.fast_order">
                            <label for="checkbox{{ cartItem.id }}-ht">
                              Đặt Hàng Trong 190 phút (+5%)
                            </label>
                          </div>
                          <div class="checkbox checkbox-info">
                            <input id="checkbox{{ cartItem.id }}-bargain" type="checkbox"
                                   ng-model="cartItem.bargain">
                            <label for="checkbox{{ cartItem.id }}-bargain">
                              Mặc cả (+5%)
                            </label>
                          </div>
                        </td>
                        <td class="col-xs-1">
                          <label>
                            <input type="number" class="form-control input-sm"
                                   ng-model="cartItem.quantity"/>
                          </label>
                          <div class="cart-item-option"
                               ng-bind-html="cartItem.options_selected | parseItemOption"></div>
                        </td>
                        <td>
                          <h6 class="text-danger odmx-price">
                            <strong ng-bind="cartItem.price | currency:' ':2"></strong>
                            <strong ng-bind="cartItem.currency | getCurrencySymbol"></strong>
                          </h6>
                        </td>
                        <td>
                          <h6 class="text-danger odmx-price">
                            <strong>{{ cartItem.shipping | currency:' ':2}} <span
                                ng-bind="cartItem.currency | getCurrencySymbol"></span></strong>
                          </h6>
                        </td>
                        <td>
                          <h6 class="text-danger odmx-price">
                            <strong>{{ cartItem.service_charge | currency:' ':2}} <span
                                ng-bind="cartItem.currency | getCurrencySymbol"></span></strong>
                          </h6>
                          <div class="hover-content">
                            <div>{{ cartItem | getVNDServiceCharge | currency:' ':2}}
                              đ</span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <h6 class="text-danger odmx-price">
                            <strong>{{ cartItem | getTotalPrice | currency: ' ':2}}
                              <span ng-bind="cartItem.currency | getCurrencySymbol"></span></strong>
                          </h6>
                          <div class="hover-content">
                            <div><span
                                ng-bind="cartItem | getVNDPrice | currency:' ':2"></span><span> đ</span>
                            </div>
                          </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-link btn-xs"
                                  ng-click="removeCartItem(cartItem)">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </form>
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-6 pull-left ">
                      Tỉ giá:
                      <ul>
                        <li ng-repeat="rate in rates"
                            ng-show="rate.code!='VND'">{{ rate.code }}: {{ rate.exchange_rate }}
                          đ
                        </li>
                      </ul>
                    </div>
                    <div class='col-xs-6 text-right'
                         ng-bind-html="cartItems | getPricesByCurrency"></div>
                    <h4 class="text-right">Tổng đơn hàng: <strong class="text-danger"
                                                                  ng-bind="getTotalPrice() | currency:' ':2"></strong>
                      <strong class="text-danger"> đ </strong></h4>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-sm-12  col-xs-12 text-right">
                    <button type="button" class="btn btn-success" ng-click="updateCart(false)">
                      <span class="glyphicon glyphicon-refresh"></span> Cập nhật giỏ hàng
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="updateCart(true)">
                      Xác nhận đơn hàng
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" role="tabpanel" id="step2">
            <div class="page-header">
              <h3>Bước 2
                <small>Điền thông tin đơn hàng</small>
              </h3>
            </div>
            <div class="col-md-8 col-md-offset-2" ng-show="!globals">
              <br>
              <h3>Tạo tài khoản</h3>
              <div class="alert alert-warning">Bạn chưa đăng nhập, hãy đăng nhập hoặc tạo một tài khoản để
                có thể đặt hàng!
              </div>
              <div class="panel panel-login">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="#" class="active" id="login-form-link">Đăng nhập</a>
                    </div>
                    <div class="col-xs-6">
                      <a href="#" id="register-form-link">Đăng ký</a>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="panel-body">
                  <form id="login-form" class="form" role="form" style="display: block;"
                        ng-submit="signInUser()">
                    <div class="form-group has-feedback">
                      <input type="text" name="username" ng-model="loginForm.username"
                             tabindex="1" class="form-control" placeholder="Tên đăng nhập"
                             value="">
                      <div class="error-message" ng-show="error.username">
                        {{ error.username[0] }}</div>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="password" name="password" ng-model="loginForm.password"
                             tabindex="2" class="form-control" placeholder="Mật khẩu">
                      <div class="error-message" ng-show="error.password">
                        {{ error.password[0] }}</div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" name="login-submit" id="login-submit"
                                 tabindex="4" class="form-control btn btn-login"
                                 value="Đăng Nhập">
                        </div>
                      </div>
                    </div>
                  </form>
                  <form id="register-form" class="form" role="form" style="display: none;"
                        ng-submit="signInUser()">
                    <div class="form-group has-feedback">
                      <input type="text" ng-model="signUpForm.username" name="username"
                             tabindex="1" class="form-control" placeholder="Tên tài khoản"
                             value="">
                      <div class="error-message" ng-show="error.username">
                        {{ error.username[0] }}</div>
                    </div>
                    <div class="form-group  has-feedback">
                      <input type="email" ng-model="signUpForm.email" name="email" tabindex="1"
                             class="form-control" placeholder="Địa chỉ email" value="">
                      <div class="error-message" ng-show="error.username">
                        {{ error.email[0] }}</div>
                    </div>
                    <div class="form-group  has-feedback">
                      <input type="password" ng-model="signUpForm.password" name="password"
                             tabindex="2" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group  has-feedback">
                      <input type="password" ng-model="signUpForm.repassword"
                             name="confirm-password" tabindex="2" class="form-control"
                             placeholder="Xác nhận mật khẩu">
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error': error.referer}">
                      <input type="text" ng-model="signUpForm.referer" name="referer" tabindex="3"
                             class="form-control" placeholder="Người giới thiệu">
                      <div class="error-message" ng-show="error.referer"
                           ng-repeat="e in error.referer">{{ e }}</div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" name="register-submit" id="register-submit"
                                 tabindex="4" class="form-control btn btn-register"
                                 value="ĐĂNG KÝ NGAY">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <form class="form col-md-8 col-md-offset-2" ng-show="globals" ng-cloak>
              <div class="form-group">
                <label>Tên người nhận: </label>
                <input type="text" class="form-control" ng-model="order.receiver_name"/>
              </div>
              <div class="form-group has-feedback">
                <label>Số điện thoại người nhận: </label>
                <input type="text" class="form-control" ng-model="order.receiver_phone"/>
                <div class="error-message" ng-show="error.receiver_phone">
                  {{ error.receiver_phone[0] }}</div>
              </div>
              <div class="form-group has-feedback">
                <label>Facebook (Để tiện liên hệ): </label>
                <input type="text" class="form-control" ng-model="order.facebook_name"/>
                <div class="error-message" ng-show="error.facebook_name">
                  {{ error.facebook_name[0] }}</div>
              </div>
              <div class="form-group">
                <label>Địa chỉ nhận hàng: </label>
                <textarea class="form-control" cols="30" rows="1"
                          ng-model="order.delivery_address"></textarea>
              </div>
              <div class="form-group">
                <label>Tỉnh/Thành phố: </label>
                <input type="text" class="form-control" ng-model="order.city"/>
              </div>
              <div class="form-group">
                <label>Quận/Huyện: </label>
                <input type="text" class="form-control" ng-model="order.district"/>
              </div>
              <div class="form-group">
                <label>Đường/Phố: </label>
                <input type="text" class="form-control" ng-model="order.street"/>
              </div>
              <div class="form-group">
                <label>Thanh toán trước: </label>
                <br>
                <select ng-model="order.prepaid_percent">
                  <option value="70">70%</option>
                  <option value="100">100%</option>
                </select>
              </div>
              <ul class="list-inline pull-right">
                <li>
                  <button type="button" class="btn btn-md btn-default prev-step">Quay lại</button>
                </li>
                <li>
                  <button type="button" class="btn btn-md btn-primary btn-info-full"
                          ng-click="doNextTab()">Tiếp Tục
                  </button>
                </li>
              </ul>
            </form>
          </div>

          <div class="tab-pane" role="tabpanel" id="step3">
            <div class="page-header">
              <h3>Bước 3
                <small>Kiểm tra đơn hàng</small>
              </h3>
            </div>
            <hr>
            <div class="panel-group" id="accordion">
              <div class="alert alert-warning alert-dismissible" role="alert">Vui lòng kiểm tra kĩ thông
                tin đơn hàng trước khi gửi, bấm <strong>Quay Lại </strong> để chỉnh sửa thông tin đơn
                hàng
              </div>
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       data-target="#ordermeox-{{ order.id }}">CHI TIẾT ĐƠN HÀNG</a>
                  </h4>
                </div>
                <div id="cartItemDetail" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6 col-xs-12">
                        <ul>
                          <li><strong>Tên người nhận: </strong>{{ order.receiver_name }}</li>
                          <li><strong>Số điện thoại: </strong>{{ order.receiver_phone }}</li>
                          <li><strong>Địa chỉ nhận hàng: </strong>{{ order.delivery_address }}
                          </li>
                          <li><strong>Tỉnh/thành phố: </strong>{{ order.city }}</li>
                          <li><strong>Quận/Huyện: </strong>{{ order.district }}</li>
                          <li><strong>Phường/Xã: </strong>{{ order.street }}</li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <ul>
                          <li><strong>Phương thức nhận
                            hàng: </strong>{{ order.delivery_method | getDeliveryMethod }}
                          </li>
                          <li><strong>Đặt cọc: </strong>{{ order.prepaid_percent }} %</li>
                          <li><strong>Ghi chú: </strong>{{ order.note }}</li>
                          <li><strong>Người xử lý đơn
                            hàng: </strong><a>{{ order.order_employee }}</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-12 col-xs-12 well">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tr>
                            <th>Ảnh</th>
                            <th class="col-xs-3">Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tùy chọn</th>
                            <th>Đơn giá SP</th>
                            <th>Phí VCND</th>
                            <th>Phí dịch vụ</th>
                            <th>Giá tạm tính</th>

                          </tr>
                          <tr ng-repeat="(index, cartItem) in cartItems"
                              ng-show="cartItem.checked">
                            <td><img ng-src="{{ cartItem.image_url }}"
                                     class="img-rounded img-thumbnail odmx-image"
                                     style="max-width: 50px;"/></td>
                            <td style="font-size: 80%">
                              <a href="{{ cartItem.item_url }}"
                                 target="_blank">{{ cartItem.name }}</a>
                              <span><div
                                  ng-show="cartItem.note">Ghi chú: {{ cartItem.note }}</div></span>
                            <td>{{ cartItem.quantity }}</td>
                            <td class="cart-item-option">
                              <div ng-bind-html="cartItem.options_selected | parseItemOption">
                              </div>
                              <p ng-show="cartItem.fragile">
                                                                <span class="glyphicon glyphicon-warning-sign"
                                                                      title="Dễ vỡ" ng-show="cartItem.fragile"></span>
                                Dễ vỡ
                              </p>
                              <p ng-show="cartItem.insurance">
                                                                <span class="glyphicon glyphicon-plus"
                                                                      title="Có bảo hiểm"
                                                                      ng-show="cartItem.insurance"></span> Có bảo hiểm
                              </p>
                              <p ng-show="cartItem.fast_order">
                                                                <span class="glyphicon glyphicon-flash"
                                                                      title="Đặt Hàng Nhanh"
                                                                      ng-show="cartItem.fast_order"></span> Đặt Hàng
                                Nhanh
                              </p>
                              <p ng-show="cartItem.bargain">
                                                                <span class="glyphicon glyphicon-thumbs-up"
                                                                      title="Mặc cả"
                                                                      ng-show="cartItem.bargain"></span> Mặc cả
                              </p>
                            </td>

                            <td class="text-danger">
                              {{ cartItem.price | currency:' ':2}}
                              {{ cartItem.currency | getCurrencySymbol }}</td>
                            <td class="text-danger">
                              {{ cartItem.shipping | currency:' ':2}}
                              {{ cartItem.currency | getCurrencySymbol }}</td>
                            <td class="text-danger">
                              {{ cartItem.service_charge | currency:' ':2}}
                              {{ cartItem.currency | getCurrencySymbol }}</td>
                            <td class="text-danger">
                              {{ cartItem | getTotalPrice | currency:' ':2}}
                              {{ cartItem.currency | getCurrencySymbol }}</td>
                          </tr>
                        </table>
                      </div>
                      <div class="total-price text-right">
                        <h4 class="text-right">Tổng đơn hàng: <strong class="text-danger"
                                                                      ng-bind="getTotalPrice() | currency:' ':2"></strong>
                          <strong class="text-danger"> đ </strong></h4>
                        <div class='pull-right'
                             ng-bind-html="cartItems | getPricesByCurrency"></div>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <ul class="list-inline text-right">
                        <li>
                          <button type="button" class="btn btn-md btn-default prev-step">Quay
                            lại
                          </button>
                        </li>
                        <li>
                          <button type="button"
                                  ng-disabled="disableSend"
                                  class="btn btn-md btn-danger btn-info-full"
                                  ng-click="sendOrder()">Gửi đơn hàng
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" role="tabpanel" id="complete">
            <div class="well text-center">
              <h3>Đặt hàng thành công!!!</h3>
              <h4>Mã đơn hàng: <span class="label label-info">#{{ sentOrder.id }}</span></h4>
              <p>Số tiền đặt cọc là :
              <h3><span
                  class="label label-danger">{{ sentOrder.total_cost*sentOrder.prepaid_percent/100 | currency:' ':2}} đ</span>
              </h3></p>
              <p>Vui lòng chọn một trong các phương thức bên dưới để thanh toán trước tiền đặt cọc</p>
              <h4>Lưu ý: nếu bạn chuyển khoản để thanh toán vui lòng ghi rõ nội dung chuyển khoản :
                <br>
                <h2><code>donhang {{ sentOrder.id }}</code></h2>
                <h4>Và chuyển đến 1 trong các tài khoản ngân hàng ở phía dưới</h4>
              </h4>
              <h4>Alo68 xin chân thành cảm ơn quý khách !</h4>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4 class="panel-title">Thanh toán trực tiếp tại kho hàng</h4>
                  </div>
                  <div class="panel-body">
                    <p> Vui lòng đến kho hàng của công ty để thanh toán</p>
                    <ul>
                      <li><strong>Kho hàng Alo68.vn</strong></li>
                      <li><strong>Địa chỉ: </strong><span class="text text-info">Số 39, đường Tiếp Giáp Công An,Phú La, Hà Đông (Sau Mê Linh Plaza Hà Đông)</span>
                      </li>
                      <li style="color: orangered"><strong>Điện thoại:</strong></li>
                      <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;Kế toán:</strong>&nbsp;&nbsp;02422642666
                      </li>
                      <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp; Đặt hàng:</strong>&nbsp;&nbsp;02422600088
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4 class="panel-title">Thanh toán trực tiếp tại văn phòng</h4>
                  </div>
                  <div class="panel-body">
                    <p>Vui lòng đến văn phòng công ty để thanh toán:</p>
                    <ul>
                      <li><strong>Văn phòng alo68.vn</strong></li>
                      <li><strong>Địa chỉ: </strong><span class="text text-info">Số 39, đường Tiếp Giáp Công An,Phú La, Hà Đông (Sau Mê Linh Plaza Hà Đông)</span>
                      </li>
                      <li style="color: orangered"><strong>Điện thoại:</strong></li>
                      <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;Kế toán:</strong>&nbsp;&nbsp;02422642666
                      </li>
                      <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp; Đặt hàng:</strong>&nbsp;&nbsp;02422600088
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h4 class="panel-title">Chuyển khoản ngân hàng</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <h4><strong class="text-info">Ngân hàng Vietcombank</strong></h4>
                    <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                    <ul>
                      <li><strong>Chi nhánh: </strong>Chi nhánh Thăng Long</li>
                      <li><strong>Chủ Tài Khoản: </strong>Lê Thị Mỹ Linh</li>
                      <li><strong>Số Tài Khoản:</strong> <span
                          class="text text-danger">0491000047842</span></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <h4><strong class="text-info">Ngân hàng Techcombank</strong></h4>
                    <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                    <ul>
                      <li><strong>Chi nhánh: </strong>Chi nhánh Nhuệ Giang</li>
                      <li><strong>Chủ Tài Khoản: </strong>Lê Thị Mỹ Linh</li>
                      <li><strong>Số Tài Khoản:</strong> <span
                          class="text text-danger">19020462233339</span></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <h4><strong class="text-info">Ngân hàng BIDV</strong></h4>
                    <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                    <ul>
                      <li><strong>Chi nhánh: </strong>Chi nhánh Tây Hà Nội</li>
                      <li><strong>Chủ Tài Khoản: </strong> Lê Thị Mỹ Linh</li>
                      <li><strong>Số Tài Khoản:</strong> <span
                          class="text text-danger">26010000110700</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>
