<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-xs-12">
                <form id="change-password-form" class="form-horizontal form-bordered" ng-submit="changePassword()">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 " for="password">Mật khẩu cũ</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="password" required pattern=".{6,32}" title="6-32 ký tự" value=""
                                   class="form-control" id="password" ng-model="user.password"/>
                            <div class="text-danger" ng-show="error.password">{{ error.password[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 " for="new-password">Mật khẩu mới</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="password" required title="6-32 kí tự" value="" class="form-control"
                                   id="newPassword" ng-model="user.newPassword"/>
                            <div class="text-danger" ng-show="error.password">{{ error.password[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 " for="re-new-password">Nhật lại mật khẩu
                            mới</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="password" required title="6-32 kí tự" value="" class="form-control"
                                   id="reNewPassword" ng-model="user.reNewPassword"/>
                            <label class="text-danger" ng-show="passwordnotmatch">Mật khẩu không trùng khớp!!!</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-xs-12 col-md-offset-3 col-xs-offset-0">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <a ng-click="resetField()" class="btn btn-primary btn-lg btn-block push-bottom">Hủy
                                        bỏ</a>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input type="submit" value="Đặt lại mật khẩu"
                                           class="btn btn-primary btn-lg btn-block push-bottom" id="change-password-btn"
                                           data-loading-text="Xin chờ...">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
