<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-xs-12">
                <form id="change-password-form" class="form-horizontal form-bordered" ng-submit="changeEmail()">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 " for="password">Mật khẩu</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="password" required title="6-32 kí tự" value=""
                                   class="form-control" id="password" ng-model="user.password" />
                            <div class="text-danger" ng-show="error.password">{{ error.password[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 " for="new_email">Địa chỉ e-mail mới</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="email" required id="new_email" value="" class="form-control" ng-model="user.new_email">
                            <div class="text-danger" ng-show="error.new_email">{{ error.email[0] }}</div>
                            <div class="text-danger" ng-show="email_match">Địa chỉ e-mail không khớp</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-xs-12 col-md-offset-3 col-xs-offset-0">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <a ng-click="resetField()" class="btn btn-primary btn-lg btn-block push-bottom">Hủy
                                        bỏ</a>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input type="submit" value="Thay đổi" class="btn btn-primary btn-lg btn-block push-bottom"
                                           id="change-email-btn" data-loading-text="Xin chờ...">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
