<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12"></div>
        <div class="container">
            <h2>Check Tracking Code Page</h2>
            <div class="search-box" id="searchBox">
                <div class="search-absolute">
                    <div class="input-box">
                        <span style="float:left;">
                        <form id="inputForm" ng-submit="addCode()">
                            <input name="postid" ng-model="tracking_code" required type="text" ng-change="removeEror()"
                                   id="postid" placeholder="输入单号"
                                   autocomplete="off" value="" maxlength="100"
                                   style="color: rgb(50, 50, 50); font-size: 22px;">                            &ensp;&ensp;
                            <button type="submit" class="btn btn-success btn-lg">
                                &ensp;&ensp;&ensp;&ensp;&ensp;输入&ensp;&ensp;&ensp;&ensp;&ensp;
                            </button>
                        </form>
                        </span>
                        <span style="float:right;">
                        <form id="searchoForm" ng-submit="search()">
                            <input name="searchname" required ng-model="search_code" type="text"
                                   ng-change="removeEror()" id="searchid" placeholder="输入单号"
                                   autocomplete="off" value="" maxlength="100"
                                   style="color: rgb(50, 50, 50); font-size: 22px;">                            &ensp;&ensp;
                            <button type="submit" class="btn btn-warning btn-lg">
                                &ensp;&ensp;&ensp;&ensp;&ensp;搜索&ensp;&ensp;&ensp;&ensp;&ensp;
                            </button>
                        </form>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <div class="form-group">
                <div class="alert alert-danger" ng-if="error">
                    <strong>Error ! </strong>{{ error }}
                </div>
                <div class="alert alert-success" ng-if="info">
                    <strong>Info: </strong>{{ info }}
                </div>
            </div>

            <div id="search" ng-if="search_results.length > 0">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Tracking code</th>
                        <th>Created Time</th>
                        <th>Total: {{ search_results.length }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="track in search_results">
                        <td>{{ track.tracking_code }}</td>
                        <td>{{ track.created | formatDate }}</td>
                        <td>
                            <button type="button" ng-click="removeTrackingCode(track.tracking_code)"
                                    class="btn btn-danger">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-repeat="(key, value) in data track by $index">
                <button data-toggle="collapse" class="btn btn-primary" data-target="#button{{$index}}" ng-show="value.length>0">{{key}}</button>
                <div id="button{{$index}}" class="collapse in" ng-show="value.length>0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Tracking code</th>
                            <th>Created Time</th>
                            <th>Total: {{ value.length }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="track in value track by $index">
                            <td>{{ track.tracking_code }} - ({{ track.version }})</td>
                            <td>{{ track.created | formatDate }}</td>
                            <td>
                                <button type="button" ng-click="removeTrackingCode(track.id, track.tracking_code)"
                                        class="btn btn-danger">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>
            </div>
        </div>
    </div>


    <div id="deleteModal" class="modal" ng-style="{display: disPlay}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Confirm Delete !</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete tracking code {{ tracking_code }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-click="delete(code)">Delete</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>

    <div id="updateModal" class="modal" ng-style="{display: upDate}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="Heading">Confirm Add Tracking Code !</h4>
            </div>
            <div class="modal-body">
                Are you sure to enter this tracking code {{ tracking_code }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-click="add()">Ok</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
