<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-xs-12">
                <form id="profile-form" class="form-horizontal form-bordered" ng-submit="updateProfile()">
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12" for="city">Tỉnh/Thành Phố</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="city" ng-model="user.city"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12" for="district">Quận/Huyện</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="district" ng-model="user.district"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12" for="street">Phố/Phường/Xã</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="street" ng-model="user.street"/>
                            <div class="error-message" ng-show="error.street">{{ error.street[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12" for="gender">Giới tính</label>
                        <div class="col-md-9 col-xs-12">
                            <select ng-model="user.gender" class="form-control">
                                <option value="">-- Giới tính --</option>
                                /
                                <option value='0' ng-selected="user.gender==0">Ẩn</option>
                                <option value='1' ng-selected="user.gender==1">Nam</option>
                                <option value='2' ng-selected="user.gender==2">Nữ</option>
                            </select>
                            <div class="error-message" ng-show="error.gender">{{ error.gender[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12" for="about">Ghi chú</label>
                        <div class="col-md-9 col-xs-12">
                            <textarea type="text" class="form-control" id="about" ng-model="user.about"></textarea>
                            <div class="error-message" ng-show="error.about">{{ error.about[0] }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-xs-12 col-md-offset-3 col-xs-offset-0">
                            <div class="row">
                                <div class="col-md-6 col-xs-12 text-center">
                                    <a ng-click="resetField()" class="btn btn-primary btn-lg btn-block push-bottom">Khôi
                                        phục</a>
                                </div>
                                <div class="col-md-6 col-xs-12 text-center">
                                    <input type="submit" value="Cập nhật"
                                           class="btn btn-primary btn-lg btn-block push-bottom"
                                           data-loading-text="Đang cập nhật...">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
