<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12"></div>
        <div class="container">
            <h2>Kho Hàng</h2>
            <div class="row">
                <span style="float:right;">
                    <div class="form-group">
                        <button type="button" ng-click="export()" class="form-control btn-primary">
                            Xuất Excel
                        </button>
                    </div>
                </span>
            </div>
            <div class="search-box" id="searchBox">
                <div class="search-absolute">
                    <div class="row">
                        <span style="float:left;">
                        <form id="inputForm" class="form-inline" ng-submit="addCode()">
                            <div class="form-group">
                                <label>
                                    <input name="postid" ng-model="tracking_code"
                                           required type="text" ng-change="removeEror()"
                                           id="postid" placeholder="mã vận đơn" class="form-control"
                                           autocomplete="off" value="" maxlength="100">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="number" class="form-control" min="0" max="1000" step="0.1" ng-model="weight">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    Dài
                                    <input type="number" class="form-control" min="0" max="10000" step="10"
                                           ng-model="length">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    Rộng
                                    <input type="number" class="form-control" min="0" max="10000" step="10"
                                           ng-model="width">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    Cao
                                    <input type="number" class="form-control" min="0" max="10000" step="10"
                                           ng-model="height">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <button type="submit" class="btn-success form-control">
                                        Nhập
                                    </button>
                                </label>
                            </div>
                        </form>
                        </span>
                        <span style="float:right;">
                        <form id="searchoForm" class="form-inline" ng-submit="search()">
                            <div class="form-group">
                                <input name="searchname" class="form-control" required ng-model="search_code"
                                       type="text"
                                       ng-change="removeEror()" id="searchid" placeholder="tìm kiếm"
                                       autocomplete="off" value="" maxlength="100">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-warning">
                                    Tìm Kiếm
                                </button>
                            </div>
                        </form>
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="form-group">
                    <div class="alert alert-danger" ng-if="error">
                        <strong>Lỗi ! </strong>{{ error }}
                    </div>
                    <div class="alert alert-success" ng-if="info">
                        <strong>Thông tin: </strong>{{ info }}
                    </div>
                </div>

                <div id="search" ng-if="search_results.length > 0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Mã vận đơn</th>
                            <th>Cân Nặng</th>
                            <th>Tổng cộng: {{ search_results.length }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="track in search_results">
                            <td>{{ track.tracking_code }}</td>
                            <td>{{ track.weight }} Kg</td>
                            <td>
                                <button type="button" ng-click="removeTrackingCode(track.tracking_code)"
                                        class="btn btn-danger">Xóa
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-repeat="(key, value) in data track by $index">
                        <button data-toggle="collapse" class="btn btn-primary" data-target="#button{{$index}}"
                                ng-show="value.length>0">{{ key }}</button>
                        <div id="button{{$index}}" class="collapse in" ng-show="value.length>0">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Mã vận đơn</th>
                                    <th>Cân Nặng</th>
                                    <th>Dài</th>
                                    <th>Rộng</th>
                                    <th>Cao</th>
                                    <th>Tổng cộng: {{ value.length }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="track in value track by $index">
                                    <td>{{ track.id }}</td>
                                    <td>{{ track.tracking_code }} - ({{ track.version }})</td>
                                    <td>{{ track.weight }} Kg</td>
                                    <td>{{ track.length }} Cm</td>
                                    <td>{{ track.width }} Cm</td>
                                    <td>{{ track.height }} Cm</td>
                                    <td>
                                        <button type="button"
                                                ng-click="removeTrackingCode(track.id, track.tracking_code)"
                                                class="btn btn-danger">Xóa
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>


<div id="deleteModal" class="modal" ng-style="{display: disPlay}">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Cảnh báo</h4>
        </div>
        <div class="modal-body">
            Bạn có chắc muốn xóa mã {{ tracking_code }} không ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="delete(code)">Xóa</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Hủy bỏ</button>
        </div>
    </div>
</div>

<div id="updateModal" class="modal" ng-style="{display: upDate}">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Mã đã được nhập !</h4>
        </div>
        <div class="modal-body">
            Bạn có chắc chắn muốn nhập mã {{ tracking_code }} thêm một lần nữa ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="add()">Ok</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Hủy bỏ</button>
        </div>
    </div>
</div>
