<div class="order-meox">
    <div class="row">
        <section class="carousel">
            <div id="home-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#home-carousel" data-slide-to="1"></li>
                    <li data-target="#home-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/static/banner2.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="/static/banner3.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="/static/banner1.jpg" alt="...">
                    </div>
                </div>
                <!-- Controls -->
                <a data-target="#home-carousel" class="left carousel-control" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-target="#home-carousel" class="right carousel-control" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
    </div>
        <div id="tutorialbreadcrumb">
            <div class="container">
                <h2>Quy định đặt hàng</h2>
                <p>
                    Quy trình đặt hàng tại Alo68.vn được minh họa chi <br>
                    tiết qua các bước
                </p>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <img src="/static/app/images/icons/tutorial-icon1.png">
                            <br>
                            Đăng kí tài khoản
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/app/images/icons/tutorial-icon2.png">

                            <br>
                            Cài đặt công cụ mua hàng
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/app/images/icons/tutorial-icon3.png">

                            <br>
                            Chọn hàng và thêm hàng vào giỏ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/app/images/icons/tutorial-icon4.png">

                            <br>
                            Gửi đơn đặt hàng
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/app/images/icons/tutorial-icon5.png">

                            <br>
                            Đặt cọc tiền hàng
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/app/images/icons/tutorial-icon6.png">

                            <br>
                            Theo dõi đơn hàng
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/app/images/icons/tutorial-icon7.png">

                            <br>
                            Nhận hàng và thanh toán
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="turoialsteps">
            <div class="stepline"></div>
            <div id="tutorialstep1" class="turoialstep ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col1">
                            <img src="/static/app/images/icons/tutorial-img1.png">
                        </div>
                        <div class="col-xs-6 col2">

                            <h3>Đăng kí tài khoản</h3>
                            <div>
                                Nhập các thông tin cá nhân bắt buộc vào ô, lưu ý nhập chính xác các thông tin để đảm
                                bảo cho việc xác nhận và quản lí đơn hàng của bạn
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tutorialstep2" class="turoialstep ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col1">

                            <h3>Cài đặt công cụ mua hàng</h3>
                            <div>
                                Click vào cài đặt công cụ đặt hàng của Alo68.vn <br> <br>Sử dụng tốt nhất trên trình
                                duyệt Chrome
                            </div>
                        </div>
                        <div class="col-xs-6 col2">

                            <img src="/static/app/images/icons/tutorial-img2.png">
                        </div>
                    </div>
                </div>
            </div>
            <div id="tutorialstep3" class="turoialstep ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col1">
                            <img src="/static/app/images/icons/tutorial-img3.png">
                        </div>
                        <div class="col-xs-6 col2">

                            <h3>Chọn hàng và thêm hàng vào giỏ</h3>
                            <div>
                                Truy cập vào các trang mua sắm Taobao.com, Tmall.com, 1688.com … chọn hàng và đợi
                                hàng được thêm vào giỏ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tutorialstep4" class="turoialstep ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col1">

                            <h3>Gửi đơn đặt hàng</h3>
                            <div>
                                Quay lại Website của Alo68.vn và kiểm tra giỏ hàng <br>Click vào “Gửi đơn hàng” để
                                hoàn thành đơn hàng,<br> chờ xác nhận đặt hàng thành công
                            </div>
                        </div>
                        <div class="col-xs-6 col2">

                            <img src="/static/app/images/icons/tutorial-img4.png">
                        </div>
                    </div>
                </div>
            </div>
            <div id="tutorialstep5" class="turoialstep ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col1">
                            <img src="/static/app/images/icons/tutorial-img5.png">
                        </div>
                        <div class="col-xs-6 col2">

                            <h3>Đặt cọc tiền hàng</h3>
                            <div>
                                Kiểm tra đơn hàng và đặt cọc 50 -70% tiền hàng qua hình thức chuyển khoản hoặc trực
                                tiếp
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tutorialstep6" class="turoialstep ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col1">

                            <h3>Theo dõi đơn hàng</h3>
                            <div>
                                Đơn hàng của bạn được mua và vận chuyển theo chu trình sau:
                                <div class="numbers">
                                    <p>Các sản phẩm được mua tại shop Trung Quốc, có mã vận đơn theo dõi </p>
                                    <p> Vận chuyển hàng về kho Trung Quốc của Alo68.vn, tiến hành đóng gỗ, chống
                                        thấm nếu khách hàng yêu cầu </p>
                                    <p> Vận Chuyển hàng từ kho Trung Quốc về kho Việt Nam của Alo68.vn </p>
                                    <p> Nhập kho Việt Nam, tiến hành kiểm tra sản phẩm, đếm số lượng </p>
                                    <p> Thông báo chốt đơn</p></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col2">
                            <img src="/static/app/images/icons/tutorial-img6.png">
                        </div>
                    </div>
                </div>
            </div>
            <div id="tutorialstep7" class="turoialstep ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col1">
                            <img src="/static/app/images/icons/tutorial-img7.png">
                        </div>
                        <div class="col-xs-6 col2">

                            <h3>Nhận hàng và thanh toán</h3>
                            <div>
                                Quý khách nhận được email chốt đơn và thông báo đến nhận hàng và thanh toán bằng
                                chuyển khoản hoặc trực tiếp
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
</div>
