<div class="order-meox">
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <a data-target="#" class="active" id="login-form-link">Đăng nhập</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form id="login-form" ng-submit="login(false)" role="form" style="display: block;">
                                <div class="form-group has-feedback">
                                    <input autocomplete="off" type="text" name="username" ng-model="loginForm.username" tabindex="1"
                                           class="form-control" placeholder="Tên đăng nhập" value="">
                                    <div class="error-message" ng-show="error.username">{{ error.username[0] }}</div>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="password" name="password" ng-model="loginForm.password" tabindex="2"
                                           class="form-control" placeholder="Mật khẩu">
                                    <div class="error-message" ng-show="error.password">{{ error.password[0] }}</div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-login" value="Đăng Nhập">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="/forgot-password" tabindex="5"
                                                   class="forgot-password">
                                                    Quên mật khẩu?
                                                </a>
                                            </div>
                                            <div class="text-center">
                                                <a href="/register" tabindex="5">Đăng ký</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
