<div class="order-meox">
    <section class="carousel">
        <div ng-non-bindable id="home-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#home-carousel" data-slide-to="1"></li>
                <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/static/banner2.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="/static/banner3.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="/static/banner1.jpg" alt="...">
                </div>
            </div>
            <!-- Controls -->
            <a data-target="#home-carousel" class="left carousel-control" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-target="#home-carousel" class="right carousel-control" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="search-bar fullwidth-section">
        <div class="container text-center">
            <h2 class="text-center text-danger">Bạn đang cần mua gì?</h2>
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <form class="form-group has-feedback primary-search-form" ng-submit="doSearch()">
                    <input type="text" class="form-control" placeholder="Nhập sản phẩm bạn muốn đặt hàng..."
                           ng-model="keyword">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </form>
            </div>
        </div>
    </section>
    <section class="about-us fullwidth-outer-about-us">
        <div class="container">
            <h2 class="text-center text-danger">DỊCH VỤ CỦA CHÚNG TÔI</h2>
            <p class="text-center"></p>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="tag-title"><span class="glyphicon glyphicon glyphicon-star text-danger"></span>
                                NHẬP HÀNG TRỰC TUYẾN</h4>
                            <hr/>
                            <p>Với hàng triệu sản phẩm phong phú từ những website Thương Mại Điện Tử lớn của TQ như:
                                taobao.com, tmall.com, 1688.com...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="tag-title"><span class="glyphicon glyphicon glyphicon-star text-danger"></span>
                                THEO DÕI TRỰC TIẾP</h4>
                            <hr/>
                            <p>Theo dõi vận chuyển và tình trạng đơn hàng trực tuyến giúp bạn chủ động trong hoạt động
                                quản lý nguồn hàng trong hoạt động kinh doanh.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="tag-title"><span class="glyphicon glyphicon glyphicon-star text-danger"></span>
                                CHÍNH SÁCH ƯU ĐÃI</h4>
                            <hr/>
                            <p>Chương trình hội viên đầu tiên cho người nhập hàng tại Việt Nam với chính sách tích lũy
                                điểm và hưởng chiết khấu hoa hồng cùng nhiều ưu đãi khác.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="tag-title"><span class="glyphicon glyphicon glyphicon-star text-danger"></span>
                                THANH TOÁN THUẬN TIỆN</h4>
                            <hr/>
                            <p>Đặt mua và thanh toán trực tuyến, đơn giản và thuận tiện. Cho phép bạn tiết kiệm thời
                                gian & công sức so với việc đi nhập hàng trực tiếp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="brands">
        <div class="container">
            <row>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="/"><img src="/static/app/images/brands/1688-logo.png" alt="alibaba"
                                       title="alibaba"></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="/"><img src="/static/app/images/brands/tmall-logo.png" alt="tmall  "
                                       title="alibaba"></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="/"><img src="/static/app/images/brands/taobao-logo.png"
                                       alt="taobao"
                                       title="taobao"></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="/"><img src="/static/app/images/brands/alipay-logo.png"
                                       alt="alipay"
                                       title="alipay"></a>
                </div>
            </row>
        </div>
    </section>
</div>

<div id="myModal" class="modal" ng-style="{display: disPlay}">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">Alo68.vn xin thông báo</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" ng-bind-html="value"></div>
        </div>
        <label class="model-label" for="bt" style="text-align: left">
            Chi tiết xin liên hệ: 02422642666. Kính mong quý khách hàng thông cảm cho sự bất tiện này, xin chân thành
            cảm ơn!
        </label>
        <div class="modal-footer">
            <button type="button" id="bt" class="btn btn-primary pull-left" ng-click="close()">OK</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>