<div class="container">
  <br>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-xs-6">
            <h4 class="mb-3">Tạo sản phẩm từ link</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <label for="item-url">Link Sản Phẩm</label>
          <input type="text" class="form-control" id="item-url" ng-model="item.detail_url" required>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
          <label for="price">Giá (vui lòng nhập chính xác giá)</label>
          <input type="text" class="form-control" id="price" placeholder="" ng-model="item.price" required>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
          <label for="color">Màu sắc</label>
          <input type="text" class="form-control" id="color" ng-model="options.color"
                 placeholder="ví dụ: vàng, xanh da trời" required>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
          <label for="color">Size</label>
          <input type="text" class="form-control" id="color" ng-model="options.size"
                 placeholder="ví dụ: S, M, L, 37, 40" required>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
          <label for="quantity">Số lượng</label>
          <input type="number" step="1" ng-model="item.quantity" class="form-control" id="quantity">
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
          <label for="quantity">Ghi Chú</label>
          <textarea rows="3" cols="200" ng-model="item.note" class="form-control" id="quantity"></textarea>
        </div>
        <hr class="mb-4">
      </form>
      <div class="loader loader-default is-active"
           data-text="Hệ thống đang xử lý... vui lòng đợi trong giây lát !"
           id="spinner" hidden>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 text-right">
          <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="add()">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>
