<ul ng-controller="NotificationCtrl" class="al-msg-center pull-right clearfix">
    <li class="dropdown" ng-show="globals" ng-cloak>
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                <i class="fa fa-bell-o"></i><sup class="total-noti ring-bell-noti count" >{{ notifications.counter ? notifications.counter : 0 }}</sup>
        </a>
        <div uib-dropdown-menu class="dropdown-menu mgscenter-dropdown">
            <i class="dropdown-arr"></i>
            <div class="notification-ring"></div>

            <div class="header clearfix">
                <strong>Notifications</strong>
                <a href ng-click="clickMarkAllAsRead()">Mark All as Read</a>
            </div>
            <div class="msg-list">
                <a href ng-click="clickMarkAsRead(msg)" class="clearfix" ng-repeat="msg in notifications.list">
                    <div class="img-area"><img ng-class="{'photo-msg-item' : !msg.image}" ng-src="{{ msg.image }}">
                    </div>
                    <div class="msg-area">
                        <div ng-bind-html="getMessage(msg)"></div>
                        <span am-time-ago="msg.time"></span>
                    </div>
                </a>
            </div>
            <a href="/user/notification">See all notifications</a>
        </div>
    </li>
</ul>