<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-xs-12 my-order">
                <h4><a href="/user/my-order/"><span class="glyphicon glyphicon-menu-left"> </span> Quay Lại</a></h4>
                <div class="panel-heading">
                    <h4 class="panel-title">
                            <span class="glyphicon glyphicon-file">
                            </span>ĐƠN HÀNG #{{ order.id }}
                        <a class="pull-right">Trạng thái:
                            <span class="label label-default"
                                  ng-class="{'label-success': order.status_value=='ShipToVN' || order.status_value=='Completed',
                                                             'label-danger': order.status_value=='WaitingForPrePaid',
                                                             'label-info': order.status_value=='Ordered' || order.status_value=='PrePaid' || order.status_value=='ShipToCN' }"
                                  ng-bind='order.status'>
                                            </span>
                        </a>
                    </h4>
                </div>
                <div id="ordermeox-{{ order.id }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <ul>
                                    <li><strong>Tên người nhận: </strong>{{ order.receiver_name }}</li>
                                    <li><strong>Số điện thoại: </strong>{{ order.receiver_phone }}</li>
                                    <li><strong>Địa chỉ nhận hàng: </strong>{{ order.delivery_address }}</li>
                                    <li><strong>Tỉnh/thành phố: </strong>{{ order.city }}</li>
                                    <li><strong>Quận/Huyện: </strong>{{ order.district }}</li>
                                    <li><strong>Phường/Xã: </strong>{{ order.street }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <ul>
                                    <li><strong>Ngày đặt hàng: </strong>{{ order.created | formatDate }}</li>
                                    <li><strong>Đặt cọc: </strong>{{ order.prepaid_percent }} %</li>
                                    <li><strong>Ghi chú: </strong>{{ order.note }}</li>
                                    <li><strong>Người xử lý đơn hàng: </strong><a>{{ order.order_employee }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="pull-left"><strong>Chi tiết đơn hàng</strong></h4>
                        </div>
                        <div class="row">
                            <div class="table-responsive" ng-repeat="(key, val) in vendors">
                                <h4><span class="label label-info">Cửa hàng: {{ key }}</span></h4>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>ID</th>
                                        <th>Ảnh</th>
                                        <th class="col-xs-3">Tên sản phẩm</th>
                                        <th>SL</th>
                                        <th>Tùy chọn</th>
                                        <th>Giá SP</th>
                                        <th>Tỷ Giá</th>
                                        <th>Phí VCND</th>
                                        <th>Phí đặt hàng nhanh</th>
                                        <th>Phí DV</th>
                                        <th>Phí BH</th>
                                        <th>Trạng thái</th>
                                        <th>Vận Chuyển</th>
                                    </tr>
                                    <tr ng-repeat="(index, cartItem) in val">
                                        <td>{{ cartItem.id }}</td>
                                        <td>
                                            <img ng-src="{{ cartItem.image_url }}"
                                                 class="img-rounded img-thumbnail odmx-image"
                                                 style="max-width: 50px;"
                                                 ng-cloak/>
                                        </td>

                                        <td style="font-size: 80%">
                                            <a href="{{ cartItem.item_url }}" target="_blank">{{ cartItem.name }}</a>
                                            <h4 ng-show="cartItem.customer_note">
                                                <a ng-click="expandNote()" class="note-toggle text-red">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                    Ghichú: {{ cartItem.customer_note | truncate:100 }}
                                                </a>
                                            </h4>
                                            <span style="display:none"> {{ cartItem.customer_note }}</span>
                                        </td>

                                        <td>{{ cartItem.quantity }}</td>

                                        <td class="cart-item-option">
                                            <div ng-bind-html="cartItem.options_selected | parseItemOption"></div>
                                            <p ng-show="cartItem.fragile">
                                                <span class="glyphicon glyphicon-warning-sign" title="Dễ vỡ"
                                                      ng-show="cartItem.fragile"></span>
                                                Dễ vỡ
                                            </p>
                                            <p ng-show="cartItem.insurance">
                                                <span class="glyphicon glyphicon-plus" title="Có bảo hiểm"
                                                      ng-show="cartItem.insurance"></span>
                                                Có bảo hiểm
                                            </p><p ng-show="cartItem.insurance">
                                                <span class="glyphicon glyphicon-flash" title="Có bảo hiểm"
                                                      ng-show="cartItem.fast_order"></span>
                                                Đặt Hàng Nhanh
                                            </p>
                                        </td>

                                        <td class="text-danger">
                                            <h6 class="odmx-price">
                                                {{ cartItem.price | currency:' ':2}} {{ cartItem.currency | getCurrencySymbol }}
                                            </h6>
                                            <div class="hover-content">
                                                <div><strong>Giá gốc: </strong>{{ cartItem.price | currency: ' ':2}}
                                                    <span ng-bind="cartItem.currency | getCurrencySymbol"></span>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="text-danger">
                                            <h6>
                                                {{ cartItem.exchange_rate}}
                                            </h6>
                                        </td>

                                        <td class="text-danger">
                                            <h6>
                                                {{ cartItem.shipping | currency:' ':2}} {{ cartItem.currency | getCurrencySymbol }}
                                            </h6>
                                        </td>

                                        <td class="text-danger">
                                            <h6>
                                                {{ cartItem.fast_order_charge | currency:' ':2}} ¥
                                            </h6>
                                        </td>

                                        <td class="text-danger">
                                            <h6 class="odmx-price">
                                                {{ cartItem.service_charge | currency:' ':2}} {{ cartItem.currency | getCurrencySymbol }}</h6>
                                            <div class="hover-content">
                                                <div>{{ cartItem.service_charge | getVNDServiceCharge | currency:' ':2}}
                                                    VND
                                                </div>
                                            </div>
                                        </td>

                                        <td class="text-danger">
                                            <h6 class="odmx-price">
                                                {{ cartItem.insurance_charge | currency:' ':2}} {{ cartItem.currency | getCurrencySymbol }}</h6>
                                            <div class="hover-content">
                                                <div>
                                                    {{ cartItem.insurance_charge | getVNDServiceCharge | currency:' ':2}}
                                                    VND
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <span class="label label-default"
                                                  ng-class="{'label-success': cartItem.status_value=='ShipToVN' || cartItem.status_value=='Completed',
                                                             'label-danger': cartItem.status_value=='WaitingForPrePaid',
                                                             'label-info': cartItem.status_value=='Ordered' || cartItem.status_value=='PrePaid' || cartItem.status_value=='ShipToCN' }"
                                                  ng-bind='cartItem.status'>
                                            </span>
                                        </td>

                                        <td>
                                            <button type="button" id="bt-show"
                                                    class="btn btn-primary pull-right"
                                                    ng-click="showModal(cartItem.id)">Hiện
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <hr/>
                            </div>
                        </div>
                        <div class="total-price pull-right">
                            <h5>Tổng số lượng mặt hàng:
                              <strong class="text-info"> {{ vendors.quantity }}</strong>
                            </h5>
                            <h5>Tổng giá trị hàng (Tệ):
                              <strong class="text-info">{{ order.sum_total | currency:' ':2}} ¥</strong>
                            </h5>
                            <h5>Tổng giá trị hàng (VNĐ):
                              <strong class="text-danger">{{ order.total_item_cost | currency:' ':2}} {{ order.currency | getCurrencySymbol }}</strong>
                            </h5>
                            <h5>Số tiền phải đặt cọc :
                              <strong class="text-info">
                                {{ order.total_item_cost*order.prepaid_percent/100 | currency:' ':2}}
                                {{ order.currency | getCurrencySymbol }}
                              </strong>
                                ({{ order.prepaid_percent }}%)
                            </h5>
                            <h5>Phụ thu:<strong class="text-primary">
                                {{ order.extra_charge | currency:' ':2}} {{ order.currency | getCurrencySymbol }}</strong>
                            </h5>
                            <h5>Thuế GTGT:<strong class="text-primary">
                                {{ order.sum_item_tax_cost | currency:' ':2}} {{ order.currency | getCurrencySymbol }}</strong>
                            </h5>
                            <h5>Khối lượng đơn hàng:<strong class="text-primary">
                                {{ order.order_weight }} KG</strong>
                            </h5>
                            <h5>Tổng tiền theo khối lượng:<strong class="text-primary">
                                {{ order.sum_cost_by_weight | currency:' ':2}} {{ order.currency | getCurrencySymbol }}</strong>
                            </h5>
                            <h4>Tổng Đơn Hàng:<strong class="text-danger">
                                {{ order.grant_total | currency:' ':2}} {{ order.currency | getCurrencySymbol }}</strong>
                            </h4>
                            <h5>Đã thanh toán :<strong class="text-success">
                                {{ order.sum_payment_transaction | currency:' ':2}} {{ order.currency | getCurrencySymbol }}</strong>
                            </h5>
                            <h5>Còn thiếu :<strong class="text-info">
                                {{ order.grant_total - order.sum_payment_transaction | currency:' ':2}} {{ order.currency | getCurrencySymbol }}</strong>
                            </h5>
                        </div>
                    </div>
                </div>
                <hr>
                <p>Vui lòng chọn một trong các hình thức sau để thanh toán</p>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">Thanh toán trực tiếp tại kho hàng</h4>
                            </div>
                            <div class="panel-body">
                                <p> Vui lòng đến kho hàng của công ty để thanh toán</p>
                                <ul>
                                    <li><strong>Kho hàng alo68.vn</strong></li>
                                    <li><strong>Địa chỉ: </strong><span class="text text-info">Số 39, đường Tiếp Giáp Công An,Phú La, Hà Đông (Sau Mê Linh Plaza Hà Đông)</span>
                                    </li>
                                    <li style="color: orangered"><strong>Điện thoại:</strong></li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;Kế toán:</strong>&nbsp;&nbsp;02422642666
                                    </li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp; Kiểm hàng:</strong>&nbsp;&nbsp;02422137555
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">Thanh toán trực tiếp tại văn phòng</h4>
                            </div>
                            <div class="panel-body">
                                <p> Vui lòng đến kho hàng của công ty để thanh toán</p>
                                <ul>
                                    <li><strong>Kho hàng alo68.vn</strong></li>
                                    <li><strong>Địa chỉ: </strong><span class="text text-info">Số 39, đường Tiếp Giáp Công An,Phú La, Hà Đông (Sau Mê Linh Plaza Hà Đông)</span>
                                    </li>
                                    <li style="color: orangered"><strong>Điện thoại:</strong></li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;Kế toán:</strong>&nbsp;&nbsp;02422642666
                                    </li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp; Kiểm hàng:</strong>&nbsp;&nbsp;02422137555
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">Chuyển khoản ngân hàng</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h4><strong class="text-info">Ngân hàng Vietcombank</strong></h4>
                                <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                                <ul>
                                    <li><strong>Chi nhánh: </strong>Chi nhánh Thăng Long</li>
                                    <li><strong>Chủ Tài Khoản: </strong>Lê Thị Mỹ Linh</li>
                                    <li><strong>Số Tài Khoản:</strong> <span
                                            class="text text-danger">0491000047842</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <h4><strong class="text-info">Ngân hàng Techcombank</strong></h4>
                                <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                                <ul>
                                    <li><strong>Chi nhánh: </strong>Chi nhánh Nhuệ Giang</li>
                                    <li><strong>Chủ Tài Khoản: </strong>Lê Thị Mỹ Linh</li>
                                    <li><strong>Số Tài Khoản:</strong> <span
                                            class="text text-danger">19020462233339</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <h4><strong class="text-info">Ngân hàng BIDV</strong></h4>
                                <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                                <ul>
                                    <li><strong>Chi nhánh: </strong>Chi nhánh Tây Hà Nội</li>
                                    <li><strong>Chủ Tài Khoản: </strong> Lê Thị Mỹ Linh</li>
                                    <li><strong>Số Tài Khoản:</strong> <span
                                            class="text text-danger">26010000110700</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="myModal" class="modal" ng-style="{display: display}">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title custom_align" id="Heading">
                Trạng thái vận chuyển
            </h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered" cellspacing="0">
                <tbody ng-show="shipment_all">
                <tr ng-repeat="shipment in shipment_all">
                    <td class="row1">
                        <span class="time">{{ shipment.time | amDateFormat:'HH:mm:ss MM.DD.YYYY' }}</span>
                    </td>
                    <td class="context">{{ shipment.context }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" id="bt" class="btn btn-primary pull-right"
                    ng-click="close()">OK
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
