<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-xs-12 my-order">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="(index,order) in orders">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   ng-href="/user/my-order/{{ order.id }}/">
                                    <span class="glyphicon glyphicon-file"></span>ĐƠN HÀNG #{{ order.id }}
                                </a>
                                <span class="pull-right">Trạng thái:
                                    <span class="label label-default"
                                          ng-class="{'label-success': order.status=='done', 'label-danger': order.status=='unverify', 'label-info': order.status=='delivering'}"
                                          ng-bind='order.status'></span>
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="page-header">
                    <h4>Phương thức thanh toán</h4>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">Thanh toán trực tiếp tại kho hàng</h4>
                            </div>
                            <div class="panel-body">
                                <p> Vui lòng đến kho hàng của công ty để thanh toán</p>
                                <ul>
                                    <li><strong>Kho hàng alo68.vn</strong></li>
                                    <li><strong>Địa chỉ: </strong><span class="text text-info">Số 39, đường Tiếp Giáp Công An,Phú La, Hà Đông (Sau Mê Linh Plaza Hà Đông)</span>
                                    </li>
                                    <li style="color: orangered"><strong>Điện thoại:</strong></li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;Kế toán:</strong>&nbsp;&nbsp;02422642666</li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp; Kiểm hàng:</strong>&nbsp;&nbsp;02422137555</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">Thanh toán trực tiếp tại văn phòng</h4>
                            </div>
                            <div class="panel-body">
                                <p>Vui lòng đến văn phòng công ty để thanh toán:</p>
                                <ul>
                                    <li><strong>Văn phòng alo68.vn</strong></li>
                                    <li><strong>Địa chỉ: </strong><span class="text text-info">Số 39, đường Tiếp Giáp Công An,Phú La, Hà Đông (Sau Mê Linh Plaza Hà Đông)</span>
                                    </li>
                                    <li style="color: orangered"><strong>Điện thoại:</strong></li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;Kế toán:</strong>&nbsp;&nbsp;02422642666</li>
                                    <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp; Kiểm hàng:</strong>&nbsp;&nbsp;02422137555</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">Chuyển khoản ngân hàng</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h4><strong class="text-info">Ngân hàng Vietcombank</strong></h4>
                                <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                                <ul>
                                    <li><strong>Chi nhánh: </strong>Chi nhánh Thăng Long</li>
                                    <li><strong>Chủ Tài Khoản: </strong>Lê Thị Mỹ Linh</li>
                                    <li><strong>Số Tài Khoản:</strong> <span
                                            class="text text-danger">0491000047842</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <h4><strong class="text-info">Ngân hàng Techcombank</strong></h4>
                                <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                                <ul>
                                    <li><strong>Chi nhánh: </strong>Chi nhánh Nhuệ Giang</li>
                                    <li><strong>Chủ Tài Khoản: </strong>Lê Thị Mỹ Linh</li>
                                    <li><strong>Số Tài Khoản:</strong> <span
                                            class="text text-danger">19020462233339</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <h4><strong class="text-info">Ngân hàng BIDV</strong></h4>
                                <p> Chuyển khoản số tiền đặt cọc qua internet banking cho STK dưới đây</p>
                                <ul>
                                    <li><strong>Chi nhánh: </strong>Chi nhánh Tây Hà Nội</li>
                                    <li><strong>Chủ Tài Khoản: </strong>Lê Thị Mỹ Linh</li>
                                    <li><strong>Số Tài Khoản:</strong> <span
                                            class="text text-danger">26010000110700</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
