<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-xs-12">
                <div id="payment-history">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-1">STT</th>
                            <th class="col-md-2">Đối tượng</th>
                            <th class="col-md-3">Thông báo</th>
                            <th class="col-md-2">Thời gian</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in notifications">
                            <td><span>{{ $index + 1 }}</span></td>
                            <td><span>{{ item.actor_content_type }}</span></td>
                            <td><span><a href
                                         ng-click="clickMarkAsReadNotification(item)">{{ item.description }}</a></span>
                            </td>
                            <td><span>{{ item.timestamp | date:'dd/MM/yyyy , hh:mm a' }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
