<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="col-md-12 col-xs-12">
            <div class="container">
                <div id="payment-history">
                    <table class="table table-bordered table-striped mb-none table-hovered">
                        <thead>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-2">Loại thanh toán</th>
                            <th class="col-md-3">Số tiền</th>
                            <th class="col-md-2">Ngày tháng</th>
                            <th class="col-md-4">Ghi chú</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in payments" total-items="totalPurchases">
                            <td><span ng-bind="p.order"></span></td>
                            <td><span ng-bind="p.type"></span></td>
                            <td><span ng-bind="p.transaction.amount | currency:' ':2"></span> <span
                                    ng-bind="p.transaction.currency"></span></td>
                            <td><span ng-bind="p.modified_date_parsed"></span></td>
                            <td><span ng-bind="p.note"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
