<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title custom_align" id="Heading">Alo68.vn xin Thông Báo</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-success">HIHIHIHIHI</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right">OK</button>
        <div class="clearfix"></div>
    </div>
</div>
