<section class="product-content">
    <div class="order-meox loading" ng-show="loading">
        <div class="col-md-6 col-md-offset-3 well" >
            <h3>đang tải dữ liệu...</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
    </div>
    <div class="order-meox">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" role="alert" ng-show="getHTMLError" style="text-align:center">
                <h4>Có lỗi xảy ra, vui lòng bấm vào <a onclick="window.location.reload()"><span class="glyphicon glyphicon-refresh"></span> ĐÂY</a> để thử lại</h4>
            </div>
        </div>
    </div>
    <div id="html-content" ng-hide="loading" ng-bind-html="html"></div>
</section>
<section class="cart-bar order-meox" ng-hide="loading">
    <div class="cart-bar-fixed">
        <div class="container">
            <span class="minimize"><span class="glyphicon glyphicon-menu-down"></span></span>
            <div class="row">
                <div class="col-md-9">
                    <ul id="ordermeox-product-info" ng-hide="parseError">
                        <li class="ordermeox-item-name" ng-bind="productData.name"></li>
                        <li class="ordermeox-item-price">{{productData | getVNDPrice | currency: " "}} VND</li>
                    </ul>
                    <ul id="ordermeox-product-info" ng-show="parseError">
                        <li class="ordermeox-item-price"><small style="font-size: 50%">Có lỗi xảy ra, không thể lấy thông tin sản phẩm</small></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button class="add-to-cart-btn btn btn-info" ng-click="expandBar()" data-submit="false" ng-disabled="parseError"> THÊM VÀO GIỎ HÀNG
                    </button>
                </div>
            </div>
            <div class="cart-bar-item-info" style="display:none;">
                <div class="col-md-12">
                    <form ng-class="form-inline">
                        <table class="table">
                            <tr>
                                <td class="col-md-3"><strong>Số lượng: </strong>
                                    <input type="number" class="form-control" required ng-model="productData.quantity">
                                </td>
                                <td class="col-md-3"><strong>Khối lượng: </strong>
                                    <input type="number" class="form-control" required ng-model="productData.weight" ng-disabled="::productData.weight!=0">
                                </td>
                                <td class="col-md-6"><strong>Tùy chọn đơn hàng: </strong>
                                    <ul>
                                        <li class="item-option" ng-repeat="(key, value) in productData.options_selected">
                                            <strong>{{key}}: </strong>{{value}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
