<section class="product-content">
    <div class="order-meox loading" ng-show="loading">
        <div class="col-md-6 col-md-offset-3 well" >
            <h3>đang tải dữ liệu...</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
    </div>
    <div class="order-meox">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" role="alert" ng-show="getHTMLError" style="text-align:center">
                <h4>Có lỗi xảy ra, vui lòng bấm vào <a onclick="window.location.reload"><span class="glyphicon glyphicon-refresh"></span> ĐÂY</a> để thử lại</h4>
            </div>
        </div>
    </div>
    <div id="html-content" ng-hide="loading" ng-bind-html="html"></div>
</section>
