<div class="order-meox">
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <a data-target="#" class="active" id="register-form-link">Đăng ký</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="register-form" ng-submit="signUp()" role="form" style="display: block;">
                                    <div class="form-group  has-feedback" ng-class="{'has-error': error.username}">
                                        <input autocomplete="off" type="text" ng-model="signUpForm.username" name="username" tabindex="1"
                                               class="form-control" placeholder="Tên tài khoản" required>
                                        <div class="error-message" ng-show="error.username"
                                             ng-repeat="e in error.username ">{{ e }}
                                        </div>
                                        <div class="error-message"
                                             ng-show="error.username_number">{{ error.username_number }}
                                        </div>
                                    </div>
                                    <div class="form-group  has-feedback" ng-class="{'has-error': error.email}">
                                        <input autocomplete="off" type="email" ng-model="signUpForm.email" name="email" tabindex="1"
                                               class="form-control" placeholder="Địa chỉ email" required>
                                        <div class="error-message" ng-show="error.email"
                                             ng-repeat="e in error.email">{{ e }}</div>

                                    </div>
                                    <div class="form-group  has-feedback" ng-class="{'has-error': error.password}">
                                        <input type="password" ng-model="signUpForm.password" name="password"
                                               tabindex="2"
                                               class="form-control" placeholder="Mật khẩu" required>
                                        <div class="error-message" ng-show="error.password"
                                             ng-repeat="e in error.password">{{ e }}</div>
                                    </div>
                                    <div class="form-group  has-feedback"
                                         ng-class="{'has-error': error.confirm_password}">
                                        <input type="password" ng-model="signUpForm.repassword" name="confirm-password"
                                               tabindex="2" class="form-control" placeholder="Xác nhận mật khẩu"
                                               required>
                                        <div class="error-message"
                                             ng-show="error.confirm_password">{{ error.confirm_password }}</div>
                                    </div>
                                    <div class="form-group has-feedback" ng-show="referer" ng-class="{'has-error': error.referer}">
                                        <input type="text" ng-model="signUpForm.referer" name="referer" tabindex="3" ng-value="referer"
                                               class="form-control" placeholder="Người giới thiệu" disabled>
                                        <div class="error-message" ng-show="error.referer"
                                             ng-repeat="e in error.referer">{{ e }}</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <input type="submit" name="register-submit" id="register-submit"
                                                       tabindex="4" class="btn btn-register col-sm-4 col-xs-2 col-sm-offset-4 col-xs-offset-2"
                                                       value="ĐĂNG KÝ NGAY">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
