<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default col-md-3" title="{{ 'userprofile.my_ideas_header' | translate }}" ng-href="/user/my-ideas/"><span class="fa fa-chevron-circle-left"></span> {{ 'userprofile.my_ideas_header' | translate }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="profile-form" class="form-horizontal form-bordered" ng-submit="submitIdea()">
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label" for="title">{{ 'idea.submit.status' | translate }}</label>
                    <div class="col-md-10">
                        <span class="label label-default" ng-show="idea.status==0">{{ 'idea.status.0' | translate }}</span>
                        <span class="label label-info" ng-show="idea.status==1">{{ 'idea.status.1' | translate }}</span>
                        <span class="label label-success" ng-show="idea.status==2">{{ 'idea.status.2' | translate }}</span>
                        <span class="label label-danger" ng-show="idea.status==3">{{ 'idea.status.3' | translate }}</span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label" for="title">{{ 'idea.submit.title' | translate }}</label>
                    <div class="col-md-10">
                        <input type="text" ng-disabled="idea.status>0" class="form-control" id="title" required ng-model="idea.title" />
                        <div class="error-message" ng-show="error.title">{{ error.title[0] }}</div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label" for="category">{{ 'idea.submit.category' | translate }}</label>
                    <div class="col-md-10">
                        <select ng-model="idea.categories" id='categoryList' class="form-control" ng-options="getContentByLang(category, 'name') for category in categoryList track by category.code" multiple>
                        </select>
                        <div class="error-message" ng-show="error.categoryList">{{ error.categoryList[0] }}</div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label" for="html">{{ 'idea.submit.content' | translate }}</label>
                    <div class="col-md-10">
                        <textarea type="text" id="html-textarea" ng-model="idea.html"></textarea>
                        <div class="error-message" ng-show="error.html">{{ error.html[0] }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-4 text-center" ng-show="showReset">
                                <a ng-click="resetField()" class="btn btn-primary btn-lg btn-block push-bottom">{{ 'userprofile.form.reset' | translate }}</a>
                            </div>
                            <div class="col-md-4 text-center" ng-hide="showReset">
                                <input type="submit" name="delete-btn" value="{{ 'idea.submit.delete_idea' | translate }}" id="delete-idea-btn" class="btn btn-primary btn-lg btn-block push-bottom" data-loading-text="{{ 'userprofile.form.wait' | translate }}" ng-click="clickedButton=2">
                            </div>
                            <div class="col-md-4 text-center">
                                <input type="submit" ng-disabled="idea.status>0" name="draft-btn" value="{{ 'idea.submit.draft' | translate }}" id="draft-idea-btn" class="btn btn-primary btn-lg btn-block push-bottom" data-loading-text="{{ 'userprofile.form.wait' | translate }}" ng-click="clickedButton=0">
                            </div>
                            <div class="col-md-4 text-center">
                                <input type="submit" ng-disabled="idea.status>0" name="submit-btn" value="{{ 'idea.submit.submit_idea' | translate }}" id="submit-idea-btn" class="btn btn-primary btn-lg btn-block push-bottom" data-loading-text="{{ 'userprofile.form.wait' | translate }}" ng-click="clickedButton=1" data-tooltip data-original-title="{{ 'idea.submit.warning_message' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
