<div class="order-meox">
  <div class="row">
    <div class="col-md-12 col-xs-12"></div>
    <div class="container">
      <h2>Tạm tính giá sản phẩm</h2>
      <h3>Tỷ giá hiện tại <span class="text-danger">{{ rate }}</span></h3>
      <div class="col-lg-12 text-center">
        <form>
          <div class="row">
            <div class="col-lg-3">
              <label for="price">Nhập giá sản phẩm (nhân dân tệ)</label>
              <input id="price" type="number" step="0.1" ng-model="price" class="form-control" name="price" ng-change="calculate()">
            </div>
            <div class="col-lg-3">
              <label for="quantity">Nhập số lượng</label>
              <input id="quantity" type="number" step="1" ng-model="quantity" class="form-control" name="price" ng-change="calculate()">
            </div>
            <div class="col-lg-3">
              <label for="weight">Nhập cân nặng (Kg)</label>
              <input id="weight" type="number" step="0.1" ng-model="weight" class="form-control" name="weight" ng-change="calculate()">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="row">
              <label>Phí vận chuyển về Việt Nam: </label>
              <label class="text-danger" ng-bind="(shippingToVN|currency:' ':2)+' VNĐ'"></label>
            </div>
            <div class="row">
              <label class="text-primary">Phí dịch vụ: </label>
              <label class="text-danger" ng-bind="(service_charge|currency:' ':2)+' VNĐ'"></label>
            </div>
            <br>
            <div class="row">
              <h4 class="text-info">Giá tạm tính trên mỗi sản phẩm: </h4>
              <label class="text-danger" ng-bind="(pricePerItem|currency:' ':2)+' VNĐ'"></label>
            </div>
            <div class="row">
              <h4 class="text-success">Tổng số tiền cần trả: </h4>
              <label class="text-danger" ng-bind="(total|currency:' ':2)+' VNĐ'"></label>
            </div>
          </div>
          <br>
        </form>
        </div>
    </div>
  </div>
</div>
