<div class="order-meox container">
    <div class="well">
        <h1> <span class="glyphicon glyphicon-info-sign"></span> Chưa hỗ trợ <span>:(</span></h1>
        <p>Xin lỗi quý khách, hiện tại chức năng order taobao chưa được hỗ trợ trên web</p>
        <p>Nếu bạn có nhu cầu mua hàng trên taobao, vui lòng:</p>
        <ul>
            <li>Liên hệ trực tiếp với chúng tôi qua hotline: 04 66721111</li>
            <li>Hoặc tải add-on tại <a href="https://chrome.google.com/webstore/detail/alo68-addon/gcdbobgfigopkdlbekmfncgdfefjpiap?hl=en-US?hl=en-US"
                    target="_blank" class="btn">ĐÂY</a></li>
            <li>Hướng dẫn sử dụng add-on tại <a href="/page/addon-guide-page" target="_blank" class="btn">ĐÂY</a></li></li>
        </ul>
    </div>
</div>
