<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form id="profile-form" class="form-horizontal form-bordered" ng-submit="updateProfile()">
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="username">Tên tài khoản</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="username" readonly ng-model="user.username"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="earn">Tiền giới thiệu</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="earn" readonly ng-model="user.earn"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="refererlink">Link giới thiệu</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="refererlink" readonly ng-model="user.refererlink"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="email">Địa chỉ e-mail</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="email" readonly class="form-control" id="email" ng-model="user.email"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="facebook">Địa chỉ Facebook</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="facebook" ng-model="user.user_facebook"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="full_name">Họ và tên</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="full_name" ng-model="user.full_name"/>
                            <div class="error-message" ng-show="error.full_name">{{ error.full_name[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="dob_year">Năm sinh</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="dob_year" ng-model="user.dob_year"/>
                            <div class="error-message" ng-show="error.dob_year">{{ error.dob_year[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="phone_number">Số điện thoại</label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control" id="phone_number" ng-model="user.phone_number">
                            <div class="error-message" ng-show="error.phone_number">{{ error.phone_number[0] }}</div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-md-3 col-xs-12 " for="address">Điạ chỉ</label>
                        <div class="col-md-9 col-xs-12">
                            <textarea type="text" class="form-control" id="address" ng-model="user.address"></textarea>
                            <div class="error-message" ng-show="error.address">{{ error.address[0] }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-xs-12 col-md-offset-3 col-xs-offset-0">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 text-center">
                                    <a ng-click="resetField()" class="btn btn-primary btn-lg btn-block push-bottom">Khôi phục</a>
                                </div>
                                <div class="col-md-6 col-xs-6 text-center">
                                    <input type="submit" value="Cập nhật"
                                           class="btn btn-primary btn-lg btn-block push-bottom"
                                           data-loading-text="Đang cập nhật...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>

    </div>
</div>
