<div class="order-meox">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-include="'/static/app/views/_side-bar.html'"></div>
        <div class="container">
            <div class="col-md-12 col-xs-12">
                <h3>Số dư hiện tại: </h3>
                <h1 class="text-info">{{ user_balance.amount | currency:' ':2 }} {{ user_balance.currency }} <a
                        data-toggle="modal" data-target="#depositInstruction" class="btn btn-danger"><span
                        class="glyphicon glyphicon-plus"></span> Nạp Tiền</a></h1>
                <div id="payment-history">
                    <div class="page-title">
                        <h3>Lịch sử ví điện tử</h3>
                    </div>
                    <table class="table table-bordered table-striped mb-none table-hovered">
                        <thead>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-2">Loại thanh toán</th>
                            <th class="col-md-3">Số tiền</th>
                            <th class="col-md-2">Ngày tháng</th>
                            <th class="col-md-4">Ghi chú</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in walletFromItems track by " total-items="totalPurchases">
                            <td><span ng-bind="p.order"></span></td>
                            <td><span ng-bind="p.type"></span></td>
                            <td><span ng-bind="p.transaction.amount | currency:' ':2"></span> <span
                                    ng-bind="p.transaction.currency"></span></td>
                            <td><span ng-bind="p.modified_date_parsed"></span></td>
                            <td><span ng-bind="p.note"></span></td>
                        </tr>
                        <tr ng-repeat="p2 in walletToItems track by $index" total-items="totalPurchases">
                            <td><span ng-bind="p2.order"></span></td>
                            <td><span ng-bind="p2.type"></span></td>
                            <td><span ng-bind="p2.transaction.amount | currency:' ':2"></span> <span
                                    ng-bind="p2.transaction.currency"></span></td>
                            <td><span ng-bind="p2.modified_date_parsed"></span></td>
                            <td><span ng-bind="p2.note"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
