[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8 !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

/*FOOTER*/

/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #4d4d4d;
    padding-top: 1px;
    padding-right: 0;
    padding-left: 0;
}

.title-widget {
    color: #898989;
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.widget_nav_menu ul li {
    font-size: 13px !important;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width: 95%;
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {
    font-family: 'Gudea', sans-serif;
}

#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Only Needed in Multi-Coloured Variation
                                               */

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.social-em:hover {
    color: #f39c12;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}

.footer-bottom {
    background-color: #333;
    min-height: 30px;
    width: 100%;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}

/************************************************************
*************************Footer******************************
*************************************************************/

/* Custom page header */

.order-meox .navbar {
    border-radius: 0px !important;
}

a.brand > img {
    width: 200px;
    margin: 0 auto;
    padding: 10px
}

.header,
.footer {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
}

.toast-top-full-width,
.odmx-price-hover {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header a.brand > h3 {
    color: #149c82;
    margin-top: 30px;
}

.header a.brand:hover {
    text-decoration: none;
    cursor: pointer;
}

.order-meox .navbar {
    margin-bottom: 0px
}

/* Make the masthead heading the same height as the navigation */

/* Custom page footer */

.footer {
    color: #777;
    border-top: 1px solid #e5e5e5;
    background-color: #FFF !important;
}

/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.body {
    margin-top: -5px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    min-height: 800px;
    background-color: #f8f8f8;
    background-size: 100%;
}

/*CUSTOM*/

.error-message {
    color: red;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 80%;
}

#main-navbar {
    margin-top: 10px;
}

form.global-search-form {
    margin-top: 22px;
}

.login-panel {
    margin-top: 20px;
    padding: 2px;
    font-size: 13px;
}

.login-panel span {
    float: right;
    font-size: 20px;
    margin-top: 5px;
}

.primary-dropdown > a {
    width: 250px !important;
    /*background-color: #0099CB!important;*/
}

.order-meox .input-group-addon {
    background-color: #18bc9c;
    color: white;
}

.login-panel .glyphicon {
    color: #18bc9c;
}

/*.primary-dropdown > a {
    color: white!important;
}*/

.primary-dropdown .odmx-dropdown-menu {
    width: 100%;
    /*border: 1px solid #eee;*/
    box-shadow: none;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.primary-dropdown .odmx-dropdown-menu > li > a {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

#home-carousel {
    width: 100%;
    height: auto;
}

#home-carousel .carousel-inner {
    height: auto;
}

#home-carousel .carousel-inner img {
    width: 100%;
    height: 100%;
}

section.about-us {
    margin-top: 10px;
    position: relative;
}

.about-us .title {
    background-color: #15a589;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}

.about-us .about-us-item:hover > .title {
    background-color: #FF733E;
}

.about-us-item {
    border: 1px solid #ededed;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.about-us .content {
    border: 1px solid #ededed;
    padding: 5px;
    padding-left: 5px;
    height: 70px;
    overflow: hidden;
    background-color: #fff;
}

.about-us .about-us-item:hover > .content {
    height: auto;
    position: absolute;
    z-index: 2;
}

section.brands {
    margin-top: 10px;
    position: relative;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor: pointer;
}

.panel-login > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    outline: none;
    color: #fff !important;
    font-size: 14px !important;
    height: auto !important;
    font-weight: normal;
    padding: 14px 0 !important;
    text-transform: uppercase;
    border-color: #59B2E6 !important;
    background-color: #59B2E0 !important;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff !important;
    background-color: #53A3CD !important;
    border-color: #53A3CD !important;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E !important;
    outline: none;
    color: #fff !important;
    font-size: 14px !important;
    height: auto !important;
    font-weight: normal;
    padding: 14px 0 !important;
    text-transform: uppercase;
    border-color: #1CB94A !important;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347 !important;
    border-color: #1CA347 !important;
}

.cart-bar-fixed {
    position: fixed;
    min-height: 100px;
    color: black !important;
    background-color: #fdfdfd;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 10px;
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease-in-out;
    border-top: 1px solid #eee;
    z-index: 999;
    width: 100%;
}

.cart-bar .add-to-cart-btn {
    margin-top: 10px;
    padding: 15px;
}

.cart-bar-fixed .container span.minimize {
    z-index: 1000000;
    height: 16px;
    color: black;
    background-color: white;
    box-shadow: 0px -4px 9px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    top: -15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    right: 80px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#profile-form,
.my-order,
#change-password-form,
#payment-history {
    margin-top: 15px;
}

ul#ordermeox-product-info {
    color: black !important;
}

ul#ordermeox-product-info li {
    list-style-type: none;
}

.ordermeox-item-name {
    text-transform: uppercase;
    font-size: 22px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
}

.ordermeox-item-price {
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    color: #b12704 !important;
}

.cart-bar-item-info input.form-control {
    width: auto !important;
    display: inline !important;
    margin-left: 5px;
    max-width: 100px;
}

.cart-bar-item-info textarea.form-control {
    width: auto !important;
    display: inline !important;
    margin-left: 5px;
}

.wizard {
    margin: 20px auto;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
}

.wizard h3 {
    margin-top: 0;
}

.order-meox .my-order .form-inline .form-group {
    margin-right: 10px;
}

.order-meox .my-order .well-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
}

.order-meox .my-order .glyphicon {
    margin-right: 5px;
}

@media ( max-width: 585px) {
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.domain-logo {
    max-height: 20px;
    width: auto;
}

ul.unstyled li {
    list-style-type: none;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-top: 10px
}

ul.unstyled li.item-header {
    padding-left: 0px;
    font-size: 120%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.order-meox.footer .col-xs-3:not(:last-child) {
    border-right: 1px solid #ececec;
}

td .cart-item-option {
    font-size: 70%;
}

.panel-body .cart-item-option ul {
    padding-left: 0px;
}

.panel-body .cart-item-option li {
    list-style-type: none;
    font-size: 85%;
}

.panel-body .cart-item-option p {
    font-size: 85%;
    padding: 0px 0px;
}

a.note-toggle {
    font-size: 12px;
    cursor: pointer;
}

/* Main Discount Section CSS*/

section.discount-product {
    margin-top: 30px;
}

.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}

.col-item .photo img {
    margin: 0 auto;
    width: 100%;
}

.col-item .info {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}

.col-item .price {
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5 {
    line-height: 20px;
    margin: 0;
}

.price-text-color {
    color: #219FD1;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i {
    margin-right: 5px;
}

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
}

#prxydomain-btn {
    border: 1px solid #dce4ec;
    width: 100px;
    color: black;
    background-color: white;
}

section.categories {
    margin-top: 10px;
    margin-bottom: 50px;
}

.categories .category-children {
    border: 1px solid #EAEAEA;
    background-color: white;
    height: 200px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out;
}

.categories .category-children:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.15);
}

.categories .category-children ul li {
    list-style-type: none;
    margin-top: 10px;
}

.categories .category-children ul li.category-more {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 70%;
}

.odmx-price-hover {
    border: 1px solid #eaeaea;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
}

.odmx-price-hover::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -5px;
    left: 1px;
}

.odmx-price-hover::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #eaeaea;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -6px;
    left: 0px;
}

.hover-content {
    display: none;
}

ul.prices-by-currency {
    margin-top: 5px;
}

ul.prices-by-currency li {
    list-style-type: none;
}

.col-xs-9.small-padding > div {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

#odmx-logo {
    margin-top: 10px;
    padding-left: 30px;
}

label.search-language {
    font-size: 15px;
    font-weight: normal;
}

.text-red {
    color: #e74c3c !important;
}

/*Amazon CSS Manipulate */

#rightCol,
#customer-reviews_feature_div,
#ask-btf_feature_div,
#navFooter,
#miniATF_feature_div {
    display: none;
}

/*Ebay CSS Manipulate*/

#glbfooter {
    display: none;
}

.product-content header {
    display: none;
}

.centerColAlign {
    margin-right: 0px !important;
}

/*Owl carousel*/

.owl-prev {
    position: absolute;
    top: 40%;
    left: -20px;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: -20px;
}

/*Fullwidth section*/

section.fullwidth-section {
    padding: 10px 0px;
    height: auto;
}

.fullwidth-outer {
    position: absolute;
    left: 0px;
    right: 0px;
    height: auto;
    -moz-box-shadow: inset 0 1px 7px #ccc;
    -webkit-box-shadow: inset 0 1px 7px #ccc;
    box-shadow: inset 0 1px 7px #ccc;
}

.fullwidth-outer-about-us {
    left: 0;
    right: 0;
    height: auto;
    background-color: #f9f9f9;
}

.download-button-section {
    padding-top: 20px;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.fancy-btn {
    font: 1em/1.3em Montserrat, Helvetica, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 53px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #888;
    color: white;
}

.fancy-btn span.icon,
.fancy-btn span.title {
    display: block;
    position: relative;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.fancy-btn span.left {
    float: left;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
}

.fancy-btn span.right {
    float: right;
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
}

.fancy-btn span.icon {
    font-size: 23px;
    background-color: #00967f;
    -webkit-box-shadow: 0 3px 0 0 #007261;
    box-shadow: 0 3px 0 0 #007261;
    text-shadow: 0px 1px 1px #888;
}

.fancy-btn span.title {
    -webkit-box-shadow: 0 3px 0 0 #00ae94;
    box-shadow: 0 3px 0 0 #00ae94;
    background-color: #00cdae;
}

.fancy-btn span.arrow-left,
.fancy-btn span.arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: all .15s;
    -transition: all .15s;
    -webkit-transition-property: left, right;
    transition-property: left, right;
}

.fancy-btn.left span.arrow-left {
    right: 0;
    -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    border-right: 10px solid #00cdae;
}

.fancy-btn.right span.arrow-left {
    right: 0;
    -webkit-box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
    box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
    border-right: 10px solid #00967f;
}

.fancy-btn.left span.arrow-right {
    left: 0;
    -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
    box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
    border-left: 10px solid #00967f;
}

.fancy-btn.right span.arrow-right {
    left: 0;
    -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
    box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
    border-left: 10px solid #00cdae;
}

.fancy-btn span.slant-left,
.fancy-btn span.slant-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 50px solid transparent;
    -webkit-transition: all .15s;
    -transition: all .15s;
    -webkit-transition-property: left, right;
    transition-property: left, right;
}

.fancy-btn.left span.slant-right {
    left: 0;
    -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
    box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
    border-left: 10px solid #00967f;
}

.fancy-btn.right span.slant-right {
    left: 0;
    -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
    box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
    border-left: 10px solid #00cdae;
}

.fancy-btn.left span.slant-left {
    right: 0;
    -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    border-right: 10px solid #00cdae;
}

.fancy-btn.right span.slant-left {
    right: 0;
    -webkit-box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
    box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
    border-right: 10px solid #00967f;
}

.fancy-btn:active,
.fancy-btn.active {
    height: 51px;
}

.fancy-btn:hover {
}

.fancy-btn:hover span.arrow-left {
    right: 10px;
}

.fancy-btn:hover span.arrow-right {
    left: 10px;
}

.fancy-btn:hover span.slant-left {
    right: 10px;
}

.fancy-btn:hover span.slant-right {
    left: 10px;
}

.fancy-btn-small {
    height: 30px;
    font-size: 12px;
    line-height: 10px;
}

a.fancy-btn {
    color: white;
}

a.fancy-btn:hover {
    color: white;
    text-decoration: none;
}

a.btn-small span.btn {
    height: 30px;
}

/*HOMEPAGE BOX STYLE*/

.box {
    background: #fff;
    transition: all 0.2s ease;
    border: 2px dashed #f42;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding: 0 20px 20px 20px;
    min-height: 290px;
}

.box:hover {
    border: 2px solid #dd4814;
    background-color: rgba(221, 72, 20, 0.16);
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

.box .box-content p {
    color: #515c66;
    text-transform: none;
}

.order-meox .nav-tabs > li > a {
    color: #716f6f
}

.primary-search-form {
    margin-top: 15px;
}

.order-meox .primary-search-form .form-control {
    padding: 25px 12px;
    border: 1px solid #f47554;
    border-radius: 40px 40px 40px 40px
}

.order-meox .primary-search-form .glyphicon {
    padding: 8px 8px;
    color: #DD4814
}

.exchange-rate {
    margin-top: 50px;
    color: #EEBA00;
    font-size: 12px;
    text-transform: uppercase;
}

.text-highlighted {
    color: #EEBA00;
}

/*STATUS BAR*/

.status-bar {
    color: #dd4814;
    padding-top: 7px;
    font-size: 12px;
}

.status-bar ul > li {
    display: inline;
    margin-left: 3px;
}

/* Button facebook, google login */
.login-facebook.button, .login-google.button {
    overflow: hidden;
    cursor: pointer;
    width: 50%;
    margin-bottom: 20px;
}

.login-facebook.button {
    clear: both;
    float: left;
}

.login-google.button {
    float: right;
}

.login-facebook.button div, .login-google.button div {
    margin: 0px auto;
    border-radius: 4px;
    overflow: hidden;
    width: 80%;
}

.login-facebook.button i, .login-google.button i {
    border-right: solid 1px #fff;
    float: left;
    padding: 10px;
    border-radius: 4px 0px 0px 4px;
    color: #fff;
    height: 37px;
}

.login-facebook.button i, .login-facebook.button div {
    background: #546fae;
}

.login-facebook.button span, .login-google.button span {
    float: left;
    padding: 7px 25px;
    border-radius: 0px 4px 4px 0px;
    color: #fff;
    display: block;
    height: 37px;
}

.login-google.button i, .login-google.button div {
    background: #dd4d30;
}

#login-form {
    clear: both;
}

.order-meox .panel-info.selected-item {
    border: 2px solid #37a301 !important;
}

.order-meox .panel-info.selected-item .panel-heading {
    background-color: #e8ffcc;
}

/* msg center */
@-webkit-keyframes pulsate {
    30% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    35% {
        opacity: 1.0;
    }
    40% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

.al-msg-center {
    float: right;
    padding: 0;
    list-style: none;
}

.al-msg-center li {
    list-style: none;
    float: left;
    margin-left: 30px;
}

.al-msg-center li:first-child {
    margin-left: 0;
    margin-top: 0;
}

.al-msg-center li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    position: relative;
}

.al-msg-center li > a span {
    display: inline-block;
    min-width: 10px;
    padding: 2px 3px 2px 3px;
    color: #EEBA00;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 13px;
    text-shadow: none;
    line-height: 11px;
    background-color: #d93833;
    position: absolute;
    top: -1px;
    right: -15px;
    font-size: 11px;
}

.al-msg-center li > a .notification-ring {
    border: 1px solid #e85656;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -18px;
    right: -27px;
    -webkit-animation: pulsate 8s ease-out;
    animation: pulsate 8s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
}

.al-msg-center li > a:hover {
    color: #e85656;
}

.al-msg-center li > a:hover.msg {
    color: #209e91;
}

.al-msg-center li > a.msg span {
    background-color: #209e91;
}

.al-msg-center li > a.msg .notification-ring {
    border-color: #209e91;
}

.al-msg-center li.open > a {
    color: #e85656;
}

.al-msg-center li.open > a.msg {
    color: #209e91;
}

@media (max-width: 435px) {
    .al-msg-center {
        margin-right: 20px;
    }

    .al-msg-center li {
        margin-left: 20px;
    }

    .al-msg-center li:first-child {
        margin-left: 0;
    }
}

.msg-block-header {
    display: inline-block;
    padding: 0;
    font-size: 13px;
    margin: 0 0 0 6px;
}

.mgscenter-dropdown {
    width: 316px;
    left: -200px;
    right: -42px;
    top: 26px;
}

.dropdown-menu.mgscenter-dropdown {
    left: -247px;
    top: 26px;
}

.mgscenter-dropdown ::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

.mgscenter-dropdown ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.mgscenter-dropdown ::-webkit-scrollbar-track {
    background: #fff;
}

.mgscenter-dropdown body {
    scrollbar-face-color: rgba(0, 0, 0, 0.5);
    scrollbar-track-color: #fff;
}

.mgscenter-dropdown .header {
    padding: 10px 12px;
    border-bottom: 1px solid #ffffff;
    font-size: 12px;
}

.mgscenter-dropdown .header strong {
    float: left;
    color: #7d7d7d;
}

.mgscenter-dropdown .header > a {
    float: right;
    margin-left: 12px;
    text-decoration: none;
}

.mgscenter-dropdown .header > a:hover {
    color: #7d7d7d;
}

.mgscenter-dropdown .msg-list {
    max-height: 296px;
    overflow: scroll;
    overflow-x: hidden;
}

.mgscenter-dropdown .msg-list > a {
    border-top: 1px solid #ffffff;
    padding: 10px 12px;
    display: block;
    text-decoration: none;
    color: #7d7d7d;
    font-size: 12px;
}

.mgscenter-dropdown .msg-list > a:first-child {
    border-top: none;
}

.mgscenter-dropdown .msg-list > a .img-area {
    float: left;
    width: 36px;
}

.mgscenter-dropdown .msg-list > a .img-area img {
    width: 36px;
    height: 36px;
}

.mgscenter-dropdown .msg-list > a .img-area img.photo-msg-item {
    border-radius: 18px;
}

.mgscenter-dropdown .msg-list > a .img-area > div {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.mgscenter-dropdown .msg-list > a .img-area > div.comments {
    color: #dfb81c;
}

.mgscenter-dropdown .msg-list > a .img-area > div.orders {
    color: #dfb81c;
}

.mgscenter-dropdown .msg-list > a .img-area > div i {
    width: 36px;
    line-height: 36px;
}

.mgscenter-dropdown .msg-list > a .msg-area {
    float: right;
    width: 230px;
}

.mgscenter-dropdown .msg-list > a .msg-area div {
    max-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mgscenter-dropdown .msg-list > a .msg-area span {
    font-style: italic;
    text-align: right;
    display: block;
    font-size: 11px;
}

.mgscenter-dropdown .msg-list > a:hover {
    background: #E2F0FF;
}

.mgscenter-dropdown > a {
    border-top: 1px solid #ffffff;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

.mgscenter-dropdown > a:hover {
    color: #7d7d7d;
}

.mgscenter-dropdown.profile-dropdown {
    width: 145px;
    top: 55px;
    right: -25px;
}

.mgscenter-dropdown.profile-dropdown a {
    text-align: left;
    border: none;
    text-decoration: none;
    color: #7d7d7d;
    padding: 4px 16px 4px 20px;
}

.mgscenter-dropdown.profile-dropdown a.signout {
    border-top: 1px solid #ffffff;
}

.mgscenter-dropdown.profile-dropdown a i {
    margin-right: 10px;
}

.mgscenter-dropdown.profile-dropdown a:hover {
    background: #f4fcff;
}

.mgscenter-dropdown.profile-dropdown i.dropdown-arr {
    right: 25px;
}

.mgscenter-dropdown i.dropdown-arr {
    position: absolute;
    top: -22px;
    right: 42px;
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.mgscenter-dropdown i.dropdown-arr:after {
    top: -9px;
    left: 0px;
    margin-left: -10px;
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
}

@media (max-width: 415px) {
    .mgscenter-dropdown {
        right: -81px;
    }

    .mgscenter-dropdown i.dropdown-arr {
        right: 75px;
    }
}

.mgscenter-dropdown {
    right: auto;
}

.order-meox .footer .footer1 .container {
    margin-top: 0px;
}

.text-gray {
    color: #c2c1c1 !important;
}

.text-footer-gray {
    color: #c2c1c1 !important;
    margin-top: -10px;
}

#tutorialbreadcrumb {
    margin-top: -50px;
    height: 450px;
    text-align: center;
    color: #fff;
    background: url('../images/turorial-breadcrumb.png') no-repeat center 300px #484b43;
}

#tutorialbreadcrumb .container {
}

#tutorialbreadcrumb h2 {
    font-size: 36px;
    margin-top: 90px;
    text-transform: uppercase;
}

#tutorialbreadcrumb p {
    margin-top: 30px;
    color: #fafafa;
    text-transform: uppercase;
}

#tutorialbreadcrumb ul {
    margin-top: 45px;
}

#tutorialbreadcrumb li {
    float: left;
    width: 14.2%;
}

#tutorialbreadcrumb li a {
    color: #fff;
    display: block;
    width: 131px;
    margin: 0 auto;
    font-size: 14px;
}

#tutorialbreadcrumb li img {
    padding-bottom: 15px;
}

#turoialsteps {
    position: relative;
}

#turoialsteps:before {
    content: " ";
    display: block;
    background: url('../images/tutorial-stepline.png');
    width: 36px;
    height: 3044px;
    left: 50%;
    margin-left: -18px;
    top: 190px;
    position: absolute;
}

#turoialsteps .turoialstep {
    background: #efeff0;
}

#turoialsteps .turoialstep:nth-child(2n+1) {
    background: #fff;
}

#turoialsteps h3 {
    font-size: 36px;
    margin-top: 90px;
    text-transform: uppercase;
}

#turoialsteps p {
    margin-top: 20px;
}

#turoialsteps .col1 {
    text-align: right;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 45px;
}

#turoialsteps .col2 {
    text-align: left;
    padding-left: 80px;
    padding-top: 60px;
    padding-bottom: 45px;
}

#turoialsteps .numbers {
    background: url('../images/tutorial-numbers.png') no-repeat right top;
    height: 290px;
    margin-top: 25px;
    padding-right: 30px;
}

#turoialsteps .numbers p {
    text-align: right;
    height: 47px;
}

.breadcrumbs {
    background: url('../images/breadcrumbbg.png');
    height: 150px;
}

.breadcrumbs h1 {
    text-transform: uppercase;
    color: #fff;
    margin-top: 50px;
}

a.label:hover,
a.label:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .order-meox .container {
        width: 100%;
    }
}

.container .col-xs-6 img {
    width: 100%;
}

.footer-bottom {
    overflow: hidden;
}

#notification .body {
    overflow: hidden;
    width: 100%;
}

.brands .container a {
    display: block;
    text-align: center;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
#no-decoration {
    color: white;
    text-decoration: none !important;
}
/*# sourceMappingURL=style.css.map */