@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#header {
    background-color: #4d4d4d;
    color: #fff;
    height: 35px;
}
#header .text-left {
    line-height: 35px;
    padding: 0;
}
#header p {
    font-size: 13px;
    margin: 0;
}
#header .nav .noti-icon {
    position: relative;
}
#header .nav li > a {
    color: #fff;
    font-size: 13px;
    line-height: 35px;
    padding: 0;
    margin: 0 10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header {
  background-color: #4d4d4d;
  color: #fff;
  height: 35px;
}
#header .text-left {
  line-height: 35px;
  padding: 0;
}
#header p {
  font-size: 13px;
  margin: 0;
}
#header .nav li > a {
  color: #fff;
  font-size: 13px;
  line-height: 35px;
  padding: 0;
  margin: 0 10px;
}
#header .nav li > a:hover,
#header .nav li > a:focus,
#header .nav li > a:active {
  background-color: transparent;
  color: #cccccc;
}
#header .nav li > a p {
  display: inline-block;
  margin: 0;
}
#header .nav .open a {
  background-color: transparent;
}
#header .nav .open .dropdown-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#header .nav .noti-icon i {
  font-size: 15px;
}
#header .nav .noti-icon .total-noti {
  right: -10px;
  top: 3px;
}
#header .nav .link-cart {
  margin: 0 20px;
}
#header .nav .profile-dropdown {
  margin: 0 15px 0 20px;
}
#header .nav .dropdown-menu {
  border: none;
  color: #808080;
  display: block;
  font-size: 13px;
  opacity: 0;
  padding: 0;
  right: 0;
  top: 150%;
  visibility: hidden;
}
#header .nav .dropdown-menu.dropdown-menu-notificaion {
  width: 310px;
}
#header .nav .dropdown-menu.flat:before {
  content: '';
  border-bottom: 3px solid transparent;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  position: absolute;
  right: 13px;
  top: -3px;
  transform: rotate(45deg);
}
#header .nav .dropdown-menu.menu-user:before {
  content: none;
}
#header .nav .dropdown-menu li {
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding: 10px;
}
#header .nav .dropdown-menu li .see-all-noti {
  cursor: pointer;
  display: inline-block;
  text-align: right;
}
#header .nav .dropdown-menu li .see-all-noti:hover {
  color: #143980;
}
#header .nav .dropdown-menu li.header-noti-parent {
  padding: 10px;
  border: none;
}
#header .nav .dropdown-menu li:first-child p {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}
#header .nav .dropdown-menu li .dropdown-header {
  color: #808080;
  line-height: inherit;
  margin: 0;
  text-align: center;
}
#header .nav .dropdown-menu li .dropdown-header:hover,
#header .nav .dropdown-menu li .dropdown-header:focus,
#header .nav .dropdown-menu li .dropdown-header:active {
  color: #143980;
}
#header .nav .show-messagers {
  max-height: 416px;
  overflow-y: scroll;
  width: 100%;
}
#header .nav .show-messagers li {
  border-color: #cdcdcd;
  border-width: 0 0 1px 0;
}
#header .nav .show-messagers li .notification {
  color: #4d4d4d;
  display: inline-block;
  font-size: 13px;
  line-height: inherit;
  margin: 0;
}
#header .nav .show-messagers li .notification span {
  color: #808080;
  display: block;
  font-size: 11px;
  margin-top: 5px;
}
#header .nav .show-messagers li .notification:hover,
#header .nav .show-messagers li .notification:active,
#header .nav .show-messagers li .notification:focus {
  text-decoration: none;
}
#header .nav .show-messagers li:first-child {
  border-top: 1px solid #e6e6e6;
}
#header .nav .show-messagers li:hover,
#header .nav .show-messagers li:active,
#header .nav .show-messagers li:focus {
  background-color: #e6e6e6;
}
#header .nav .menu-user li {
  border: none;
  padding: 5px 10px;
}
#header .nav .menu-user li:first-child {
  padding-top: 10px;
}
#header .nav .menu-user li:last-child {
  padding-bottom: 10px;
}
#header .nav .menu-user li a {
  color: #4d4d4d;
  font-weight: 500;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
#header .nav .menu-user li a:hover,
#header .nav .menu-user li a:active,
#header .nav .menu-user li a:focus {
  color: #143980;
}
#header .nav .menu-user li a .icon {
  display: inline-block;
  text-align: center;
  width: 20px;
}
#header .nav .menu-user li a .icon i {
  font-size: 14px;
}
#logo {
  display: inline-block;
  overflow: hidden;
  width: 100px;
  margin-left: -14px;
}
.logo {
  display: inline-block;
  overflow: hidden;
  width: 100px;
  margin-left: -14px;
}
#logo img {
  max-width: 100%;
}
#page-profile {
  color: #fff;
  margin-top: -35px;
}
#page-profile.coverimage {
  background: url(/static/banner2.jpg) no-repeat center center fixed;
  display: block;
  height: 250px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page-profile.coverimage .coverborder {
  background: url(/static/banner2.jpg) bottom left repeat-x;
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.1);
  bottom: -1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#page-profile .infoProfile h2 {
  text-transform: capitalize;
}
#page-profile .infoProfile .levelVip {
  display: inline-block;
}
#page-profile .infoProfile .infoItem {
  float: left;
}
#page-profile .infoProfile .infoItem.totalmoneyused p {
  font-size: 12px;
  margin-bottom: 5px;
}
#page-profile .infoProfile .infoItem.totalmoneyused .progress {
  height: 15px;
  border-radius: 10px;
  max-width: 310px;
}
#page-profile .infoProfile .infoItem.totalmoneyused .progress .progress-bar {
  font-size: 10px;
  line-height: 15px;
}
#page-profile .infoProfile .infoItem.balance h3 {
  font-size: 30px;
  text-transform: uppercase;
}
body {
    background-color: #fff;
    color: #4d4d4d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section#header {
    padding: 0px;
}
section {
    padding: 40px 0;
}

section, header, footer {
    /* max-width: 1336px; */
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.mg-right-10 {
    margin-right: 10px;
}

@media (min-width: 768px) {
  #menu {
    padding: 4px;
  }
  .menu {
    padding: 4px;
  }
  #menu #logo img.logomobile {
    display: none;
  }
  #menu .collapse {
    margin-top: 6px;
  }
  #menu .collapse .nav {
    float: right;
  }
  #menu .collapse .nav li {
    padding: 0 15px;
  }
  #menu .collapse .nav li.active > a:after {
    height: 3px;
  }
  #menu .collapse .nav li a {
    color: #716f6f;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 13px 0 15px 0;
    position: relative;
  }
  #menu .collapse .nav li a:hover,
  #menu .collapse .nav li a:active,
  #menu .collapse .nav li a:focus {
    background-color: transparent;
    color: #F42;
  }
  #menu .collapse .nav li a:after {
    background-color: #F42;
    bottom: 0;
    content: "";
    display: block;
    height: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
  }
  #menu .collapse .nav li a:hover:after {
    height: 3px;
  }
  #menu .collapse .nav li .extentsion {
    display: inline-block;
    margin-left: 100px;
    overflow: hidden;
    padding: 0;
    width: 220px;
  }
  #menu .collapse .nav li .extentsion:hover:after {
    display: none;
  }
  #menu .collapse .nav li .extentsion img {
    max-width: 100%;
  }
  #menu .collapse .nav li:last-child {
    padding: 0;
  }
  #menu .notiicon-mobile {
    display: none;
  }
  #page-profile .infoProfile {
    margin-top: 100px;
  }
  #page-profile .infoProfile .block-avatar {
    margin-top: 10px;
    padding-left: 10px;
    position: relative;
  }
  #page-profile .infoProfile .block-avatar a {
    border: 2px solid #fff;
    display: inline-block;
    height: 170px;
    overflow: hidden;
    width: 170px;
    z-index: -1;
  }
  #page-profile .infoProfile .block-avatar a .avt {
    background-position: center;
    -moz-background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    height: 170px;
    text-indent: -170px;
    -moz-text-indent: -170px;
    width: 170px;
    display: block;
  }
  #page-profile .infoProfile .block-avatar .upload-ava {
    height: 170px;
    position: absolute;
    top: 0;
    width: 170px;
  }
  #page-profile .infoProfile .block-avatar .upload-ava a {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 170px;
    text-align: center;
    z-index: 999;
    visibility: hidden;
  }
  #page-profile .infoProfile .block-avatar .upload-ava:hover a {
    visibility: visible;
  }
  #page-profile .infoProfile .col-md-10 h2 {
    margin: 10px 0 20px 0;
  }
  #page-profile .infoProfile .col-md-10 .levelUser {
    width: 10%;
  }
  #page-profile .infoProfile .col-md-10 .infoItem {
    float: left;
    width: 45%;
  }
  #page-profile .infoProfile .col-md-10 .infoItem.balance {
    text-align: right;
  }
  #page-profile .infoProfile .col-md-10 .infoItem.balance h3 {
    margin: 25px 0;
  }
  #page-profile .infoProfile .col-md-10 .levelVip {
    font-size: 25px;
  }
  #container-order-detail .detail .info-item .title-item {
    margin-bottom: 10px;
  }
  #container-order-detail .detail .info-item .title-item h3 {
    display: inline-block;
  }
  #container-order-detail .detail .info-item .title-item p {
    display: inline-block;
  }
  #container-order-detail .detail .ctn-item .ctn-right {
    float: left;
  }
  #container-order-detail .detail .ctn-item .ctn-left {
    padding-left: 100px;
  }
  #container-order-detail .totalmoneyorder div {
    overflow: hidden;
  }
  #container-order-detail .totalmoneyorder div .box-price {
    float: left;
    width: 50%;
  }
  #main-content .ordereds .tabs-od #tablist {
    padding: 0;
  }
  #main-content .ordereds .tabs-od .nav-tabs {
    margin-bottom: 10px;
  }
  #main-content .ordereds .tabs-od .nav-tabs li {
    margin: 0;
  }
  #main-content .ordereds .tabs-od .nav-tabs li a {
    border: none;
    color: #000;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    position: relative;
    font-size: 13px;
  }
  #main-content .ordereds .tabs-od .nav-tabs li a:hover {
    background-color: transparent;
    color: #143980;
  }
  #main-content .ordereds .tabs-od .nav-tabs li a:after {
    background-color: #143980;
    bottom: 0;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
  }
  #main-content .ordereds .tabs-od .nav-tabs li a:hover:after {
    height: 3px;
  }
  #main-content .ordereds .tabs-od .nav-tabs li a sup {
    border-radius: 5px;
    height: 17px;
    line-height: 17px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 17px;
    color: #d93833;
  }
  #main-content .ordereds .tabs-od .nav-tabs li.active a {
    color: #143980;
    font-weight: 600;
  }
  #main-content .ordereds .tabs-od .nav-tabs li.active a:after {
    height: 3px;
  }
  #main-content .ordereds .tabs-od .tab-content {
    border: none;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane {
    padding: 0;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .img-od {
    height: 150px;
    overflow: hidden;
    text-align: center;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .img-od a {
    display: inline-block;
    overflow: hidden;
    height: 100px;
    width: 100px;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .img-od a img {
    width: 100%;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .if-od .tt-od .title-item {
    margin-bottom: 10px;
    width: 55%;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .if-od .tt-od .title-item h3,
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .if-od .tt-od .title-item p {
    display: inline-block;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .if-od .tt-od .title-item p {
    margin: 0;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .if-od .tt-od .title-item .check-box {
    margin-top: 10px;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .ctn-od .if-od .nt-hidden {
    display: inline-block;
    padding: 0 15px;
    width: 45%;
  }
  #main-content .ordereds .tabs-od .tab-content .tab-pane .tab-each .stt-od .col-md-4 {
    padding: 0 20px;
  }
  #main-content .history-ods .table-hsTrade tr td {
    border-bottom: 1px solid #e6e6e6;
  }
  #main-content .info-levelUser .levelUser {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (max-width: 768px) {
  #menu {
    background-color: #4d4d4d;
    color: #fff;
  }
  #menu .navbar-toggle {
    float: left;
  }
  #menu .navbar-collapse .nav li a {
    color: #cccccc;
  }
  #menu .navbar-collapse .nav li a:hover,
  #menu .navbar-collapse .nav li a:active,
  #menu .navbar-collapse .nav li a:focus {
    background-color: transparent;
  }
  #menu .navbar-collapse .nav li.active a {
    color: #fff;
  }
  #menu .navbar-collapse .nav .hidden-md {
    display: none !important;
  }
  #menu .notiicon-mobile {
    display: inline-block;
    float: right;
    line-height: 56px;
  }
  #menu .notiicon-mobile .dropdown-menu {
    border-radius: 0;
    color: #000;
    display: block;
    margin: 0;
    opacity: 0;
    padding: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    left: -500px;
    visibility: hidden;
  }
  #menu .notiicon-mobile .dropdown-menu li {
    display: block;
    line-height: 1.6;
  }
  #menu .notiicon-mobile .dropdown-menu li p {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }
  #menu .notiicon-mobile .dropdown-menu li .dropdown-header {
    border-top: 1px solid #e6e6e6;
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
    text-align: center;
    text-decoration: underline;
  }
  #menu .notiicon-mobile .dropdown-menu li .dropdown-header:hover {
    background-color: transparent;
  }
  #menu .notiicon-mobile .dropdown-menu .show-messagers {
    padding: 10px 0;
  }
  #menu .notiicon-mobile .dropdown-menu .show-messagers li {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
  }
  #menu .notiicon-mobile .dropdown-menu .show-messagers li:last-child {
    border: none;
  }
  #menu .notiicon-mobile .dropdown-menu .show-messagers li:first-child {
    border-top: 1px solid #e6e6e6;
  }
  #menu .notiicon-mobile .open .dropdown-menu {
    left: -256px;
    top: 53px;
    opacity: 1;
    visibility: visible;
  }
  #menu .notiicon-mobile li {
    display: inline-block;
  }
  #menu .notiicon-mobile li .noti-icon {
    color: #fff;
    margin-right: 15px;
  }
  #menu .notiicon-mobile li .noti-icon .total-noti {
    right: 72px;
    top: 10px;
  }
  #menu .notiicon-mobile li .noti-icon.noti-icon-global .total-noti {
    right: 55px;
  }
  #menu .notiicon-mobile .nav {
    display: inline-table;
    margin: 0 0 0 19px;
  }
  #menu .notiicon-mobile .nav .profile-dropdown:after {
    content: "";
  }
  #menu .notiicon-mobile .nav .dropdown-menu {
    border: 0;
    border-radius: 0;
    left: inherit;
    margin: 0;
    padding: 0;
    right: 0;
  }
  #menu .menu-user li {
    display: block;
  }
  #menu #logo {
    display: none;
    left: 40%;
    position: absolute;
    top: 10px;
  }
  #menu #logo img.logodesktop {
    display: none;
  }
  .infoProfile {
    overflow: hidden;
  }
  .infoProfile .levelUser,
  .infoProfile .infoItem {
    width: 100%;
  }
  .infoProfile .evelUser h3 {
    font-size: 15px;
  }
  .infoProfile .evelUser .levelVip {
    font-size: 25px;
  }
  .infoProfile .totalmoneyused .progress {
    margin: 0 0 10px 0;
  }
  .infoProfile .infoItem h3 {
    margin: 10px 0;
  }
  #main-content .tab-content .tab-pane .content-left {
    margin-bottom: 30px;
  }
  #main-content .tab-content .tab-pane .content-left #container-order-detail .detail .info-item .title-item h3 {
    margin-bottom: 10px !important;
  }
  #main-content .tab-content .tab-pane .content-left #container-order-detail .detail .info-item .title-item p {
    display: inline-block;
    margin-bottom: 10px !important;
  }
  #main-content .tab-content .tab-pane .content-left #container-order-detail .detail .info-item .ctn-item div {
    width: 100%;
  }
  #main-content .tab-content .tab-pane .content-left #container-order-detail .totalmoneyorder .box-price {
    float: left;
    width: 100%;
  }
  #main-content .tab-content .tab-pane .border-od {
    border: none;
  }
  #main-content .tab-content .tab-pane .tab-each {
    border-width: 1px 0 1px 0;
  }
  #main-content .tab-content .ordereds .search-orders .form-group {
    display: block;
    margin: 0 0 10px 0;
  }
  #main-content .tab-content .ordereds .search-orders .check-box {
    margin-bottom: 15px;
  }
  #main-content .tab-content .ordereds .tabs-od .navbar {
    background-color: #143980;
    color: #fff;
    margin: 0;
  }
  #main-content .tab-content .ordereds .tabs-od .navbar button {
    display: block;
    margin: 0;
    width: 100%;
  }
  #main-content .tab-content .ordereds .tabs-od .navbar button strong {
    line-height: 40px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  #main-content .tab-content .ordereds .tabs-od #tablist {
    padding: 0;
  }
  #main-content .tab-content .ordereds .tabs-od #tablist .nav-tabs {
    background-color: #143980;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 0;
  }
  #main-content .tab-content .ordereds .tabs-od #tablist .nav-tabs li {
    float: inherit;
  }
  #main-content .tab-content .ordereds .tabs-od #tablist .nav-tabs li a {
    border: none;
    border-radius: 0;
    color: #cccccc;
    margin: 0;
    text-transform: uppercase;
  }
  #main-content .tab-content .ordereds .tabs-od #tablist .nav-tabs li a:hover {
    background-color: transparent;
  }
  #main-content .tab-content .ordereds .tabs-od #tablist .nav-tabs li a sup {
    background-color: #d93833;
    border-radius: 5px;
    color: #fff;
    height: 17px;
    line-height: 17px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 7px;
    width: 17px;
  }
  #main-content .tab-content .ordereds .tabs-od #tablist .nav-tabs li.active a {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 600;
  }
  #main-content .tab-content .ordereds .tabs-od .if-od .tt-od .title-item {
    margin-bottom: 10px;
    width: 100%;
  }
  #main-content .tab-content .ordereds .tabs-od .if-od .tt-od .title-item h3,
  #main-content .tab-content .ordereds .tabs-od .if-od .tt-od .title-item p {
    display: inline-block;
  }
  #main-content .tab-content .ordereds .tabs-od .if-od .tt-od .title-item p {
    margin: 0;
  }
  #main-content .tab-content .ordereds .tabs-od .if-od .tt-od .title-item .check-box {
    margin-top: 10px;
  }
  #main-content .tab-content .ordereds .tabs-od .if-od .stt-od .col-md-4 {
    padding: 0;
  }
  #main-content .tab-content .ordereds .tabs-od .if-od .nt-hidden {
    width: 100%;
  }
  #main-content .tab-content .lstod-report .clh-title .mn-ship {
    display: block;
    float: inherit !important;
  }
  #main-content .tab-content .history-ods .total-mn .box-mn {
    margin-bottom: 20px;
  }
  #main-content .tab-content .history-ods .total-mn .box-mn:nth-of-type(3) {
    margin: 0;
  }
  #main-content .tab-content .history-ods .table-hsTrade .table-order tr td {
    padding: 10px 0;
  }
  #main-content .tab-content .history-ods .table-hsTrade .table-order tr td:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
  #main-content .tab-content .history-ods .table-hsTrade .table-order tr td p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  #footer .ft-address {
    margin-bottom: 30px;
  }
  .img-od {
    margin: auto auto 15px auto;
    width: 100px;
  }
}

#header .nav .noti-icon .total-noti {
    right: -10px;
    top: 3px;
}
.total-noti {
  background-color: #d93833;
  border-radius: 3px;
  display: inline-block;
  font-size: 9px;
  height: 15px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  width: 15px;
}
.ring-bell-noti {
  margin-top: -3px;
  margin-left: -5px;
}

#menu .collapse .nav li a.baogia{
  display: block;
}