/*------------------------------------------------------------------
Main Style Stylesheet
	Project:		The Lion - Multi-Purpose HTML5 Template
	Version:	    1.0
	Primary use:	Multi-Purpose, Business
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
body 

-------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);


/*----- CSS FONTS LAYOUT---------*/
/*----- ionicons Fonts Icons ---------*/
@import "font-awesome.min.css";
/*----- animate.css ---------*/
@import "animate.css";
/*=======================================================
			THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	background: #FFF;
	height: 100%;
	width: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
/*=======================================================
			WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #fff;
}
#box {
	width: 1245px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.pattern {
	background: url(../images/bg/body-pattern.jpg) fixed repeat;
}
/*=======================================================
			HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Dosis', sans-serif;
}
h1 {
	font-size: 50px;
	color: #fff;
}
h2 {
	font-size: 33px;
	font-weight: 300;
	color: #ff7200;
}
h3 {
	font-size: 24px;
	color: #ff7200;
	font-weight: 600;
}
h4 {
	font-size: 18px;
	color: #ff7200;
	font-weight: 600;
}
h5 {
	font-size: 16px;
	color: #ff7200;
	font-weight: 400;
}
h6 {
	font-size: 14px;
	color: #ff7200;
	font-weight: 600;
}
p {
	color: #666666;
	font-size: 14px;
	line-height: 26px;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	text-decoration: none !important;
}
img:hover {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
li:hover {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #757575;
}
/*=======================================================
			SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
}
/*=======================================================
			BUTTON
========================================================*/
.btn {
	background: #ff7200;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
	min-width: 150px;
	padding: 0 40px;
	color: #fff;
}
/*=======================================================
			MARGIN 20px
========================================================*/
.margin-r-20 {
	margin-right: 20px;
}
.margin-l-20 {
	margin-left: 20px;
}
.margin-t-20 {
	margin-top: 20px;
}
.margin-b-20 {
	margin-bottom: 20px;
}
/*=======================================================
			MARGIN 40px
========================================================*/
.margin-r-40 {
	margin-right: 40px;
}
.margin-l-40 {
	margin-left: 40px;
}
.margin-t-40 {
	margin-top: 40px;
}
.margin-b-40 {
	margin-bottom: 40px;
}
/*=======================================================
			MARGIN 80px
========================================================*/
.margin-r-80 {
	margin-right: 80px;
}
.margin-l-80 {
	margin-left: 80px;
}
.margin-t-80 {
	margin-top: 80px;
}
.margin-b-80 {
	margin-bottom: 80px;
}
/*=======================================================
			PADDING
========================================================*/
.padding-r-20 {
	padding-right: 20px !important;
}
.padding-l-20 {
	padding-left: 20px;
}
.padding-t-20 {
	padding-top: 20px;
}
.padding-b-20 {
	padding-bottom: 20px;
}
.no-margin {
	margin: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.no-margin-t {
	margin-top: 0px !important;
}
.no-padding-t {
	padding-top: 0px !important;
}
/*=======================================================
			HEADING TITTLE
========================================================*/
.tittle {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.tittle h2 {
	font-size: 28px;
	color: #ff7200;
	margin-top: 0px;
	font-weight: bold;
}
.tittle hr {
	width: 130px;
	border: none;
	margin: 0 auto;
	height: 1px;
	background: #ff7200;
	margin-top: 20px;
	margin-bottom: 20px;
}
.tittle hr:before {
	height: 7px;
	width: 7px;
	margin: 0 auto;
	position: absolute;
	display: inline-block;
	border: 1px solid #ff7200;
	background: #fff;
	content: "";
	margin-top: -3px;
	left: 0px;
	right: 0px;
	position: absolute;
}
.tittle-1 {
	text-align: left;
	margin-bottom: 20px;
}
.tittle p {
	color: #fff;
	font-size: 14px !important;
	font-style: normal !important;
}
.tittle-1 p {
	color: #fff;
	font-size: 14px;
}
.tittle-1 hr {
	background: #f7f6f6;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
}
.tittle-1 hr:before {
	background: #361e24;
	border-color: #f7f6f6;
	margin-left: 120px;
}
/*=======================================================
			TOP BAR
========================================================*/
#top-bar {
	background: #fff;
	border-bottom: 1px solid #e2e7ea;
}
#top-bar ul {
	margin: 0px;
}
#top-bar li {
	display: inline-block;
	color: #b4c4d7;
	line-height: 47px;
	margin-right: 20px;
}
#top-bar li p {
	font-size: 12px;
	line-height: 47px;
	color: #b4c4d7;
	margin: 0px;
}
#top-bar li i {
	color: #ff7200;
	margin-right: 10px;
}
#top-bar li span {
	color: #ff7200;
}
/*=======================================================
			HEADER
========================================================*/
header {
	background: none;
	z-index: 99;
	height: 102px;
	width: 100%;
	position: absolute;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
header .container {
	position: relative;
}
header .logo {
	float: left;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	position: absolute;
	z-index: 9;
}
header nav {
	text-align: right;
	position: absolute;
	display: inline-block;
	width: 100%;
}
header .jetmenu {
	width: 100%;
}
header nav {
	position: relative;
	display: inline-block;
}
header nav li {
}
header nav li a {
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	position: relative;
	overflow: hidden;
	float: left;
	padding: 12px 13px;
	padding-bottom: 42px;
}
.m-dark nav li a {
	color: #8b9aab;
}
header .active {
	color: #ff7200;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header li.active a {
	color: #ff7200;
}
header li a:hover {
	color: #ff7200;
}
header li a:after {
	position: absolute;
	left: 80%;
	right: 80%;
	height: 1px;
	bottom: 10px;
	content: "";
	background-color: #ff7200;
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
header nav .active a:after {
	left: 10px;
	right: 12px;
}
header nav a:hover:after {
	left: 10px;
	right: 12px;
}
header .navbar-collapse {
	padding: 0px;
}
.jetmenu > li.showhide {
	margin-top: -73px;
}
.jetmenu > li.showhide i {
	background: #fff;
	color: #ff7200;
	padding: 20px;
}
/*=======================================================
			HEADER STYLE 1
========================================================*/
.header-1 {
	margin-top: 30px;
	position: absolute;
	width: 100%;
}
.header-1 .jetmenu ul.dropdown {
	top: 50px;
}
.header-1 .logo {
	margin-top: 0px;
}
.header-1 header {
	height: auto;
}
.header-1 .is-sticky {
}
.header-1 header li a {
	font-size: 13px;
}
.header-1 header li a:after {
	display: none;
}
.header-1 .is-sticky header {
	background: rgba(30,30,30,0.97);
	height: 78px;
}
.header-1 header a {
	color: rgba(255,255,255, .7);
	font-weight: normal;
}
.header-1 header a:hover {
	color: #fff;
}
.header-1.drk header a:hover {
	color: #000;
}
.header-1.drk .jetmenu > li.active > a {
	color: #000;
}
.header-1.drk .jetmenu > li:hover > a {
	color: #000;
}
.header-1 .jetmenu li.active > a {
	color: #fff;
}
.header-1 .is-sticky header a {
	color: rgba(255,255,255, .7);
	font-weight: normal;
}
.header-1 .is-sticky header a:hover {
	color: #fff;
}
.header-1 .jetmenu > li.showhide {
	margin-bottom: 20px;
}
.header-1 .jetmenu ul.dropdown {
	box-shadow: none;
	background: rgba(30,30,30,0.97);
	border: none;
}
.header-1 .jetmenu ul.dropdown li ul.dropdown {
	box-shadow: none;
	background: rgba(30,30,30,0.97);
	border: none;
}
.header-1 .jetmenu ul.dropdown li a {
	color: #707070;
	font-weight: normal;
	font-size: 13px;
	color: #f5f5f5 !important;
}
.header-1 .jetmenu ul.dropdown li:hover > a {
	background: rgba(0,0,0,1);
	color: #fff;
}
.header-1 .jetmenu ul.dropdown li {
	border: none;
}
.header-1 .jetmenu > li > .megamenu {
	background: rgba(30,30,30,0.97);
	border: none;
}
.header-1 .jetmenu > li > .megamenu a {
	color: #CCC !important;
}
.header-1 .jetmenu > li > .megamenu ul {
	border-color: rgba(0,0,0,0.3);
}
.header-1 .jetmenu > li > .megamenu li {
	border-color: rgba(0,0,0,0.3);
}
.header-1 .jetmenu .megamenu li:hover > a {
	background: rgba(0,0,0,1);
	color: #fff;
}
/*=======================================================
			HEADER STYLE 2
========================================================*/
.header-2 .jetmenu > li.showhide {
	margin-top: -52px;
}
.header-2 header {
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.header-2 a {
	color: #8b9aab;
}
.header-2 .logo {
	margin-top: 20px;
}
.header-2 .navbar-nav > li > a {
	padding-top: 40px;
}
.header-2 .menu {
	margin-top: 0px;
}
.header-2 nav a:after {
	position: absolute;
	left: 80%;
	right: 80%;
	height: 4px;
	bottom: 10px;
	content: "";
	top: -1px;
	background-color: #ff7200;
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.header-2 .is-sticky .menu {
	margin-top: 0px;
}
.header-2 .is-sticky .logo {
	margin-top: 10px;
}
.header-2 header nav li a {
	padding: 41px 13px;
}
.header-2 .is-sticky header {
	height: 82px;
}
.header-2 .is-sticky .navbar-nav > li > a {
	padding-top: 22px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.header-2 .jetmenu > li > .megamenu {
	top: 102px;
}
/*=======================================================
			HEADER STYLE 3
========================================================*/
.header-3 header {
	background: #e5ebf3;
}
/*=======================================================
			HEADER STYLE 4
========================================================*/
.header-4 header {
	background: #ff7200;
}
.header-4 header nav li a {
	color: #fff;
}
.header-4 .is-sticky header {
	background: #ff7200;
}
.header-4 li.active > a {
	color: #fff;
}
.header-4 li:hover > a {
	color: #fff;
}
.header-4 nav a:after {
	background: #fff;
}
/*=======================================================
			HEADER STYLE 5
========================================================*/
.header-5 header {
	background: #a2b5cb;
}
.header-5 header nav li a {
	color: #fff;
}
.header-5 .is-sticky header {
	background: #a2b5cb;
}
.header-5 nav a:after {
	background: #fff;
}
.header-5 li.active > a {
	color: #fff;
}
.header-5 li:hover > a {
	color: #fff;
}
/*=======================================================
			HEADER STYLE 6
========================================================*/
.header-6 header {
	background: #fff;
	height: auto;
}
.header-6 .jetmenu ul.dropdown {
	top: 60px;
}
.header-6 .logo {
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}
.header-6 header .jetmenu {
	text-align: center;
}
.header-6 header nav li a {
	color: #8b9aab;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-6 .is-sticky .logo {
	width: auto;
}
.header-6 header li.active a {
}
.header-6 nav a:after {
	display: none;
}
.header-6 .menu nav {
	width: 100%;
	float: none;
	display: inline-block;
	text-align: center;
}
.header-6 .menu nav li {
	float: none !important;
	display: inline-block !important;
}
/*=======================================================
			HEADER STYLE 7
========================================================*/
.header-7 #top-bar {
	background: #ff7200;
}
.header-7 #top-bar li p {
	color: #fff;
}
.header-7 #top-bar li i {
	color: #fff;
}
.header-7 #top-bar li span {
	color: #fff;
}
.header-7 header .jetmenu {
	text-align: center;
}
.header-7 header {
	background: #fff;
	height: auto;
}
.header-7 .logo {
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}
.header-7 header nav li a {
	color: #8b9aab;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-7 header nav li a:hover {
	color: #ff7200;
}
.header-7 header li.active a {
	color: #ff7200;
}
.header-7 nav a:after {
	display: none;
}
.header-7 .menu nav {
	width: 100%;
	float: none;
	display: inline-block;
	text-align: center;
}
.header-7 .menu nav li {
	float: none !important;
	display: inline-block !important;
}
#tp-slider {
	width: 100%;
	position: relative;
	overflow: hidden;
	max-height: 780px;
}
.header-1.drk a {
	font-weight: normal;
	color: #8b9aab
}
.header-1.drk .is-sticky header {
	background: rgba(255,255,255,0.97);
}
.header-1.drk .is-sticky header a {
	color: #333
}
.header-1.drk li.active > a {
	color: #000;
}
header .flags img{
	display:inline-block;
	margin-right:20px;
}
header .srche.dropdown{
	width:430px;
	padding:20px;
}
header .flags input{
	height:50px;
	width:100%;
	font-weight:100;
	border:1px solid #e6e9f0;
	padding:0 10px;
	border-radius:4px;
	font-size:18px;
}
header .flags button{
	background:none;
	border:none;
	float:right;
	position:relative;
	z-index:9;
	margin-top:-50px;
	line-height:50px;
	margin-right:10px;
	color:#bbc3d8;
	font-size:20px;
}
header .srche li{
	border:none !important;
}
.jetmenu > li.fix-sub > .flags.dropdown{
	right:0px;
}
.top-chrt .dropdown-menu {
	width: 400px;
	padding: 20px;
	border: none;
	border-radius: 0px;
	border-top: 1px solid #ff7200;
}
.top-chrt .chrt-info {
	float: right;
	width: 75%;
}
.top-chrt .chrt-info a {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	line-height: 20px;
}
.top-chrt p {
	line-height: 30px !important;
}
.top-chrt a.btn-chrt {
	width: 150px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	padding: 0px 20px;
	float: left;
	font-weight: bold;
	border-radius: 4px;
	border: 1px solid #ff7200;
	color: #ff7200;
}
.top-chrt a.btn-chrt:hover {
	background: #ff7200;
	color: #fff;
}
.top-chrt .close-chrt i {
	margin: 0px;
	margin-right: 0px !important;
	color: #fff !important;
	font-size: 14px !important;
}
.top-chrt .close-chrt {
	position: absolute;
	right: 0px;
	top: 10px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	background: #ccd1de;
	color: #fff;
	margin: 0px !important;
	width: 20px !important;
	float: right;
}
.top-chrt .close-chrt:hover {
	background: #ff7200;
}
.top-chrt .p-org {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #ff7200;
}
#top-bar .top-chrt ul li {
	display: inline-block;
	width: 100%;
	line-height: 10px;
	margin: 0px;
	position: relative;
	border-bottom: 1px solid #e3e7f0;
	padding: 10px 0;
}
.top-chrt .img-chrt {
	float: left;
	width: 20%;
}
.top-chrt .img-chrt img {
	width: 100%;
}
/*=======================================================
			DROPDOWN STYLE
========================================================*/
.sticky-wrapper {
	height: auto !important
}
.is-sticky header {
	background: rgba(255,255,255,0.9);
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.is-sticky header a {
	color: #333;
}
.is-sticky header .logo img {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}
.is-sticky header .navbar {
	margin-bottom: 0px;
}
.is-sticky header .menu {
	margin-top: 10px;
}
.is-sticky .jetmenu > li > .megamenu {
	top: 78px;
}
.is-sticky .jetmenu ul.dropdown {
	top: 78px;
}
.is-sticky nav li a {
	padding: 30px 13px !important;
}
.header-1 .is-sticky .logo {
	margin-top: 10px !important;
}
.is-sticky .jetmenu > li.showhide {
	margin-top: -70px;
}
header .active .dropdown a:after {
	display: none;
}
#box .is-sticky header {
	left: 0px;
}
/*=======================================================
			TRANSPARENT COLOR
========================================================*/
.overlay {
	background: rgba(0,0,0,0.8);
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
			CONTENT
========================================================*/
.content {
	width: 100%;
	position: relative;
	background: #fff;
	z-index: 2;
}
/*=======================================================
			HOME
========================================================*/
#home {
	background: url(../images/bg/bg-1.jpg) fixed no-repeat;
	background-size: cover;
	position: relative;
	top: 0px;
	z-index: 1;
}
#home .home-text {
	position: absolute;
	top: 35%;
	text-align: center;
	width: 100%;
	display: inline-block;
}
#home .home-text h1 {
	color: #fff;
	font-size: 83px;
	font-weight: 600;
}
#home .home-text h1 span {
	font-weight: 300;
	font-size: 83px;
	font-style: normal;
}
#home .home-text span {
	font-size: 33px;
	color: #fff;
	font-style: italic;
}
#home .home-text h2 {
	font-size: 50px;
	font-weight: 400;
	color: #fff;
	font-style: italic;
}
#home .home-text .btn {
	font-size: 33px;
	background: #ff7200;
	display: inline-block;
	line-height: 80px;
	padding: 0 30px;
	color: #fff;
	margin-top: 50px;
	font-weight: 600;
}
#home .home-text .btn:hover {
	background: #fff;
	color: #ff7200;
}
.home-slide #home {
	background: none;
}
.slider-text {
	position: absolute;
	top: 20%;
	text-align: center;
	width: 100%;
	display: inline-block;
}
.slider-text h1 {
	font-size: 150px;
	font-weight: bold;
}
.slider-text h2 {
	font-size: 40px;
	color: #fff;
	font-style: italic;
	font-weight: 200;
}
.slider-text .btn {
	margin-top: 50px;
	background: none;
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 0 40px;
	margin-left: 10px;
	margin-right: 10px;
	font-style: 30px;
	font-weight: normal;
}
.slider-text .btn:hover {
	background: #fff;
	color: #ff7200;
}
#pro-banner {
	background: url(../images/bg/pro-bnr-bg.jpg) fixed repeat;
	width: 100%;
	text-align: center;
	position: relative;
	top: 0px;
}
#pro-banner {
}
#pro-banner .home-text {
	color: #8b9aab;
	position: relative;
	padding-top: 8%;
	margin-top: 100px;
	text-align: center;
	width: 100%;
	display: inline-block;
	border-top: 1px solid #d9dfe6;
}
#pro-banner .home-text h1 {
	color: #8b9aab;
	font-weight: 700;
	font-size: 50px;
}
#pro-banner .home-text .btn {
	display: inline-block;
	font-size: 20px;
	padding: 0 20px;
	line-height: 50px;
	background: #fff;
	margin: 0 10px;
	margin-top: 50px;
	border: 1px solid #f0f3f5;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	background: #8b9aab;
}
#pro-banner .home-text .btn:hover {
	background: #ff7200;
	color: #fff;
}
#pro-banner .home-text .btn-1 {
	background: #ff7200;
}
#pro-banner .home-text .btn-1:hover {
	background: #8b9aab;
}
#pro-banner .home-text img {
	display: inline-block;
	margin-top: 100px;
}
#pro-banner .home-text h3 {
	font-weight: 300;
	color: #8b9aab;
	line-height: 42px;
}
/*=======================================================
			SUB BANNER INNER PAGES
========================================================*/
.sub-banner {
	background: url(../images/bg/sub-banner.jpg) fixed center center repeat;
	background-size: cover;
	padding: 30px 0;
}
.sub-banner h2 {
	color: #fff;
	font-weight: 400;
	display: inline-block;
}
.sub-banner .page-link {
	float: right;
	display: inline-block;
	margin-top: 20px;
}
.sub-banner .page-link li {
	display: inline-block;
	color: #fff;
}
.sub-banner .page-link li a {
	color: #fff;
	font-size: 14px;
	margin: 0 13px;
}
/*=======================================================
			SERVICES
========================================================*/
#services {
	padding: 80px 0;
}
.services {
	margin-top: 40px;
}
.services li {
	text-align: left;
	margin-bottom: 30px;
}
.services li p {
	font-size: 14px;
	line-height: 25px;
	color: #b0b0b0;
}
.full-wth {
	width: 100%;
	display: inline-block;
}
.services ul {
}
.services li {
}
.services .icon {
	height: 40px;
	width: 40px;
	background: #d4d9e0;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.services h4 {
	display: inline-block;
}
.services li i {
	overflow: hidden;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	position: relative;
}
.services li:hover .icon {
	background: #383838;
	color: #fff;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.services-2 {
}
.services-2 .tittle p {
	color: #8b9aab;
}
.services-2 .tittle h2 {
	font-weight: normal;
}
.services-2 .services .icon {
	height: 80px;
	width: 80px;
	float: none;
	display: inline-block;
	background: none;
	border: 1px solid #8b9aab;
}
.services-2 .services .icon:before {
	height: 12px;
	width: 170px;
	margin: 0 auto;
	position: absolute;
	display: inline-block;
	border: 1px solid #8b9aab;
	border-left: none;
	border-right: none;
	background: #fff;
	content: "";
	margin-top: 35px;
	left: 0px;
	right: 0px;
	position: absolute;
}
.services-2 .services li:hover .icon {
	background: none;
}
.services-2 .services .icon i {
	color: #8b9aab;
	line-height: 80px;
	background: #fff;
	height: 78px;
	width: 78px;
	font-size: 28px;
	border-radius: 50%;
}
.services-2 .services li:hover .icon i {
	color: #ff7200;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.services-2 .services li:hover .icon {
	border-color: #ff7200;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.services-2 .services li:hover .icon:before {
	border-color: #ff7200;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.services-2 .services li {
	text-align: center;
}
.services-2 .services h4 {
	display: block;
}
.services-3 {
}
.services-3 .icon {
	height: 70px;
	width: 70px;
	float: left;
	border: 1px solid #ff7200;
	font-size: 30px;
	color: #ff7200;
	text-align: center;
	line-height: 68px;
	border-radius: 50%;
	background: none;
}
.services-3 .icon i {
	line-height: 68px;
	color: #ff7200;
	font-size: 30px;
}
.services-3 li:hover .icon {
	background: #ff7200;
}
.services-3 li a {
	background: #f9fafc;
	font-size: 12px;
	border-radius: 4px;
	display: inline-block;
	padding: 10px 13px;
}
.services-3 li a:hover {
	background: #ff7200;
	color: #fff;
}
.services-3 li:hover i {
	color: #fff;
}
.services-3 h4 {
	line-height: 30px;
	color: #ff7200;
	margin-top: 14px;
}
.services-3 .icon {
	border: 1px solid #ff7200;
	color: #ff7200;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.services-4 {
}
.services-4 .ser-inner {
	background-color: #fbfdff;
	border: 1px solid #edf0f4;
	padding: 20px;
	margin-top: -43px;
	padding-top: 50px;
}
.services-4 .ser-inner h4 {
	margin-bottom: 20px;
	color: #8090a2;
}
.services-4 .ser-inner a {
	border: 1px solid #edf0f4;
	display: inline-block;
	padding: 5px 20px;
	color: #acb6c2;
	margin-top: 10px;
	border-radius: 4px;
}
.services-4 .services li:hover .ser-inner a {
	border: 1px solid #ff7200;
	color: #ff7200;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.services-4 .services li:hover .ser-inner h4 {
	color: #ff7200;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.services-4 .services li:hover .ser-inner {
	border-color: #ff7200;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.services-4 .services .icon {
	border: 1px solid #edf0f4;
}
.services-4 .services li .icon:before {
	border-color: #edf0f4;
}
.services-5 li {
	text-align: center;
}
.services-5 li .icon {
	float: none;
	height: 170px;
	width: 170px;
	text-align: center;
	line-height: 170px;
}
.services-5 li h4 {
	color: #8090a2;
	margin-bottom: 20px;
	margin-top: 20px;
}
.services-5 li:nth-child(1) .icon {
	background: #ffe28c;
}
.services-5 li:nth-child(2) .icon {
	background: #ffd99d;
}
.services-5 li:nth-child(3) .icon {
	background: #5ae0c9;
}
.services-5 li:nth-child(4) .icon {
	background: #86defa;
}
.services-5 a {
	border: 1px solid #e6ebf2;
	color: #8b9aab;
	margin-top: 20px;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 4px;
}
.services-5 a:hover {
	background: #ff7200;
	color: #fff;
	border-color: #ff7200;
}
/*=======================================================
			ABOUT COMPANY
========================================================*/
#about {
	padding: 80px 0;
	background: #fff;
}
#about.about-2 {
	background: #f9fafc;
}
#about .tittle-1 hr:before {
	border-color: #ff7200;
	background: #fff;
}
#about .tittle-1 hr {
	background: #ff7200
}
#about p {
	font-size: 15px;
	color: #8b9aab;
}
#about a.view-more {
	margin-top: 20px;
	display: inline-block;
	padding: 0px 30px;
	line-height: 50px;
	background: #fff;
	border: 1px solid #8b9aab;
	color: #8b9aab;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
}
#about a.view-more:hover {
	background: #ff7200;
	border-color: #ff7200;
	color: #fff;
}
#about .skillbar {
	height: 20px;
}
#about .skill-bar h4 {
	font-weight: normal;
	color: #697a8e;
	font-style: italic;
	margin-top: 25px;
	margin-bottom: 20px;
}
#about .skill-bar h4 span {
	color: #ff7200;
	text-align: right;
	float: right;
}
/*=======================================================
			GET IT NOW
========================================================*/
#get-it {
	background: #f7f6f6;
	padding: 50px 0;
	text-align: center;
}
#get-it h2 {
	font-weight: 300;
}
#get-it h3 {
	color: #8b9aab;
	font-weight: 400;
}
#get-it .btn {
	background: #8b9aab;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	line-height: 60px;
	min-width: inherit;
	padding: 0 40px;
	text-decoration: none;
	color: #fff;
	margin-top: 30px;
	border-radius: 10px;
}
#get-it .btn:hover {
	background: #ff7200;
	color: #fff;
}
#get-it a {
	font-weight: 500;
	color: #ff7200;
	text-decoration: underline;
}
#get-it a:hover {
	color: #383838;
}
#get-it.get-it-2 {
	text-align: left;
}
#get-it.get-it-2 h2 {
	font-weight: 400;
}
#get-it.get-it-2 h4 {
	font-weight: 300;
	line-height: 30px;
}
#get-it.get-it-2 .btn {
	width: 100%;
	background: #ff7200;
	font-size: 14px;
	padding: 0px;
	line-height: 50px;
	margin-top: 45px;
	border-radius: 4px;
}
#get-it.get-it-2 .btn:hover {
	background: #fff;
	color: #ff7200;
}
/*=======================================================
			ACCORDION
========================================================*/
#accordion {
}
#accordion .panel-default > .panel-heading .panel-title a:before {
	content: "\f106";
	font-family: FontAwesome;
	margin-right: 5px;
	color: #d2d2d2;
	padding: 0px;
	padding: 0px 13px;
	float: right;
	border-left: 1px solid #eceef2;
}
#accordion .panel-default > .panel-heading .panel-title a.collapsed:before {
	content: "\f107";
	font-family: FontAwesome;
	margin-right: 5px;
	color: #d2d2d2;
}
.panel-default > .panel-heading {
	background-color: #fff;
	padding: 0px;
	border-radius: 4px;
	overflow: hidden;
}
.panel-default > .panel-heading a {
	text-decoration: none;
	font-size: 20px;
	width: 100%;
	font-weight: 400;
	padding: 0px;
	color: #a1acc0;
	display: inline-block;
	padding-left: 13px;
	line-height: 55px;
}
#accordion .panel-body p {
	color: #a1acc0;
	font-size: 12px;
	line-height: 20px;
}
#accordion .panel-body .big-b {
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
	background: #a1acc0;
	border-radius: 4px;
}
/*=======================================================
			MULTIPULE LAYER
========================================================*/
#multiple {
	background: #f9fafc;
	border-top: 1px solid #e8ebf2;
	border-bottom: 1px solid #e8ebf2;
	padding: 80px 0;
}
#multiple .mlti-layer h2 {
	font-weight: 400;
	color: #8b9aab;
}
#multiple .lay-opt {
	margin-top: 80px;
}
#multiple .lay-opt .icon {
	height: 70px;
	width: 70px;
	float: left;
	border: 1px solid #8b9aab;
	font-size: 30px;
	color: #8b9aab;
	text-align: center;
	line-height: 68px;
	border-radius: 50%;
}
#multiple .lay-opt h4 {
	line-height: 30px;
	color: #8b9aab;
	margin-top: 14px;
}
#multiple .lay-opt:hover .icon {
	border: 1px solid #ff7200;
	color: #ff7200;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
#multiple .lay-opt p {
	font-size: 18px;
	color: #8b9aab;
}
/*=======================================================
			SKILLS
========================================================*/
#skills {
	background: #eceff5;
	padding: 80px 0;
}
#skills .tittle h2 {
	font-weight: 400;
}
#skills .tittle p {
	font-size: 14px;
	color: #697a8e;
}
#skills .skill {
	text-align: center;
	margin-top: 50px;
}
#skills .skill h2 {
	font-weight: 400;
	font-size: 30px;
}
#skills .skill .chart {
	height: 258px;
	width: 258px;
	display: inline-block;
	margin: 0 auto;
	background: #fff;
	border-radius: 50%;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	border: 2px solid #fff;
}
#skills .skill .chart span {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 55px;
	color: #aab7c5;
	font-weight: 300;
	line-height: 243px;
}
#skills .skill li:hover .chart {
	background: #ff7200;
	border: 2px solid #fff;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	box-shadow: inset 0 0 20px #fff;
}
#skills .skill span.tags {
	height: 60px;
	width: 60px;
	float: left;
	font-size: 13px;
	background: #fff;
	line-height: 58px;
	text-align: center;
	color: #ff7200;
	position: relative;
	margin-top: -100px;
	border-radius: 50%;
	border: 1px solid #ff7200;
}
#skills .skill li:hover .chart span {
	color: #fff;
}
/*=======================================================
			STUNNING DESIGN
========================================================*/
#stunning {
	background: #361e24;
	padding: 80px 0;
	padding-bottom: 0px;
}
#stunning li {
	margin-bottom: 30px;
}
#stunning .numbr {
	margin-top: 50px;
}
#stunning p {
	color: #fff;
}
#stunning .numbr .icon {
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	border-radius: 50%;
	background: #ff7200;
	font-size: 33px;
	font-weight: bold;
	color: #371e24;
}
/*=======================================================
			PORTFOLIO
========================================================*/
#portfolio {
	padding: 80px 0;
	background: #fff;
}
#portfolio .tittle p {
	font-style: italic;
	font-size: 13px;
	color: #98a4b6;
}
#portfolio .tittle hr {
	margin-bottom: 30px;
}
.filter {
	margin-bottom: 40px;
	text-align: left;
	border-top: 1px solid #e5e8ea;
	padding-top: 30px;
}
.filter li a {
	margin-right: 40px;
	font-size: 20px;
	color: #8b9aab;
	font-weight: 400;
	border: 1px solid #fff;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
}
.filter li a:hover {
	color: #ff7200;
}
.filter li a.active {
	color: #ff7200;
}
.filter li {
	margin: 0;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.isotope-item {
	z-index: 2;
	display: block !important;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
}
.isotope .isotope-item {
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
}
.portfolio .item {
	width: 20%;
	display: inline-block;
	padding: 0;
	overflow: hidden;
}
.portfolio .item p {
	color: #000;
}
.portfolio .item h5 {
	color: #000;
	font-weight: 600;
	margin-bottom: 5px;
}
.portfolio .item img {
	width: 100%;
}
.portfolio .items a {
	color: rgb(255,255,255);
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	display: inline-block;
	font-size: 22px;
	margin: 0 10px;
	margin-top: 27%;
	border-radius: 4px;
}
.portfolio .items a:hover {
	color: #ff7200;
}
.des {
	display: inline-block;
	width: 100%;
	padding: 5px 13px;
	position: relative;
	z-index: 6;
}
.img:hover .des h5 {
	color: #fff;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.img:hover .des p {
	color: #fff;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.img {
	position: relative;
	overflow: hidden;
}
.over {
	display: block;
	position: absolute;
	z-index: 5;
	bottom: 100%;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.img:hover {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.img:hover .over {
	bottom: 0px;
	display: block;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.des {
	top: 0;
	padding-top: 20%;
}
.des h2 {
	font-size: 38px;
	line-height: 50px;
	font-style: italic;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.des h2 {
	position: absolute;
	left: -100%;
}
.des h2 span {
	color: #1e1e1e;
	display: inline-block;
	width: 100%;
}
.portfolio-simple {
	text-align: center;
}
.portfolio-simple li {
	padding: 0px;
}
.portfolio-simple li img {
	width: 100%;
}
.des h2 {
	position: absolute;
	left: -100%;
}
.img:hover .over .des h2 {
	left: 0%;
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}
.portfolio .btn {
	background: #ff7200;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
	padding: 0 40px;
	color: #fff;
	margin-top: 100px;
}
.portfolio .btn:hover {
	background: #8b9aab;
	color: #ff7200;
}
.portfolio-filter .item {
	float: left;
	width: 20%;
	background: #f0f2f7;
}
.portfolio-filter .item:hover {
	z-index: 2;
}
.portfolio-filter .like {
	float: right;
	width: 30px;
	text-align: center;
	color: #d6dceb;
	font-size: 14px;
	margin-top: -23px;
}
.portfolio-filter .like i {
	font-size: 26px;
}
.portfolio-filter .over {
	background: rgba(0, 0, 0, 0.2);
}
.portfolio-filter .item .item-info {
	padding: 13px 20px;
	background: #f0f2f7;
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.portfolio-filter .item .item-info:before {
	display: inline-block;
	content: "\f0d8";
	font-family: 'FontAwesome';
	left: 20px;
	top: -35px;
	font-size: 41px;
	color: #f0f2f7;
	position: absolute;
}
.portfolio-filter .item .item-info h6 {
	font-size: 14px;
	color: #8b9aab;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 5px;
}
.portfolio-filter .item .item-info p {
	font-style: italic;
	color: #566678;
	display: inline-block;
	font-size: 12px;
	margin-bottom: 0px;
	width: 80%;
}
.portfolio-filter .tittle {
	text-align: left;
	border-bottom: 1px solid #e5e8ea;
	padding-bottom: 80px;
	margin-bottom: 0px;
}
.portfolio-filter .tittle h2 {
	font-weight: 400;
}
.portfolio-filter .tittle .btn {
	font-size: 14px;
	color: #8b9aab;
	padding: 0 30px;
	line-height: 50px;
	background: #f0f1f2;
	font-weight: 400;
	border-radius: 10px;
	border: 1px solid #d9dde1;
	margin-top: 50px;
	float: right;
}
.portfolio-filter .tittle .btn:hover {
	background: #ff7200;
	color: #fff;
	border-color: #ff7200;
}
.port-box .tittle {
	text-align: center;
	border: none;
	padding: 0px;
}
.port-box .filter {
	text-align: center;
	border: none;
	margin-top: 30px;
	margin-bottom: 50px;
}
.port-box .filter a {
	margin: 0px 10px;
}
.port-box .item .item-info {
	position: absolute;
	width: 100%;
	bottom: 100%;
	left: 0px;
}
.port-box .item .item-info h6 {
	font-size: 20px;
	color: #ff7200;
	line-height: 30px;
}
.port-box .item .item-info p {
	font-size: 20px;
	color: #ff7200;
	line-height: 30px;
	margin-bottom: 13px;
	font-style: italic;
}
.port-box .over {
	background: rgba(236,239,245,1);
}
.port-box .img:hover .over .item-info {
	bottom: 0px;
	background: #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.port-box .item .item-info:before {
	left: 0px;
	right: 0px;
	margin: 0 auto;
	color: #fff;
}
.port-box .items a {
	margin-top: 20%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.port-box .over a:hover {
	color: #ff7200;
}
#portfolio.port-gry-bg {
	background: #f9fafc;
}
.port-5 .img:hover .over {
	bottom: 0;
	top: 0px;
	background: none;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}
.port-5 .img .des {
	background: #fff;
	bottom: 0px;
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	top: 72%;
}
.port-5 .img:hover .des {
	background: #fff;
	bottom: 0px;
	left: auto;
	right: auto;
	opacity: 1;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	top: auto;
	padding-top: 0px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	left: 0px;
}
.port-5 .img:hover .over .des h2 {
	top: auto;
	left: auto;
	right: auto;
	position: relative;
	line-height: none;
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
	text-align: left;
}
.port-5 .img:hover .over .des h2 span {
	font-size: 25px;
	font-weight: 500;
}
.port-h-t .item .item-info {
	bottom: -100%;
}
.portfolio-pages {
}
.wth-mar {
	margin: 0 -13px;
}
.wth-mar .item:hover {
	background: none;
	box-shadow: none;
}
.wth-mar li.item {
	background: none;
	box-shadow: none;
}
.wth-mar li.item .img {
	margin: 13px;
	background: none;
}
.over-n .over {
	background: none;
}
.port-pattern {
	background: url(../images/bg/pattern-port.jpg) fixed repeat-x;
}
.port-pattern #portfolio {
	background: none;
}
.port-pattern #portfolio .tittle p {
	color: #fff;
}
.port-pattern .filter li a {
	border: none;
	color: #fff;
	padding: 8px 20px;
	border: 1px solid;
	border-color: transparent;
}
.port-pattern .filter li a.active {
	background: #fff;
	border: 1px solid #eaedf2;
	color: #ff7200;
}
.items li.port-big {
	width: 100% !important;
}
.items li.port-med {
	width: 50% !important;
}
/*=======================================================
			PORTFOLIO COLUM GRID
========================================================*/
.col-2 li.item {
	width: 50%;
}
.col-3 li.item {
	width: 33.333333333%;
}
.col-4 li.item {
	width: 25%;
}
.col-5 li.item {
	width: 20%;
}
.col-2 .item-info h6 {
	width: 100%;
}
.col-2 .over {
	background: none;
}
.col-2 .item-info p {
	width: 100%;
}
/*=======================================================
			TWEET
========================================================*/
#tweet {
	background: url(../images/bg/tweet-bg.jpg) fixed no-repeat;
	padding: 80px 0;
	text-align: center;
	background-size: cover;
}
#tweet h2 {
	color: #fff;
	font-weight: 500;
	margin-bottom: 30px;
}
#tweet p {
	color: #fff;
	font-size: 15px;
}
#tweet .icon-tweet {
	display: inline-block;
	color: #fff;
	font-size: 50px;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,0.2);
	margin-bottom: 40px;
}
#tweet .icon-tweet i {
	height: 150px;
	width: 150px;
	line-height: 150px;
	color: #fff;
	background: #ff7200;
	font-size: 60px;
	border-radius: 50%;
}
#tweet .follow {
	background: #ff7200;
	font-size: 22px;
	color: #fff;
	display: inline-block;
	padding: 0px 40px;
	line-height: 50px;
	margin-top: 30px;
	border-radius: 4px;
}
/*=======================================================
			TEAM MEMBER
========================================================*/
#team-member {
	background: #fff;
	padding: 80px 0;
}
#team-member .membr {
	background: #f6fbff;
	border: 1px solid #e9f0f6;
	text-align: center;
	display: inline-block;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#team-member {
}
#team-member .tittle h2 {
	color: #a1acc0;
}
#team-member .tittle p {
	color: #a1acc0;
}
#team-member .tittle hr {
	background: #a3abc0;
}
#team-member .tittle hr:before {
	background: #fff;
	border-color: #a3abc0;
}
#team-member .social_icons {
	background: rgba(0,0,0,0.5);
}
#team-member .social_icons {
	color: #a1acc0;
}
#team-member .social_icons a {
	color: #fff !important;
	border-radius: 0px;
}
#team-member .membr-over {
	position: absolute;
	bottom: -100%;
	width: 100%;
	text-align: left;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#team-member .membr-over h6 {
	background: #f6fbff;
	padding: 20px;
	padding-bottom: 0px;
	margin: 0px;
}
#team-member .membr-over p {
	background: #f6fbff;
	padding: 20px;
	margin: 0px;
	padding-top: 5px;
	font-style: italic;
	color: #a1acc0;
}
#team-member li:hover .membr-over {
	bottom: 0px;
	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
/*=======================================================
			WHY CHOOSE WITH US
========================================================*/
#why-chooe {
	background: url(../images/bg/tweet-bg.jpg) fixed no-repeat;
	padding: 80px 0;
	padding-bottom: 0px;
	background-size: cover;
}
#why-chooe .why-chooe img {
	display: inline-block;
	position: relative;
	z-index: 1;
}
#why-chooe .why-chooe .tittle {
	text-align: left;
	margin-top: 150px;
}
#why-chooe .why-chooe .tittle hr {
	margin-left: 0px;
}
#why-chooe .why-chooe .btn {
	font-size: 20px;
	color: #fff;
	line-height: 45px;
	display: inline-block;
	padding: 0 20px;
	border-radius: 4px;
	margin: 20px 0;
	font-weight: 400;
}
#why-chooe .why-chooe .btn-1 {
	background: no-repeat;
	margin-left: 20px;
	border: 1px solid #fff;
}
#why-chooe .why-chooe .btn:hover {
	background: #fff;
	color: #ff7200;
}
#why-chooe .why-chooe .btn-1:hover {
	background: #ff7200;
	color: #fff;
	border-color: #ff7200;
}
#why-chooe .why-chooe .tittle hr:before {
	margin-left: 130px;
	background: #000;
}
#why-chooe .bg-gray {
	background: #f9fafc;
	height: 220px;
	width: 100%;
	position: relative;
	margin-top: -195px;
}
#why-chooe.work-with {
	background: #f9fafc;
}
#why-chooe.work-with h2 {
	color: #8b9aab;
}
#why-chooe.work-with p {
	color: #8b9aab;
}
#why-chooe.work-with .btn-1 {
	border-color: #8b9aab;
	color: #8b9aab;
}
#why-chooe.work-with hr {
	background: #8b9aab;
}
#why-chooe.work-with .tittle hr:before {
	background: #f9fafc;
	border-color: #8b9aab;
}
/*=======================================================
			PURCHASE NOW
========================================================*/
#purchse-now {
	background: url(../images/bg/pattern-bg.jpg) fixed repeat;
	padding: 150px 0;
	text-align: center;
}
#purchse-now h2 {
	color: #fff;
	font-weight: 500;
}
#purchse-now h4 {
	color: #fff;
	font-size: 25px;
	margin-top: 10px;
	font-weight: 400;
}
#purchse-now .btn {
	font-size: 14px;
	color: #ff7200;
	background: #fff;
	line-height: 45px;
	display: inline-block;
	padding: 0 20px;
	border-radius: 4px;
	margin: 20px 0;
	font-weight: 400;
}
#purchse-now .btn:hover {
	color: #fff;
	background: #ff7200;
}
/*=======================================================
			SUBCRIBE NOW
========================================================*/
#subcribe {
	background: #d8e1eb;
	padding: 80px 0;
	text-align: center;
}
#subcribe h2 {
	color: #fff;
	font-weight: 600;
}
#subcribe h4 {
	color: #fff;
	font-weight: 500;
	line-height: 30px;
}
#subcribe input {
	width: 370px;
	display: inline-block;
	height: 50px;
	border: none;
}
#subcribe .btn {
	height: 50px;
	line-height: 50px;
	margin-left: 30px;
	font-size: 14px;
}
#subcribe .btn:hover {
	background: #fff;
	color: #ff7200;
}
#subcribe .sub-cri {
	margin-top: 50px;
}
/*=======================================================
			PRICING
========================================================*/
#pricing {
	background: #f9fafc;
	padding: 80px 0;
	padding-bottom: 100px;
}
#pricing .tittle h2 {
	font-weight: 400;
}
#pricing .tittle p {
	color: #697a8e;
}
#pricing .pricing {
	text-align: center;
}
#pricing .pricing h2 {
	font-weight: bold;
	margin: 0px;
	color: #ff7200;
}
#pricing .pricing ul {
	background: #fff;
	margin-top: 50px;
	position: relative;
	box-shadow: 0 0 5px #dadada;
	border-bottom: 1px solid #ff7200;
}
#pricing .pricing .head {
	padding: 30px 0;
}
#pricing .pricing .head span {
	font-weight: 400;
	font-size: 12px;
	color: #8b9aab;
	line-height: 20px;
}
#pricing .pricing .head:before {
	height: 1px;
	width: 130px;
	margin: 0 auto;
	position: absolute;
	display: inline-block;
	background: #ff7200;
	content: "";
	left: 0px;
	top: 0px;
	right: 0px;
	position: absolute;
}
#pricing .price {
	border-top: 1px solid #eff1f6;
	border-bottom: 1px solid #eff1f6;
}
#pricing .price h2 {
	line-height: 67px;
}
#pricing .price h2 span {
	font-size: 16px;
}
#pricing .pricing ul li p {
	line-height: 67px;
	display: inline-block;
	width: 100%;
	margin: 0px;
	font-size: 15px;
	color: #c5ccdc;
}
#pricing .pricing ul li a {
	border: 1px solid #e9edf5;
	font-size: 15px;
	color: #c5ccdc;
	line-height: 45px;
	display: inline-block;
	padding: 0 40px;
	border-radius: 10px;
	margin: 20px 0;
}
#pricing .pricing ul li a:hover {
	background: #ff7200;
	border-color: #ff7200;
	color: #fff !important;
}
#pricing .pricing ul.stand {
	margin-top: 10px;
}
#pricing .pricing ul.stand .head {
	padding: 55px 0;
}
#pricing .pricing ul.stand li a {
	border-color: #ff7200;
	color: #ff7200;
	margin: 40px 0;
}
#pricing .pricing ul li:nth-child(2) {
	background: #f9fafc;
}
#pricing .pricing ul li:nth-child(4) {
	background: #f9fafc;
}
#pricing .pricing ul li:nth-child(6) {
	background: #f9fafc;
}
#pricing .pricing ul li:nth-child(8) {
	background: #f9fafc;
}
#pricing .pricing ul li:nth-child(10) {
	background: #f9fafc;
}
#pricing .pricing ul li:nth-child(12) {
	background: #f9fafc;
}
#pricing .pricing ul li:nth-child(14) {
	background: #f9fafc;
}
#pricing .pri-head .head {
	padding-top: 0px;
}
#pricing .pri-head .head h2 {
	background: #ff7200;
	color: #fff;
	font-size: 25px;
	width: 170px;
	padding-bottom: 10px;
	padding-top: 30px;
	display: inline-block;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#pricing .pri-head .head span {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}
/*=======================================================
			TEAM
========================================================*/
#team {
	padding: 80px 0;
	background: url(../images/bg/team-bg.jpg) fixed no-repeat;
	background-size: cover;
}
#team .tittle-1 hr {
	background: #ff7200;
}
#team .tittle-1 hr:before {
	background: #edebec;
	border-color: #ff7200;
}
#team .tittle-1 p {
	color: #98a4b6;
}
#team .team .avatar {
	display: inline-block;
	border-radius: 50%;
	height: 170px;
	width: 170px;
	background: #fff;
	text-align: center;
	border: 1px solid #ff7200;
	overflow: hidden;
}
#team .team li {
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
#team .team-info p {
	color: #98a4b6;
	font-size: 14px;
}
#team .team-info span {
	color: #8a8a8a;
	font-size: 14px;
	line-height: 30px;
}
#team li:hover .avatar {
	border: 4px solid #e23a18;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#team li p {
	color: #fff;
}
#team.team-2 {
	background: none;
}
#team.team-2 h2, h6 {
	color: #a3abc0;
}
#team.team-2 .team .avatar {
	border-color: #a3abc0;
}
#team.team-2 .tittle-1 hr {
	background: #a3abc0;
}
#team.team-2 .tittle-1 hr:before {
	background: #fff;
	border-color: #a3abc0;
}
.skillbar {
	position: relative;
	display: block;
	margin-bottom: 13px;
	width: 100%;
	background: #fff;
	height: 50px;
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
}
.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	background: none;
}
.skillbar-title span {
	display: block;
	padding: 0 20px;
	line-height: 50px;
}
.skillbar-bar {
	height: 50px;
	width: 0px;
	background: #ff7200;
}
.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	height: 50px;
	line-height: 50px;
	color: #ff7200;
	font-size: 25px;
}
/*==========================================================================
	   Countdown styles
========================================================================== */
#counters {
	background: #fff;
	padding: 80px 0;
}
#counters ul li {
	text-align: center;
}
#counters ul li i {
	width: 100%;
	text-align: center;
	color: #ff7200;
	font-size: 30px;
}
#counters ul li span {
	font-size: 38px;
	color: #ff7200;
	font-weight: 300;
	line-height: 90px;
}
#counters ul li h3 {
	margin: 0px;
}
/*=======================================================
			CONTACT FORM
========================================================*/
#contact {
	background: url(../images/bg/bg-1.jpg) fixed no-repeat;
	background-size: cover;
	padding: 80px 0;
}
#contact .tittle h2 {
	color: #fff;
}
#contact .tittle hr {
	background: #fff;
	margin-bottom: 30px;
}
#contact .tittle hr:before {
	background: #8a8a8a;
	border-color: #fff;
}
.contactForm {
	background: rgba(255,255,255,0.3);
	display: inline-block;
	width: 100%;
	padding: 30px;
	margin-top: 50px;
}
/*======================== FORM ========================*/
.contactForm input[type="text"] {
	background-color: rgba(0,0,0,0.5);
	border-radius: 0px;
	color: #fff;
	font-style: italic;
	font-size: 20px;
	padding: 0px 20px;
	border: none;
	height: 60px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 100%;
	margin-bottom: 30px;
}
.contactForm input[type="email"] {
	background-color: rgba(0,0,0,0.5);
	border-radius: 0px;
	color: #fff;
	font-style: italic;
	font-size: 20px;
	padding: 0px 20px;
	border: none;
	height: 60px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 100%;
	margin-bottom: 30px;
}
.contactForm input[type="password"] {
	background-color: rgba(0,0,0,0.5);
	border-radius: 0px;
	color: #fff;
	font-style: italic;
	font-size: 20px;
	padding: 0px 20px;
	border: none;
	height: 60px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 100%;
	margin-bottom: 30px;
}
.contactForm textarea {
	background-color: rgba(0,0,0,0.5);
	border-radius: 0px;
	color: #fff;
	font-style: italic;
	font-size: 20px;
	padding: 0px 20px;
	border: none;
	height: 60px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 100%;
	margin-bottom: 30px;
}
.contactForm textarea {
	padding: 10px 20px;
	height: auto;
	margin: 0px;
	min-height: 190px;
}
.contactForm input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: rgba(0,0,0,1);
}
.contactForm input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
 color: #999;
}
.form-group {
	margin-bottom: 0px;
}
.error {
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	float: right;
	margin: -71px 10px 0 0;
	position: relative;
	top: 0;
}
.error i {
	background: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	width: 20px !important;
	height: 20px !important;
	margin: 0px;
	text-align: center;
	line-height: 20px;
	padding: 0px;
	border-radius: 4px;
}
.error i:before {
	color: rgba(255,255,255,0.9);
	content: "";
	font-family: FontAwesome;
	font-size: 11px;
	margin-right: 0px;
	vertical-align: top;
	width: 20px !important;
	height: 20px !important;
}
/*======================== ANIMATION ========================*/
.close:before, .close:after {
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.contactForm .btn {
	background: rgba(0,0,0,0.5);
	border-radius: 0px;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 60px;
	margin-top: 25px;
}
.contactForm .btn:hover {
	background: #ff7200;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #fff;
}
.contactForm .successMsg {
	font-size: 50px;
	color: #fff;
	width: 100%;
	text-align: center;
}
/*=======================================================
			COMPANY INFORMATION
========================================================*/
.company-info li {
	margin-top: 30px;
}
.company-info li .inner {
	background: rgba(255,255,255,0.3);
	padding: 30px;
}
.company-info li .inner h3 {
	margin: 0px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 13px;
}
.company-info li .inner p {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}
.company-info li .inner li {
	margin-top: 0px;
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	line-height: 39px;
}
.company-info li .inner li i {
	display: inline-block;
	margin-right: 10px;
	width: 25px;
}
#map {
	width: 100%;
	height: 400px;
}
.contact-map {
	position: relative;
	overflow: hidden;
}
.contact-map #map {
	height: 700px;
}
.contact-map .contactForm {
	position: absolute;
	top: -700px;
}
.contact-map .contactForm textarea {
	min-height: 280px;
}
.contact-map .contactForm {
	background: rgba(255,255,255,0.8);
	display: inline-block;
	width: 100%;
	padding: 30px;
	margin-top: 0px;
}
.contact-map input[type="text"], input[type="email"], input[type="password"], textarea {
}
.contact-map .contactForm .btn {
	background: #ff7200;
	width: 100%;
	border-radius: 10px;
}
.contact-light input[type="text"] {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #eaedf1;
	color: #000;
}
.contact-light input[type="email"] {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #eaedf1;
	color: #000;
}
.contact-light .contactForm {
	background: rgba(255,255,255,0.6);
}
.contact-light .contactForm textarea {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #eaedf1;
	color: #000;
}
.contact-light input[type="text"]:focus {
	background-color: #fff;
	border-color: #ff7200;
}
.contact-light input[type="email"]:focus {
	background-color: #fff;
	border-color: #ff7200;
}
.contact-light input[type="password"]:focuss {
 background-color: #fff;
 border-color: #ff7200;
}
.contact-light textarea:focus {
	background-color: #fff;
	border-color: #ff7200;
}
footer {
	background: #101010;
	padding: 60px 0;
	padding-bottom: 0px;
}
footer p {
	color: #fff;
}
footer p a {
	color: #fff;
}
footer h5 {
	font-weight: bolder;
	font-size: 20px;
	margin-bottom: 50px;
}
footer h5 span {
	color: #fff;
}
footer .recent-post {
}
footer .recent-post li {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
footer .recent-post .img-post {
	float: left;
	height: 65px;
	width: 65px;
	overflow: hidden;
	position: relative;
	margin-right: 13px
}
footer .foot-post {
}
footer .foot-post span {
	color: #a0a0a0;
	margin-top: 10px;
	display: inline-block;
}
footer .recent-post .img-post img {
	width: 100%;
}
footer .recent-post a {
	color: #a6a6a6;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
}
footer .recent-post a:hover {
	color: #fff;
}
footer .recent-post .img-post .over-post {
	position: absolute;
	background: #ff7200;
	height: 100%;
	width: 100%;
	top: 0px;
	text-align: center;
	line-height: 65px;
	opacity: 0;
	color: #fff;
	font-size: 20px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
footer .recent-post .img-post .over-post a {
	color: #fff;
	font-size: 20px;
}
footer .recent-post .img-post:hover .over-post {
	opacity: 1;
}
footer .about img {
	margin-bottom: 20px;
}
footer .about a {
	color: #fff;
	margin-top: 20px;
	text-decoration: underline;
}
footer .tags {
}
footer .tags li {
	display: inline-block;
}
footer .tags li a {
	font-size: 14px;
	display: inline-block;
	border: 1px solid #fff;
	color: #fff;
	float: left;
	margin-right: 5px;
	line-height: 30px;
	padding: 0 10px;
	margin-bottom: 5px;
}
footer .tags li a:hover {
	background: #ff7200;
	border-color: #ff7200;
}
footer .flicker li {
	float: left;
	width: 30%;
	position: relative;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	background: #ff7200;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
footer .flicker li:hover img {
	opacity: 0;
}
.rights {
	background: #0d0d0d;
	padding: 20px 0;
	padding-top: 40px;
	margin-top: 50px;
}
.rights li {
	display: inline-block;
	padding: 0 5px;
}
.rights a {
	color: #fff;
}
.rights a:hover {
	color: #ff7200;
}
/*=======================================================
			Light Footer
========================================================*/
.light-footer {
	background: #f7f8f9;
}
.light-footer p {
	color: #8b9aab;
}
.light-footer .recent-post a {
	color: #c5ccd4;
}
.light-footer h5 span {
	color: #ff7200;
}
.light-footer .recent-post a:hover {
	color: #8b9aab;
}
.light-footer .tags li a {
	color: #bcc8d4;
	border-color: #b8c5d2;
}
.light-footer .tags li a:hover {
	color: #fff;
}
.light-footer .rights {
	background: #eaeced;
}
.light-footer .rights p {
	color: #98a4b3;
}
.light-footer .rights a {
	color: #98a4b3;
}
.light-footer .rights a:hover {
	color: #ff7200;
}
/*=======================================================
			BLOG
========================================================*/
#blog {
	padding: 80px 0;
}
#blog .tittle h2 {
	font-weight: 400;
}
#blog .tittle p {
	color: #697a8e;
}
#blog .over {
	padding: 20px;
	padding-top: 10%;
	text-align: left;
	background: rgba(226, 55, 24, 0.8);
}
#blog .over p {
	color: #fff;
}
#blog .over a {
	color: #fff;
	font-size: 22px;
}
#blog .blog {
	margin-top: 40px;
}
#blog .blog img {
	width: 100%;
}
#blog .blog .b-inner {
	padding: 20px;
	background: #f7f8f9;
}
#blog .blog .b-inner .b-tittle {
	font-size: 25px;
	color: #8b9aab;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	text-decoration: none;
}
#blog .blog .b-inner p {
	font-size: 14px;
	color: #bbc3d4;
}
#blog .blog .b-inner span {
	color: #8b9aab;
	font-size: 12px;
	display: inline-block;
	margin-top: 20px;
}
#blog .blog .b-inner span a {
	color: #8b9aab;
}
#blog .blog .b-inner .btm-det {
	display: inline-block;
	width: 100%;
}
#blog .blog .b-inner span i {
	margin-right: 5px;
	color: #fd9540;
}
#blog .blog .b-inner .com {
	float: right;
	margin-right: 13px;
	font-size: 12px;
}
#blog .blog .b-inner .love {
	float: right;
	font-size: 12px;
}
/*=======================================================
			PURCHASE NOW
========================================================*/
.purchase {
	background: #f7f8f9;
	border: 1px solid #eef1f4;
	padding: 13px 35px;
	margin-bottom: 100px;
}
.purchase h3 {
	color: #8b9aab;
}
.purchase p {
	font-weight: 300;
	color: #8b9aab;
}
.pur-btn {
	display: inline-block;
	font-size: 14px;
	float: right;
	padding: 0 40px;
	margin-top: 20px;
	line-height: 50px;
	background: #fff;
	border: 1px solid #f0f3f5;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.pur-btn:hover {
	background: #ff7200;
	color: #fff;
	border-color: #ff7200;
}
/*=======================================================
			TESTIMONIALS
========================================================*/
#testimonials {
	background: url(../images/background/texti-bg.jpg) fixed repeat-y;
	position: relative;
	background-size: cover;
}
#testimonials .overlay {
	padding: 80px 0;
}
#testimonials .testi {
	margin-top: 100px;
	text-align: center;
	padding: 0 5%;
}
#testimonials p {
	color: #fff;
	font-size: 20px;
}
#testimonials hr {
	background: url(../images/texti-hr.png) no-repeat;
	width: 305px;
	height: 21px;
	margin: 25px auto;
	border: none;
}
#testimonials .avatr {
	display: inline-block;
	height: 60px;
	width: 60px;
	float: left;
	overflow: hidden;
}
#testimonials .name {
	display: inline-block;
	margin-left: 10px;
	text-align: left;
	margin-top: 4px;
	float: left;
}
#testimonials .name h5 {
	color: #fff;
	margin-top: 0px;
	line-height: 10px;
}
#testimonials .name p {
	font-size: 14px;
}
#testimonials .author {
	display: inline-block;
	text-align: center;
	width: 280px;
	margin: 0 auto;
}
#testimonials .slides {
	text-align: center;
}
/*=======================================================
			CLIENTS
========================================================*/
#clients {
	padding: 20px 0;
}
#owl-client .owl-item .item {
	text-align: center;
}
#owl-client .owl-item .item img {
	display: inline-block;
}
#clients .owl-buttons div {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	top: 5px;
	line-height: 30px;
	margin: 0 10px;
	font-size: 16px;
	background: none;
	color: #333;
}
#clients a img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/s….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#clients a:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/s….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#clients .owl-prev {
	left: -40px;
}
#clients .owl-next {
	right: -40px;
}
/*=======================================================
			PRODUCTS
========================================================*/
.products {
}
.products .bnr {
	padding: 100px 0px;
}
.products .bnr li .inner {
	display: inline-block;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	padding: 20px;
	border: 1px solid #ecf0f4;
}
.products .bnr a {
	color: #697a8e;
	border: 1px solid #dee7f1;
	font-size: 25px;
	font-weight: 300;
	border-radius: 4px;
	padding: 5px 13px;
	margin-top: 20px;
	display: inline-block;
}
.products .bnr a:hover {
	background: #ff7200;
	color: #fff;
	border-color: #ff7200;
}
.featu-products {
	background: #f9fafc;
	padding: 100px 0;
	border-top: 1px solid #e3e7f0;
}
.featu-produ {
}
.featu-produ .tittle {
	text-align: left;
	margin-bottom: 50px;
}
.featu-produ .tittle .btn {
	float: right;
}
.featu-produ .tittle p {
	color: #697a8e;
}
.featu-produ .product {
	border: 1px solid #e0e7ef;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.featu-produ .pro-info {
	padding: 20px;
	border-top: 1px solid #e0e7ef;
}
.featu-produ .pro-info a {
	font-size: 18px;
	color: #697a8e;
	font-weight: bold;
}
.featu-produ .pro-info h4 span {
	color: #b8c2ce;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	text-decoration: line-through;
}
.featu-produ .pro-info {
	text-align: left;
	background: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.featu-produ .pro-info .stars li {
	display: inline-block;
}
.featu-produ .pro-info .stars a {
	color: #8290a1;
}
.featu-produ .pro-info .stars a:hover {
	color: #ff7200;
}
.featu-produ .pro-info a.rate {
	color: #ff7200;
}
.featu-produ .chart-icon {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}
.featu-produ .chart-icon a {
	height: 30px;
	width: 30px;
	margin-right: 10px;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	border-radius: 4px;
	color: #fff !important;
	display: inline-block;
	background: #c1cfde;
}
.featu-produ .chart-icon a:hover {
	background: #ff7200;
}
.featu-produ .btn {
	color: #697a8e;
	border: 1px solid #dee7f1;
	font-size: 25px;
	font-weight: 300;
	border-radius: 4px;
	padding: 0px 13px;
	margin-top: 20px;
	display: inline-block;
	background: none;
	margin-left: 20px;
	line-height: 50px;
	margin-top: 30px;
}
.featu-produ .btn:hover {
	background: #fff;
}
.product-item {
	background: #fff;
	padding: 100px 0;
}
.product-item .product {
	margin-bottom: 30px;
	text-align: center;
	background: #f1f3f8;
}
.product-item .product img {
	display: inline-block;
	text-align: center;
}
.featu-produ .product:hover {
	background: #f1f3f8;
}
.featu-produ .product:hover .pro-info {
	background: #f1f3f8;
}
.product-item .nav-tabs {
	border: none;
	margin-bottom: 30px;
}
.product-item .nav-tabs {
	float: right;
}
.grid-view {
	float: left;
}
.grid-view li {
	display: inline-block;
	margin-right: 20px;
}
.grid-view li a {
	font-size: 36px;
	color: #c1cfde;
}
.grid-view li a.active {
	color: #ff7200;
}
.product-item .nav-tabs > li {
	border: none;
}
.product-item .nav-tabs > li a {
	border: none;
	font-size: 19px;
	padding: 5px 20px;
	margin-left: 20px;
	font-weight: 300;
	border: 1px solid #dee7f1 !important;
}
.product-item .nav-tabs > li a:hover {
	background: #f7f8f9;
	color: #ff7200;
}
.product-item .ta-pani {
	border-bottom: 1px solid #e3e7f0;
	margin-bottom: 70px;
	display: inline-block;
	width: 100%;
}
.product-item .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #f7f8f9;
	color: #ff7200;
}
.featu-produ .bnr {
	padding: 0px;
	margin-top: 40px;
}
/*=======================================================
			PRODUCTS WITH SIDE BAR
========================================================*/
.pro-wth-side .ta-pani {
	margin-bottom: 20px;
}
.pro-wth-side select {
	background: #f9fafc;
	border: 1px solid #dee7f1;
	width: 250px;
	height: 50px;
	border-radius: 4px;
	float: left;
	font-size: 20px;
	color: #697a8e;
	padding: 0 10px;
	font-weight: 300;
	margin-right: 20px;
	margin-bottom: 20px;
}
.pro-wth-side .grid-view {
	float: right;
}
.pro-wth-side .grid-view li {
	margin-right: 0px;
	margin-left: 10px;
}
/*=======================================================
			SHOP SIDE BAR
========================================================*/
.shop-side-bar {
}
.shop-side-bar h5 {
	font-weight: bold;
	color: #697a8e;
	padding-bottom: 20px;
	margin-top: 30px;
	border-bottom: 1px solid #e3e7f0;
}
.shop-side-bar .cate-side {
}
.shop-side-bar .cate-side li {
	padding-top: 13px;
	display: inline-block;
	width: 100%;
}
.shop-side-bar .cate-side li:hover img {
	opacity: 0.5;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-side-bar .cate-side li .img-side {
	width: 100px;
	border: 1px solid #dfe2e9;
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.shop-side-bar .cate-side li a {
	font-weight: bold;
	color: #697a8e;
	font-size: 14px;
	line-height: 25px;
}
.shop-side-bar a:hover {
	color: #ff7200 !important;
}
.shop-side-bar .cate-side li span {
	color: #ff7200;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	width: 50%;
	margin-top: 13px;
}
.shop-side-bar .cate-sim a {
	display: inline-block;
	width: 100%;
	color: #adb9c6;
	font-size: 15px;
	line-height: 25px;
}
.shop-side-bar .cate-sim {
	margin-top: 0px;
}
.shop-side-bar .cate-sim li {
	border-bottom: 1px solid #eef0f2;
	line-height: 52px;
}
.shop-side-bar .cate-sim a span {
	font-size: 10px;
	background: #adb9c6;
	height: 20px;
	width: 30px;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	float: right;
	margin-top: 5px;
	text-align: center;
	line-height: 20px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.shop-side-bar .cate-sim li:hover a span {
	background: #ff7200;
}
.pro-filter li {
	margin-bottom: 30px;
}
.pro-filter li a:hover img {
	opacity: 0.5;
}
.pro-list-v {
	background: #f9fafc;
	display: inline-block;
	width: 100%;
}
.pro-list-v .chart-icon {
	margin-top: 20px;
}
.pro-list-v .pro-info {
	background: #f9fafc !important;
	border: none;
	border-left: 1px solid #e0e7ef
}
.pro-list-v:hover .pro-info {
	background: #fff !important;
}
.pro-list-v .pro-info .stars {
	margin-bottom: 20px;
}
.errow {
	width: 100%;
	display: inline-block;
	text-align: center;
}
.errow li {
	display: inline-block;
}
.errow a {
	background: #b4c4d7;
	height: 50px;
	width: 50px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-left: 20px;
	line-height: 47px;
	border-radius: 6px;
	display: inline-block;
}
.errow a:hover {
	background: #ff7200;
}
/*=======================================================
			PRODUCTS IMFORMATION
========================================================*/
.item-informt {
}
.item-informt #imageGallery img {
	width: 100%;
}
.item-informt .lSSlideOuter .lSPager.lSGallery {
	width: 100% !important;
	text-align: center;
}
.item-informt .lSSlideOuter .lSPager.lSGallery li {
	width: 95px !important;
	margin: 0px 9px 0 0 !important;
	border: 1px solid #dee7f1;
}
.item-informt .lSSlideOuter .lSPager.lSGallery li:nth-last-child(1) {
	margin: 0px !important;
}
.item-informt .lSSlideOuter .lSGallery li {
	float: none;
	display: inline-block;
}
.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
}
.colors {
	display: inline-block;
	width: 100%;
}
.colors ul {
	display: inline-block;
	float: left;
}
.colors ul li {
	display: inline-block;
	float: left;
	width: auto;
	padding: 1px;
	background: #fff;
	overflow: hidden;
	position: relative;
	margin-right: 5px;
	margin-bottom: 10px;
}
.colors ul li a {
	height: 30px;
	width: 30px;
	float: left;
	border-radius: 4px;
}
.choose-clor {
	background: #eef1f7;
	display: inline-block;
	border: 1px solid #d3dae9;
	color: #697a8e;
	font-size: 12px;
	height: 30px;
	border: 1px solid #d3dae9;
	line-height: 30px;
	float: right;
	border-radius: 4px;
	padding: 0 20px;
}
.choose-clor i {
	margin-left: 10px;
}
.colors ul li a.blue {
	background: #428bca;
}
.colors ul li a.green {
	background: #88c136;
}
.colors ul li a.red {
	background: #e54242;
}
.colors ul li a.yellow {
	background: #ff9c00;
}
.colors ul li a.brown {
	background: #987654;
}
.colors ul li a.cyan {
	background: #1ABC9C;
}
.colors ul li a.purple {
	background: #c74a73;
}
.colors ul li a.sky-blue {
	background: #00cdcd;
}
.colors .gray {
	background: #656565;
}
.coupen input {
	width: 200px;
	border-radius: 4px;
	border: 1px solid #d3dae9;
	color: #bac3d7;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.coupen input[type="text"]:focus {
	background: #fff;
}
.item-tags {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.item-tags li {
	display: inline-block;
}
.item-tags li a {
	color: #ff7200;
}
.item-informt .btn {
	background: #f1f3f8;
	border: 1px solid #c6cdde;
	color: #697a8e;
	font-size: 12px;
	font-weight: 500;
	padding: 0px 13px;
	line-height: 40px;
	min-width: inherit;
	margin: 0px;
	margin-top: 20px;
	margin-right: 20px;
}
.item-informt .btn:hover {
	background: #ff7200;
	color: #fff;
	border-color: #ff7200;
}
.item-informt .btn i {
	margin-right: 10px;
}
.item-informt .nav-tabs > li a {
	margin: 0px;
	margin-right: 10px;
	font-size: 14px;
	height: 45px;
	line-height: 42px;
	padding: 0px 30px;
	color: #697a8e;
}
.item-informt .tabi-inner {
	background: #fff;
	padding: 30px;
	border: 1px solid #f0f2f5;
	margin-top: 10px;
	border-radius: 4px;
	color: #b1bece;
}
.item-informt .tabi-inner p {
	font-style: italic;
}
.item-informt .tabi-inner p a {
	font-size: 14px;
	display: inline-block;
	width: 100%;
	color: #ff7200;
	font-weight: bold;
}
.item-informt .tabi-inner p {
	color: #b1bece;
}
.item-informt .nav-tabs {
	float: none;
	margin: 0px;
	margin-top: 30px;
}
.item-informt .tab-content {
	display: inline-block;
	width: 100%;
}
.item-info {
	border-bottom: 1px solid #e3e7f0;
	padding-bottom: 30px;
}
.item-informt h3 {
	color: #697a8e;
	padding-bottom: 21px;
	border-bottom: 1px solid #e3e7f0;
	margin-bottom: 26px;
}
.item-informt .item-info p {
	font-style: italic;
}
.item-informt .item-info h3 {
	border: none;
	margin: 0px;
}
.item-informt .item-info p a {
	font-size: 14px;
	display: inline-block;
	width: 100%;
	color: #ff7200;
	font-weight: bold;
	border-bottom: 1px solid #e3e7f0;
	padding-bottom: 20px;
}
.item-informt .item-info h4 {
	margin-top: 0px;
}
.item-informt .item-info .stars li {
	display: inline-block;
}
.item-informt .item-info .stars p {
	margin-right: 10px;
}
.item-informt .item-info h4 span {
	color: #b8c2ce;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	text-decoration: line-through;
}
.item-informt .item-info .stars .rate i {
	color: #dde5ef;
}
/*=======================================================
			PRICING RANGE
========================================================*/
.sidebar-nav.cost-price {
	margin-bottom: 70px;
}
.cost-price-content {
	display: inline-block;
	position: relative;
	margin-bottom: 50px;
	margin-top: 20px;
}
.price-min {
	left: 0;
}
.price-max {
	right: 0;
}
/*=======================================================
			SHOP SUB BANNER
========================================================*/
.shop-sub-bnr {
	background: url(../images/bg/sub-banner.jpg) fixed center center no-repeat;
	background-size: cover;
	padding: 40px 0;
	display: inline-block;
	width: 100%;
}
.shop-sub-bnr h2 {
	font-weight: 600;
	color: #fff;
	margin-bottom: 0px;
}
.shop-sub-bnr p {
	color: #fff;
}
.shop-sub-bnr .menu-sub-small {
	background: none;
	border: none;
	width: auto;
}
.shop-sub-bnr .menu-sub-small {
	margin-top: 13px;
}
.shop-sub-bnr .menu-sub-small a {
	font-size: 14px;
	color: #fff !important;
}
.shop-sub-bnr .menu-sub-small i {
	color: #fff;
}
/*=======================================================
			SHOP MENU SMALL
========================================================*/
.menu-sub-small {
	background: #f9fafc;
	height: 50px;
	border-bottom: 1px solid #e3e7f0;
}
.menu-sub-small li {
	display: inline-block;
	line-height: 50px;
}
.menu-sub-small li i {
	padding: 0 10px;
}
.menu-sub-small li:nth-child(1) a {
	color: #ff7200;
}
.menu-sub-small li:nth-child(2) a {
	color: #ff7200;
}
/*=======================================================
			POST INFORMATION
========================================================*/
.post-info {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid #e3e7f0;
	padding-bottom: 20px;
}
.post-info li {
	color: #697a8e;
	display: inline-block;
	font-weight: bolder;
	font-size: 13px;
}
.post-info li span {
	margin: 0 10px;
	font-size: 30px;
}
.post-info li a {
	color: #ff7200;
}
iframe {
	border: none;
}
#blog.blog-pages .b-tittle {
	font-size: 21px;
	color: #8b9aab;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	text-decoration: none;
	font-weight: bold;
}
#blog.blog-pages p {
	color: #b0b9c7;
	font-size: 13px;
}
#blog.blog-pages .read-more {
	border: 1px solid #b0b9c7;
	color: #697a8e;
	font-size: 15px;
	border-radius: 4px;
	padding: 10px 30px;
	display: inline-block;
	background: #f2f4f7;
	margin-top: 30px;
	margin-bottom: 50px;
}
#blog.blog-pages .read-more:hover {
	background: #ff7200;
	color: #fff;
	border-color: #ff7200;
}
#blog.blog-pages .b-post {
}
/*=======================================================
			BLOG SIDE BAR
========================================================*/
.blog-side-bar h5 {
	margin-top: 50px;
	margin-bottom: 30px;
}
.blog-side-bar .flicker {
	margin: 0 -10px;
}
.blog-side-bar .flicker li {
	padding: 0 10px;
	margin-bottom: 20px;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.blog-side-bar .flicker li:hover img {
	opacity: 0.3;
}
.b-post #owl-single .owl-buttons div {
	height: 35px;
	width: 35px;
	border-radius: 0px;
	position: relative;
	background: rgba(0,0,0,0.5);
	opacity: 1;
	text-align: center;
	line-height: 35px;
	padding: 0px;
	font-size: 20px;
	position: absolute;
	top: 45%;
}
.b-post #owl-single .owl-buttons {
}
.b-post #owl-single .owl-buttons .owl-prev {
	left: -4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.b-post #owl-single .owl-buttons .owl-next {
	right: -4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.b-post .text-post {
	border-radius: 4px;
	background: #efb413 url(images/tetext-post.png) center center no-repeat;
	margin-top: 80px;
	margin-bottom: 80px;
}
#blog .text-post p {
	color: #fff;
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
}
#blog .text-post h4 {
	font-weight: normal;
	color: #fff;
	padding: 20px;
	border-top: 1px solid #fff;
}
.blog-side-bar .tw-widgets li {
	border-bottom: 1px solid #eef0f2;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.blog-side-bar ul.wid-in li {
	border: none;
	margin-bottom: 0px;
}
.blog-side-bar ul.wid-in li:nth-child(1) {
	width: 70px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	float: left;
	display: inline-block;
	border: none;
}
.blog-side-bar ul.wid-in li h5 {
	margin: 0px;
	padding-bottom: 10px;
	border: none;
	color: #697a8e !important;
}
.blog-side-bar ul.wid-in li:nth-child(2) {
	float: right;
	width: 75%;
}
.blog-side-bar ul.wid-in li span {
	color: #c8d1db;
	font-size: 15px;
}
.blog-side-bar ul.wid-in li a {
	color: #ff7200;
}
.blog-side-bar .cate-side li .img-side img {
}
.blog-side-bar .cate-side li a {
	font-size: 20px;
	line-height: 30px;
}
.blog-side-bar .cate-side li span {
	width: 65%;
	font-size: 12px;
	color: #b7c2cd;
}
.blog-side-bar .cate-side li span i {
	color: #b7c2cd;
	margin: 0 10px;
}
.blog-side-bar .search input {
	width: 100%;
	border: none;
	border: 1px solid #e3e7f0;
	border-radius: 6px;
	height: 60px;
	padding: 0 20px;
	font-style: italic;
	color: #adb9c6;
	font-size: 14px;
}
.blog-side-bar .search button {
	height: 60px;
	color: #adb9c6;
	font-size: 20px;
	background: none;
	border: none;
	border-left: 1px solid #e3e7f0;
	position: relative;
	float: right;
	margin-top: -60px;
	width: 60px;
	text-align: center;
}
/*=======================================================
			BLOG SINGLE POST
========================================================*/
.single-post {
}
.single-post p strong {
	color: #9aa8b8;
}
.single-post p span.orange {
	color: #ff7200;
	font-style: italic;
}
.single-post .gry-bg {
	background: #b2beca;
	color: #fff;
	padding: 0 10px;
}
.single-post .in-selec {
	background: #f9fafc;
	border: 1px solid #e3e7f0;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.single-post .in-selec a {
	color: #ff7200;
	font-style: italic;
}
.single-post .in-selec p {
	font-style: italic;
}
.single-post .big-text {
	width: 70px;
	height: 63px;
	display: inline-block;
	border-radius: 4px;
	background: #b2beca;
	line-height: 63px;
	text-align: center;
	color: #fff;
	float: left;
	font-size: 30px;
	margin-right: 20px;
}
.single-post h6 {
	margin: 30px 0;
	color: #697a8e;
}
.single-post .post-tags {
	border: 1px solid #cad0d9;
	border-radius: 6px;
	min-height: 50px;
	margin-top: 40px;
}
.single-post .post-tags a {
	display: inline-block;
	line-height: 50px;
	color: #bcc6d0;
	margin-left: 10px;
}
.single-post .post-tags a:hover {
	color: #ff7200;
}
.single-post .post-tags h4 {
	display: inline-block;
	margin: 0px;
	float: left;
	font-weight: normal;
	line-height: 50px;
	padding: 0 20px;
	color: #cad0d9;
	margin-right: 20px;
	border-right: 1px solid #cad0d9;
}
.single-post .post-tags.share .social_icons {
	margin-top: 9px;
}
.single-post .post-tags.share .social_icons li {
	background: #c7d0d9;
	margin: 0px;
	border-radius: 4px;
	padding: 0px;
	margin-right: 13px;
}
.single-post .post-tags.share .social_icons a {
	height: 32px;
	width: 32px;
	line-height: 30px !important;
	font-size: 16px;
	margin: 0px;
}
.single-post .auther-info {
	border-bottom: 1px solid #e6e7eb;
	border-top: 1px solid #e6e7eb;
	padding: 20px 0;
	display: inline-block;
	width: 100%;
	margin: 50px 0;
}
.single-post .auther-info li:nth-child(1) {
	height: 100px;
	width: 100px;
	border-radius: 4px;
	float: left;
}
.single-post .auther-info li:nth-child(1) img {
	width: 100%;
}
.single-post .auther-info li:nth-child(2) {
	float: right;
	width: 82%;
}
.single-post .auther-info h4 {
	margin: 0px;
	color: #8198aa;
	margin-bottom: 10px;
}
.single-post .comments .comme-peo {
	border-bottom: 1px solid #e3e7f0;
	padding-bottom: 0px;
	margin-bottom: 50px;
}
.single-post .comments h3 {
	color: #8198aa;
	margin-bottom: 40px;
}
.single-post .comments .reply-p {
	padding-left: 135px;
}
.single-post .comments .reply-p-2 {
	padding-left: 270px;
}
.single-post .comments li {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.single-post .coments li h4 {
	color: #879cb0;
	margin: 0px;
	margin-bottom: 10px;
	display: inline-block;
}
.single-post .coments li:nth-child(1) {
	height: 100px;
	width: 100px;
	border-radius: 4px;
	float: left;
	overflow: hidden;
}
.single-post .coments li {
	margin-bottom: 0px;
}
.single-post .coments li:nth-child(1) img {
	width: 100%;
}
.single-post .coments li:nth-child(2) {
	float: right;
	width: 82%;
	border-radius: 4px;
	border: 1px solid #b2beca;
	padding: 20px;
	padding-bottom: 10px;
}
.single-post .comments .reply-p li:nth-child(2) {
	width: 79%;
}
.single-post .coments span {
	font-weight: bold;
	color: #b2beca;
	margin-left: 50px;
	font-size: 14px;
}
.single-post .coments span a {
	margin-left: 50px;
	color: #b2beca;
	text-decoration: underline !important;
}
.single-post .coments span a:hover {
	color: #ff7200;
}
.single-post .coments {
}
.commnet-form input {
	width: 100%;
	height: 50px;
	box-shadow: none;
	font-size: 14px;
	padding: 0 20px;
	color: #b2beca;
}
.commnet-form textarea {
	width: 100%;
	box-shadow: none;
	font-size: 14px;
	padding: 10px 20px;
	color: #b2beca;
	min-height: 250px;
}
.commnet-form h3 {
	color: #8198aa;
	margin-bottom: 40px;
}
.commnet-form input[type="email"]:focus {
	background: none;
}
.commnet-form textarea:focus {
	background: none;
}
.commnet-form li {
	margin-bottom: 30px;
}
.commnet-form button {
	background: #ff7200;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	height: 50px;
	line-height: 50px;
	padding: 0 40px;
	display: inline-block;
	border: none;
	font-weight: bolder;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.commnet-form button:hover {
	background: #fff;
	color: #ff7200;
}
.full-single-p .auther-info li:nth-child(2) {
	width: 88%;
}
.full-single-p .coments li:nth-child(2) {
	width: 88%;
}
.full-single-p .comments .reply-p li:nth-child(2) {
	width: 87%;
}
.full-single-p .reply-p-2 .coments li:nth-child(2) {
	width: 85%;
}
.contact-pages {
	margin-top: -5px;
}
.con-info-down {
	padding: 80px 0;
}
.con-info-down h3 {
	color: #697a8e;
	margin-bottom: 30px;
}
.con-info-down .contactForm {
	padding: 0px;
}
.con-info-down .contact-light input {
	height: 50px;
	border: 1px solid #b2beca;
	border-radius: 4px;
}
.con-info-down .contact-light textarea {
	height: 50px;
	border: 1px solid #b2beca;
	border-radius: 4px;
}
.con-info-down .contactForm {
	margin-top: 0px;
}
.con-info-down .btn {
	background: none;
	border: 1px solid #ff7200;
	border-radius: 4px;
	color: #ff7200;
	line-height: 50px;
	padding: 0 40px;
	font-weight: 400;
}
/*=======================================================
			SHORTCODES
========================================================*/
.shortcodes {
	padding: 80px 0;
}
.shortcodes h2 {
	color: #697a8e;
	font-weight: bold;
}
.shortcodes p {
	color: #b0b9c7;
	font-size: 14px;
}
.shortcodes h3 {
	color: #697a8e;
	font-weight: normal;
}
.quate {
}
.quate {
	background: #f9fafc;
	border: 1px solid #e3e7f0;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.quate a {
	color: #ff7200;
	font-style: italic;
}
.big-text {
	width: 70px;
	height: 63px;
	display: inline-block;
	border-radius: 4px;
	background: #b2beca;
	line-height: 63px;
	text-align: center;
	color: #fff;
	float: left;
	font-size: 30px;
	margin-right: 20px;
}
.line {
	margin: 50px 0;
	width: 100%;
	height: 1px;
	display: inline-block;
	background: #cbd1da;
}
.shortcodes #pricing {
	background: #fff;
}
/*=======================================================
			PORTFOLIO PAGES
========================================================*/
.portfolio-pages {
	padding: 80px 0;
}
.portfolio-pages .project-tittle h3 {
	color: #7b90a9;
	font-weight: normal;
	display: inline-block;
}
.portfolio-pages .project-tittle {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #bccad9;
	padding-bottom: 25px;
	margin-bottom: 60px;
}
.portfolio-pages .project-tittle .pro-head {
	float: right;
	margin-top: 23px;
}
.portfolio-pages .project-tittle .pro-head a {
	background: #b4c4d7;
	height: 35px;
	width: 35px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin-left: 20px;
	line-height: 35px;
	border-radius: 6px;
	display: inline-block;
}
.portfolio-pages .project-tittle .pro-head a:hover {
	background: #ff7200;
}
.pro-si-info p {
	font-size: 16px;
	line-height: 32px;
	font-weight: normal;
	color: #889db5;
}
.pro-si-info h3 {
	color: #7b90a9;
	margin: 60px 0 30px 0px;
	border-bottom: 1px solid #bccad9;
	display: inline-block;
	padding-bottom: 30px;
}
.pro-si-detail {
	margin-bottom: 30px;
}
.pro-si-detail h3 {
	margin-top: 20px;
	color: #7b90a9;
}
.pro-si-detail p {
	font-size: 16px;
	line-height: 41px;
	color: #889db5;
}
.pro-si-detail li {
	display: inline-block;
	margin-right: 30px;
}
.pro-si-detail span {
	font-weight: bold;
}
.pro-si-wd h3 {
	margin-top: 60px;
}
.pro-si-wd li {
	display: inline-block;
	width: 100%;
	margin: 0px;
}
.wi-bor li {
	border-bottom: 1px solid #bccad9;
	padding: 10px 0;
}
.wi-bor li p {
	margin: 0px;
}
.wi-bor h3 {
	margin-bottom: 20px;
	margin-top: 0px;
}
.chart-table h5 {
	text-transform: uppercase;
	color: #697a8e;
	font-weight: bolder;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.chart-table li {
	border: 1px solid;
	border-color: transparent;
	border-bottom-color: #e3e7f0;
	padding: 30px 0;
	border-top: none;
	position: relative;
}
.chart-table li span:nth-child(1) img {
	border: 1px solid #dddde5;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}
.chart-table li a {
	color: #b0b9c7;
	font-size: 20px;
	line-height: 33px;
}
.chart-table .closii {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid #c8cfde;
	color: #fff;
	background: #e3e7f0;
	position: absolute;
	right: 0px;
	top: -13px;
	text-align: center;
	line-height: 26px;
	opacity: 0;
}
.chart-table li:hover {
	background: #f7f9fc;
	border: 1px solid #e3e7f0;
	border-top: none;
}
.chart-table li:hover .closii {
	opacity: 1;
}
.chart-table .pric {
	color: #ff7200;
	font-size: 30px;
	font-weight: normal;
}
.chart-table input {
	border-radius: 4px;
	background: #f2f4f7;
	border: 1px solid #dadfe8;
	text-align: center;
	height: 40px;
	width: 70px;
	margin: 0 auto;
}
#portfolio .items ul {
	margin: 0px;
}
/*=======================================================
			SOCIAL ICONS
========================================================*/
.social_icons {
	position: relative;
	z-index: 9999;
}
.social_icons ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social_icons li {
	display: inline-block;
	list-style-type: none;
}
.social_icons a {
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 0px 0px 0;
	font-size: 20px;
	line-height: 42px !important;
	text-decoration: none;
	border-radius: 4px;
	text-align: center;
	color: #fff !important;
}
.social_icons a:hover i {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 4px;
	color: #fff;
	-webkit-transition: 0.4s ease-in-out;
}
.social_icons .behance a:hover {
	color: #fff;
	background-color: #2b9ad2;
	border-color: #2b9ad2;
}
.social_icons .blogger a:hover {
	color: #fff;
	background-color: #ff6500;
	border-color: #ff6500;
}
.social_icons .deviantart a:hover {
	color: #fff;
	background-color: #536659;
	border-color: #536659;
}
.social_icons .dribbble a:hover {
	color: #fff;
	background-color: #f973a4;
	border-color: #f973a4;
}
.social_icons .facebook a:hover {
	color: #fff;
	background-color: #3b5a9b;
	border-color: #3b5a9b;
}
.social_icons .flickr a:hover {
	color: #fff;
	background-color: #ff0084;
	border-color: #ff0084;
}
.social_icons .forrst a:hover {
	color: #fff;
	background-color: #2f713d;
	border-color: #2f713d;
}
.social_icons .googleplus a:hover {
	color: #fff;
	background-color: #f63d26;
	border-color: #f63d26;
}
.social_icons .instagram a:hover {
	color: #fff;
	background-color: #507ea4;
	border-color: #507ea4;
}
.social_icons .lastfm a:hover {
	color: #fff;
	background-color: #da0019;
	border-color: #da0019;
}
.social_icons .linkedin a:hover {
	color: #fff;
	background-color: #0072b2;
	border-color: #0072b2;
}
.social_icons .paypal a:hover {
	color: #fff;
	background-color: #165c82;
	border-color: #165c82;
}
.social_icons .picasa a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .pinterest a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .skype a:hover {
	color: #fff;
	background-color: #00aaf1;
	border-color: #00aaf1;
}
.social_icons .soundcloud a:hover {
	color: #fff;
	background-color: #ff6900;
	border-color: #ff6900;
}
.social_icons .stumbleupon a:hover {
	color: #fff;
	background-color: #eb4823;
	border-color: #eb4823;
}
.social_icons .twitter a:hover {
	color: #fff;
	background-color: #2baae1;
	border-color: #2baae1;
}
.social_icons .vimeo a:hover {
	color: #fff;
	background-color: #40b2dc;
	border-color: #40b2dc;
}
.social_icons .youtube a:hover {
	color: #fff;
	background-color: #ff3330;
	border-color: #ff3330;
}

.modal {
    z-index:99999
}

/*STYLE SELECTED ORDER ITEMS*/

