
div.control-group.form-row.field-customer_id,
div.control-group.form-row.field-id{
    display: None;
}

div.inline-group fieldset.module td.field-status select{
    width: 250px;
}

div.inline-group fieldset.module div.field-status select{
    width: 300px;
}


/*div.control-group.form-row.field-sum_item_cost_tag label,*/
/*div.control-group.form-row.field-sum_item_shipping_tag label,*/
/*div.control-group.form-row.field-sum_item_service_charge_tag label,*/
/*div.control-group.form-row.field-total_item_cost_tag label,*/
/*div.control-group.form-row.field-total_cost_tag label,*/
/*div.control-group.form-row.field-sum_payment_transaction_tag label{*/
    /*font-weight: bold;*/
    /*font-size: 14px;*/
/*}*/

input.vIntegerField {
    width: 80px;
}

div.control-group.form-row.field-sum_item_cost_tag,
div.control-group.form-row.field-sum_item_shipping_tag,
div.control-group.form-row.field-sum_item_service_charge_tag,
div.control-group.form-row.field-total_item_cost_tag,
div.control-group.form-row.field-total_cost_tag,
div.control-group.form-row.field-sum_payment_transaction_tag{
    font-size: 14px;
    color: #D00000;

}

div.control-group.form-row.field-grant_total_tag {
    font-size: 15px;
    color: #007936;
}

div.control-group.form-row.field-display_sum_by_currency > div > div.controls > span > table > tbody {
    color: #D00000;
}

div.control-group.form-row.field-payment_left_tag /*> div > div.controls > span*/ {
    font-size: 14px;
    color: #6599FF;
}



div.field-box.field-currency select{
    width: 70px;
}
/*OrderItem Tab Inline*/
div.inline-group fieldset.module div.field-currency select{
    width: 70px;
}

div.inline-group label,
div.inline-group input,
div.inline-group button,
div.inline-group select,
div.inline-group textarea{
    font-weight: bold;
}

div.inline-group label{
    font-size: 14px;
}

div.control-group.form-row.field-option_selected_tag > div > div.controls > span{
    font-weight: bold;
    font-size: 16px;
    color: blue;
}


div.control-group.form-row.field-customer_note div.controls{
    color: #D00000;
}

div.control-group.form-row.field-quantity.field-price.field-shipping.multi-field-row div.controls,
div.control-group.form-row.field-quantity.field-price.field-shipping.multi-field-row div.control-label {
    /*background-color: #6599FF;*/
    /*background-color: rgba(101, 153, 255, 0.75)*/
    color: #6599FF;
}

div.control-group.form-row.field-order_quantity.field-order_price.field-order_shipping.multi-field-row div.controls,
div.control-group.form-row.field-order_quantity.field-order_price.field-order_shipping.multi-field-row div.control-label {
    /*background-color: #097054;*/
    /*background-color: rgba(9, 112, 84, 0.75)*/
    color: #097054;
}

div.control-group.form-row.field-paid_quantity.field-paid_price.field-paid_shipping.multi-field-row div.controls,
div.control-group.form-row.field-paid_quantity.field-paid_price.field-paid_shipping.multi-field-row div.control-label {
    /*background-color: #62587C;*/
    /*background-color: rgba(98, 88, 124, 0.75)*/
    color: #62587C;
}

div.control-group.form-row.field-service_charge.field-tax_cost.multi-field-row div.controls,
div.control-group.form-row.field-service_charge.field-tax_cost.multi-field-row div.control-label {
    /*background-color: #B0E57C; 5C9C1C*/
    /*background-color: rgba(176, 229, 124, 0.75);*/
    color: #C15D63;
}

div.control-group.form-row.field-total_order_currency_tag.field-total_tag.multi-field-row{
    font-size: 14px;
    color: #D00000;
}

/* For 4` monitor */

.table tbody>tr.warning>td, .table tbody>tr.warning>th {
    background-color: #FFE767!important;
    border-top: 1px solid #f8efbe!important;
}

.table tbody>tr.error>td, .table tbody>tr.error>th {
    background-color: #FAB8B8!important;
    border-top: 1px solid #eed3d3!important;
}

.table tbody>tr.danger>td, .table tbody>tr.danger>th {
    background-color: #FF0000!important;
    border-top: 1px solid #eed3d3!important;
    color: yellow;
}


.table tbody>tr.info>td, .table tbody>tr.info>th {
    background-color: #8AD8FF!important;
    border-top: 1px solid #c4e3f3!important;
}

.table tbody>tr.success>td, .table tbody>tr.success>th {
    background-color: #8BF881!important;
    border-top: 1px solid #d0e9c6!important;
}

.table tbody>tr.success-wrong>td, .table tbody>tr.success-wrong>th {
    background-color: #FF0000!important;
    border-top: 1px solid #2A0061!important;
    color: yellow;
}

.table tbody>tr.fast-order>td, .table tbody>tr.fast-order>th {
    color: #ff8503 !important;
}

.table tbody>tr.change>td, .table tbody>tr.change>th {
    color: #c768ff !important;
}

/*.toggle-enlarge { transition: all .2s ease-in-out; }*/
/*.toggle-enlarge:hover { transform: scale(2.0); }    */


/*Inline display like table, co dc deo dau dcm =.=' */

/*div.inline-related.dynamic-orderitem_set fieldset.module.aligned.first{*/
    /*display: table;*/
/*}*/
/*div.inline-related.dynamic-orderitem_set fieldset.module.aligned.first div.control-group.form-row {*/
    /*display: table-row;*/
/*}*/
/*div.inline-related.dynamic-orderitem_set div.control-group.form-row div.control-label,*/
/*div.inline-related.dynamic-orderitem_set div.control-group.form-row div.multi-field-box{*/
    /*display: table-cell;*/
/*}*/
