input[type='number'] {
    width: 90px;
}

input.vIntegerField {
    width: 80px;
}
input.vBigIntegerField {
    width: 80px;
}


/*hide delete related widget*/
fieldset.module div.related-widget-wrapper > a.delete-related{
    display: none;
}
/*hide inline related widget to save space*/
div.inline-group div.related-widget-wrapper > a {
    display: none;
}
div.inline-group fieldset.module select{
    width: 100px;
}

.table tbody>tr.success-wrong>td, .table tbody>tr.success-wrong>th {
    background-color: #FF0000!important;
    border-top: 1px solid #2A0061!important;
    color: yellow;
}

/* ######################### List View ###############*/
/*hide listview edit related widget*/
table#result_list div.related-widget-wrapper > a {
    display: none;
}

/*.table tbody>tr.fast-order>td, .table tbody>tr.fast-order>th {*/
    /*background: #ff8503 !important;*/
    /*border-top: 1px solid #2A0061!important;*/
    /*color: black;*/
/*}*/

/*.fast-order {*/
    /*background: #ff6d5c;*/
/*}*/

/*.insurance {*/
    /*background: #aeff00;*/
/*}*/
