{% extends "custom_admin_site/custom_site_base.html" %}
{% load i18n admin_static %}

{% block navigator_menu %}
    <li class="active"><a href="{% url 'CustomAdmin:statistics_count_total_user' %}">{% trans 'Total User' %}</a></li>
{% endblock %}

{% block extrajs %}
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Platform',  'User'],
           {% for item in resultPlatform %}
            ['{{item.platform}}',  {{item.available}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Total User by Platform'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>


<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Dt',  'User'],
           {% for item in resultDistributor %}
            ['{{item.dt}}',  {{item.available}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Total User by Dt ID'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
      }
</script>

{% endblock %}

{% block content %}
  <div id="content-main">
    <div id="piechart" style="width: 450px; height: 250px;"></div>

  </div>
{% endblock %}


{% block sidebar %}
  <div id="content-related">
    <div id="piechart2" style="width: 450px; height: 250px;"></div>
  </div>
{% endblock %}
