{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans 'INVOICE' %} #{{order.id}}</title>
    <link rel="stylesheet" href="/static/invoice_theme1/style.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{{ company_logo | default:"/static/invoice_theme1/logo.png"}}">
      </div>
      <div id="company">
        <h2 class="name">{{ company_name }}</h2>
        <div>{{ company_address }}</div>
        <div>{{ company_phone }}</div>
        <div><a href="mailto:{{ company_email }}">{{ company_email }}</a></div>
      </div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="client">
          <div class="to">{% trans 'INVOICE TO' %}:</div>
          <h2 class="name">{{ order.receiver_name | default:order.customer}}</h2>
          <div class="phone">{{ order.receiver_phone }}</div>
          <div class="address">{{ order.address_tag }}</div>
          <div class="email"><a href="mailto:{{order.customer.email}}">{{order.customer.email}}</a></div>
        </div>
        <div id="invoice">
          <h1>{% trans 'INVOICE Order' %} #{{order.id}}</h1>
          <div class="date">{% trans 'Date of Invoice' %}: {% now "d/m/Y" %}</div>
          <div class="date">{% trans 'Order Date' %}: {{order.created | date:"d/m/Y"}}</div>
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="no" colspan="1">#</th>
            <th class="desc" colspan="1">{% trans 'ITEM' %}</th>
            <th class="qty" colspan="1"></th>
            <th class="unit" colspan="1">{% trans 'UNIT PRICE' %}</th>
            <th class="qty" colspan="1">{% trans 'QTY' %}</th>
            <th class="unit" colspan="1">{% trans 'Total' %}</th>
            <th class="total" colspan="1">{% trans 'TOTAL' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for orderitem in order.orderitem_set.all %}
          <tr>
            <td class="no">{{forloop.counter}}</td>
            <td class="desc"><h3>{{orderitem.shopping_domain}}</h3>
              {{orderitem.name}}
            </td>
            <td class="qty">{{orderitem.image_tag}}</td>
            <td class="unit">{{orderitem.price_tag}}</td>
            <td class="qty">{{orderitem.quantity}}</td>
            <td class="unit">{{orderitem.total_tag}}</td>
            <td class="total">{{orderitem.total_order_currency_tag}}</td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">{% trans 'ID' %}</td>
                <td colspan="2">{% trans 'Customer Payment' %}</td>
                <td colspan="1"></td>
                <td colspan="2">{% trans 'Total Item Cost' %}</td>
                <td>{{order.total_item_cost_tag}}</td>
            </tr>
            {% for payment in customerpaymentList %}
            <tr>
                <td colspan="1">{{ payment.transaction.id }}</td>
                <td colspan="1">{{ payment.type }}</td>
                <td colspan="1">{{payment.amount_tag}}</td>
                <td colspan="1"></td>
            {% if forloop.first %}
                <td colspan="2">{% trans 'Extra Charge' %}</td>
                <td>{{order.extra_charge_tag}}</td>
            {% elif forloop.revcounter0 == 1 %}
                <td colspan="2">{% trans 'Total Cost' %}</td>
                <td>{{order.total_cost_tag}}</td>
            {% elif forloop.last %}
                <td colspan="2">{% trans 'Tax Cost' %}</td>
                <td>{{order.tax_cost_tag}}</td>
            {% endif %}
            </tr>
            {% endfor %}
             <tr>
                 <td colspan="1"></td>
                 <td colspan="1">{% trans 'Payment Total' %}</td>
                 <td colspan="1">{{order.sum_payment_transaction_tag}}</td>
                 <td colspan="1"></td>
                 <td colspan="2">{% trans 'GRAND TOTAL' %}</td>
                 <td colspan="1">{{order.grant_total_tag}}</td>
              </tr>
        </tfoot>
      </table>
      <div id="thanks">{% trans 'Thank you for using our service!' %}</div>
      <div id="notices">
        <div class="notice">{% trans 'Customer' %}</div>
        <div>{% trans 'Fullname' %}:</div>
        <div >{% trans 'Signature' %}:</div>
      </div>
    </main>
    <!--<footer>-->
        <!--{% trans 'Invoice was created on a computer and is valid without the signature and seal.' %}-->
    <!--</footer>-->
  </body>
</html>